{% extends '../base.html' %}

{% block title %} Portfolio | {% end %}

{% block body_class %}portfolio{% end %}

{% block content %}
  {% import slugify %}
  <div class="row">
    <div class="col-sm-3 hidden-xs">
      <div id="portfolio-filter">
        <p class="" style="white-space:nowrap; margin-top: 0;">By initial investment:</p>
        <ul class="filter-tabs" id="series">
          <li class="all active"><a href="#" usv-filter="all">All</a></li>
        </ul>
        <p class="" style="white-space:nowrap">By year:</p>
        <ul class="filter-tabs" id="years">
          <li class="all active"><a href="#" usv-filter="all">All</a></li>
        </ul>
        <p class="" style="white-space:nowrap">By category:</p>
        <ul class="filter-tabs" id="categories">
          <li class="all active"><a href="#" usv-filter="all">All</a></li>
        </ul>
        <p class="">By location:</p>
        <ul class="filter-tabs" id="locations">
          <li class="all active"><a href="#" usv-filter="all">All</a></li>
        </ul>
      </div>
    </div>
    <div class="col-sm-9 col-xs-12">
      <!-- NOT IN USE. Div for bio information when clicking on each person -->
      <div id="full-investment" style="display:none">
        <div id="full-investment-content"></div>
        <div id="close-investment"><a href="" class="btn btn-small">Close</a></div>
      </div>
      <h2 class="subsection section-heading" id="current-portfolio">Current Portfolio<span class="filter-label" style="display:none"></span></h2>
      <div class="row investments-list">
        {% for c in current %}
          <div class="col-sm-4 col-xs-6 company-container current" usv-investment="{{ c.name }}" usv:investment_series="{{ c.investment_series }}" usv:investment_series_slug="{{ slugify(c.investment_series) }}" usv:city_slug="{{ slugify(c.locations) }}" usv:city="{{ c.locations }}" usv:investment_date_slug="{{ c.investment_year }}" usv:investment_date="{{ c.investment_year }}" usv:investment_categories_slug="{{ slugify(c.categories) }}" usv:investment_categories="{{ c.categories }}">
            <div class="company card">
              <a class="open-investment" usv-investment="{{ c.name }}" href="{{ c.url }}"><img alt="{{ c.name }}" src="/static/img/logos/{{ c.slug }}.png" class="logo mt-image-none extra-padding" style="" width="220" height="150"></a>
              <p class="summary">
                <a class="company-link" href="{{ c.url }}">{{ c.name }}</a> {% raw c.description %}
              </p>
              <span class="since-date">
                <a href="/posts/{{ c.investment_post_slug }}">{{ c.investment_year }}, {{ c.investment_series }}</a>
              </span>
              <a class="about-investment" href="/posts/{{ c.investment_post_slug }}">
                <span class="glyphicon glyphicon-info-sign"></span>
              </a>
              {% if is_staff %}
                <span class="editlink">
                  <a href="{{ c.editlink() }}" target="_blank">edit</a>
                </span>
              {% end %}
            </div>
          </div>
        {% end %}
      </div>
      <h2 class="subsection section-heading" id="past-portfolio" style="clear:both">Exited Investments<span class="filter-label" style="display:none"></span></h2>  
      <div class="row investments-list">
        {% for c in exited %}
          <div class="col-sm-4 col-xs-6 company-container past" usv-investment="{{ c.name }}" usv:investment_series="{{ c.investment_series }}" usv:investment_series_slug="{{ slugify(c.investment_series) }}" usv:city_slug="{{ slugify(c.locations) }}" usv:city="{{ c.locations }}" usv:investment_date_slug="{{ c.investment_year }}" usv:investment_date="{{ c.investment_year }}" usv:investment_categories_slug="{{ slugify(c.categories) }}" usv:investment_categories="{{ c.categories }}">
            <div class="company">
              <a class="open-investment" usv-investment="{{ c.name }}" href="{{ c.url }}"><img alt="{{ c.name }}" src="/static/img/logos/{{ c.slug }}.png" class="logo mt-image-none extra-padding" style="" width="220" height="150"></a>
              <p class="summary">
                <a class="company-link" href="{{ c.url }}">{{ c.name }}</a> {% raw c.description %}
              </p>
              <span class="since-date">
                <a href="/posts/{{ c.investment_post_slug }}">
                  {{ c.investment_year }}, {{ c.investment_series }}
                </a>
              </span>
              <a class="about-investment" href="/posts/{{ c.investment_post_slug }}">
                <span class="glyphicon glyphicon-info-sign"></span>
              </a>
              {% if is_staff %}
                <span class="editlink">
                  <a href="{{ c.editlink() }}" target="_blank">edit</a>
                </span>
              {% end %}
            </div>
          </div>
        {% end %}
      </div>
    </div>
  </div>
{% end %}

{% block javascript %}
  <script>
    $(document).ready(function() {
      var series_options = [];
      $('.company').each(function() {
        var series = $(this).parent().attr('usv:investment_series');
        if ($.inArray(series, series_options) == -1) {
          // we haven't seen this one yet
          if (series != "" && typeof(series) != "undefined") {
            series_options.push(series);
          }
        }
      });
      series_options.sort();
      series_options.reverse();
      var city_options = [];
      $('.company').each(function() {
        var cities_str = $(this).parent().attr('usv:city')
        if (cities_str) {
          cities = cities_str.split(',');
          for (var i = 0; i < cities.length; i++) {
            city = cities[i].replace(/^\s\s*/, '').replace(/\s\s*$/, '');
            if ($.inArray(city, city_options) == -1) {
              // we haven't seen this one yet
              if (city != "" && typeof(city) != "undefined") {
                city_options.push(city.replace(/^\s\s*/, '').replace(/\s\s*$/, ''));
              }
            }
          }
        }
      });
      city_options.sort();
      city_options.reverse();
      var year_options = [];
      $('.company').each(function() {
        var year = $(this).parent().attr('usv:investment_date');
        if ($.inArray(year, year_options) == -1) {
          // we haven't seen this one yet
          if (year != "" && typeof(year) != "undefined") {
            year_options.push(year);
          }
        }
      });
      year_options.sort();
      var category_options = [];
      $('.company').each(function() {
        var categories_str = $(this).parent().attr('usv:investment_categories')
        if (categories_str) {
          categories = categories_str.split(',');
          for (var i = 0; i < categories.length; i++) {
            cat = categories[i].replace(/^\s\s*/, '').replace(/\s\s*$/, '');
            if ($.inArray(cat, category_options) == -1) {
              // we haven't seen this one yet
              if (cat != "" && typeof(cat) != "undefined") {
                category_options.push(cat);
              }
            }
          }
        }
      });
      category_options.sort();
      category_options.reverse();
      var all_options = series_options.concat(city_options).concat(year_options).concat(category_options);        
      for (var i = 0; i < series_options.length; i++ ) {
        $("#series li:first").after('<li><a href="#" usv-filter="' + series_options[i].slugify() + '">' + series_options[i] + '</a></li>');
      }
      for (var i = 0; i < city_options.length; i++ ) {
        $("#locations li:first").after('<li><a href="#" usv-filter="' + city_options[i].slugify() + '">' + city_options[i] + '</a></li>');
      }
      for (var i = 0; i < year_options.length; i++ ) {
        $("#years li:first").after('<li><a href="#" usv-filter="' + year_options[i].slugify() + '">' + year_options[i] + '</a></li>');
      }
      for (var i = 0; i < category_options.length; i++ ) {
        $("#categories li:first").after('<li><a href="#" usv-filter="' + category_options[i].slugify() + '">' + category_options[i] + '</a></li>');
      }
      $(".filter-tabs a").click(function(e) {
        e.preventDefault()
        var query = $(this).attr("usv-filter");
        filter_portfolio(this, query);
      });
      if (window.location.hash) {
        var query = window.location.hash.split("#")[1];
        filter_button = $( "a[usv-filter='" + query + "']" );
        if(filter_button.length > 0) {
           filter_portfolio(filter_button, query);                   
        }
      }
      function filter_portfolio(filter_button, query) {
        /* Query should be a slugified string */
        // deactivate all other tabs
        $('.filter-tabs li').removeClass('active');
        // make all the "alls" active, just in case
        $('.all').addClass('active');
        // make this active.
        $(filter_button).parent().addClass('active');
        // deactivate this one's parent all
        $(filter_button).parent().parent().find('.all').removeClass('active');
        // hide or show all the companies
        $('.company').parent().each(function(){
          if ($(this).attr("usv:city_slug").indexOf(query) > -1 || $(this).attr("usv:investment_series_slug") == query || $(this).attr("usv:investment_date") == query || $(this).attr("usv:investment_categories_slug").indexOf(query) > -1 ) {
            $(this).show();
          } else {
            $(this).hide();
          }
        });
        if (query == "all") {
          $('.company').parent().show();
          $('.filter-tabs li').removeClass('active');
          // make all the "alls" active
          $('.all').addClass('active');
          $('body').ScrollTo();
          window.location.hash = '';
        } else {
          window.location.hash = query;
          $('body').ScrollTo();
        }
        // hide & show section headings
        if ($('.company-container.current:visible').length == 0) {
          $('#current-portfolio').hide();
        } else {
          $('#current-portfolio').show();
          if (query != 'all') {
            $('#current-portfolio .filter-label').text(', tagged "' + query + '"').show();
          } else {
            $('#current-portfolio .filter-label').hide()
          }
        }
        if ($('.company-container.past:visible').length == 0) {
          $('#past-portfolio').hide();
        } else {
          $('#past-portfolio').show();
          if (query != "all") {
            $('#past-portfolio .filter-label').text(', tagged "' + query + '"').show();
          } else {
            $('#past-portfolio .filter-label').hide();
          }
        }
      }
    });
  </script>
{% end %}
