{% extends "../base.html" %}

{% block title %}{{ post['title'] }}{% end %}

{% block javascript %}
<script type="text/javascript">
    if(!window.Kolich){
        Kolich = {};
    }

    Kolich.Selector = {};
    Kolich.Selector.getSelected = function(){
        var t = '';
        if(window.getSelection){
            t = window.getSelection();
        }else if(document.getSelection){
            t = document.getSelection();
        }else if(document.selection){
            t = document.selection.createRange().text;
        }
        return t;
    }

    Kolich.Selector.mouseup = function(){
        var st = Kolich.Selector.getSelected();
        if(st!='') {
            // Create the annotation
            $('.annotation .disqus').remove();
            var disqus_frame = '<div class="annotation"><iframe class="disqus"'
                                     + 'src="/disqus?post_id={{ post.id }}'
                                        + '&annotation_number={{ 1 }}"></iframe></div>';
            $("body").append($(disqus_frame));

        }
    }

    $(document).ready(function(){
        $(".post_content").bind("mouseup", Kolich.Selector.mouseup);
    });
</script>
{% end %}

{% block content %}
    <div class="post post_detail">
        <h2>
            <a href="/posts/{{ post.minified_id() }}">{{ post.title }}</a>
        </h2>

        <p class="post_info">
            by: 
            <a href="http://twitter.com/{{ post.user.username }}">
                @{{ post.user.username }}
            </a>
            on
            {{ post.date_created.strftime("%B %d, %Y") }}
        </p>

        <div class="post_content">{% raw post.body_html %}</div>

        <br/>
        {% if len(post.questions) %}
            <h2>Questions</h2>
            {% for counter in range(len(post.questions)) %}
                <div class="question">
                    <h3 class="question">{{ post.questions[counter].text }}</h3>
                    <iframe class="disqus" src="/disqus?post_id={{ post.id }}&question_number={{ counter+1 }}"></iframe>
                </div>
            {% end %}
            <script type="text/javascript">
                $(".question").on("click", function(e) {
                    $(this).children("iframe").toggle();
                });
            </script>
        {% end %}
    </div>
{% end %}
