{% extends "../base.html" %}

{% block title %}{{ post['title'] }}{% end %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="/static/css/annotator.min.css" />
{% end %}

{% block javascript %}
<script src="/static/js/annotator-full.min.js"></script>
<script type="text/javascript">
        $(document).ready(function(){

          Annotator.Plugin.Disqus = function (element) {
                var disqusPlugin = {};
                disqusPlugin.pluginInit = function () {
                        this.annotator
                        .subscribe("annotationViewerShown", function(viewer, annotations) {
                            //$(viewer.element).children().children(".annotator-item:not(:last)").remove()
                        });

                        this.annotator
                        .subscribe("annotationViewerTextField", function (field, annotation) {
                                var ids = annotation['id'].split('_');
                                var disqus_frame = '<div class="annotation">'
                                    + '<h3>"' + annotation['quote'] + '"</h3><br/>'
                                    + '<iframe class="disqus"'
                                     + 'src="/disqus?post_id=' + ids[0] + '&annotation_number='
                                            + ids[1] + '"></iframe></div>';
                                $(field).html(disqus_frame);
                              
                            });
                };
                return disqusPlugin;
            };

          var a = $(".post_content").annotator();
          a.annotator('addPlugin', 'Disqus');
          var url = window.location.href;
          var arr = url.split("/");
          var prefix = arr[0] + "//" + arr[2];
          a.annotator('addPlugin', 'Store', {
              // The endpoint of the store on your server.
              prefix: prefix,

              // Attach the uri of the current page to all annotations to allow search.
              annotationData: {
                'post_id': '{{ post.id }}'
              },

              // This will perform a "search" action rather than "read" when the plugin
              // loads. Will request the last 20 annotations for the current url.
              // eg. /store/endpoint/search?limit=20&uri=http://this/document/only
              loadFromSearch: {
                'limit': 20,
                'post_id': '{{ post.id }}'
              },
              urls: {
                search: '/annotations',
              }
          });
        });
</script>
{% end %}

{% block content %}
<div class="main container">
    <div class="post post_detail">
        <h1>
            <a href="/posts/{{ post.minified_id() }}">{{ post.title }}</a>
        </h1>

        <p class="post_info">
            {% if post.user.auth_type == 'twitter' %}
                by: 
                <a href="http://twitter.com/{{ post.user.username }}">
                    @{{ post.user.username }}
                </a>
            {% end %}
            on
            <a href="#">{{ post.date_created.strftime("%B %d, %Y") }}</a>
        </p>

        <div class="post_content">{% raw post.body_html %}</div>

        <br/>
        {% if len(post.tags) %}
            <p id="post_tags">
                <b>Tags: </b>
                {% for tag in post.tags %}
                    <a href="/posts?tag={{ tag }}">{{ tag }}</a>
                {% end %}
            </p>
        {% end %}
        <br/>
        {% if len(post.questions) %}
            <h2>Questions</h2>
            <div id="questions">
                {% for counter in range(len(post.questions)) %}
                    <div class="question">
                        <h3 class="question">{{ post.questions[counter].text }}</h3>
                        <iframe class="disqus" src="/disqus?post_id={{ post.id }}&question_number={{ counter+1 }}"></iframe>
                    </div>
                {% end %}
                <script type="text/javascript">
                    $(".question").on("click", function(e) {
                        $(this).children("iframe").toggle();
                    });
                </script>
            </div>
        {% end %}
    </div>
</div>
{% end %}
