{% extends "../base.html" %}

{% block title %}Create a post{% end %}

{% block content %}
    <h1>Create a post</h1>
    <form action="/posts/{{ post_id }}" method="post">
        {% module xsrf_form_html() %}

        {% for name, label, html, field_errors in model.form_fields(errors) %}
                <label for="{{ name }}">
                    {{ label }}:
                </label>
                <br/>
                {% if field_errors %}
                    <i>{{ field_errors.message }}</i>
                    <br/>
                {% end %}
                {% raw html %}
                <br/>
                <br/>
        {% end %}
        <input type="submit" value="Submit" />
    </form>
{% end %}
