{% extends "../base.html" %}

{% block title %}Create a post{% end %}

{% block content %}
    <h1>Create a post</h1>
    <form action="/posts/{{ post_id }}" method="post">
        {% module xsrf_form_html() %}

        {% for name, label, html, field_errors in model.form_fields(errors) %}
                <label for="{{ name }}">
                    {{ label }}:
                </label>
                <br/>
                {% if field_errors %}
                    <i>{{ field_errors.message }}</i>
                    <br/>
                {% end %}
                {% raw html %}
                <br/>
                <br/>
        {% end %}
        <!--
        <div id="questions">
            <div id="question_fields">
                <fieldset id="questions_template" class="question">
                    <input type="text" value="" name="['text']" />
                </fieldset>
            </div>

            <a href="#" class="plus">+</a>
            <a href="#" class="minus">-</a>
        </div>

        <script src="/static/js/jquery-dynamic-form.js"></script>
        <script type="text/javascript">
            $(function() {
                $("#questions_template").dynamicForm("#questions .plus", "#questions .minus",
                        {
                                        afterClone: function(clone) {
                                                clone = $(clone[0]);
                                                $.each(clone.children(), function(i, o) {
                                                    o = $(o);
                                                    var index = $("#question_fields .question").size();
                                                    var new_name = 'question['+ index + ']' + o.attr('name');
                                                    o.attr('name', new_name);
                                                });
                                        }
                });
            });
        </script>
        -->

        <input type="submit" value="Submit" />
    </form>
{% end %}
