{% extends '../base.html' %}

{% block content %}
<div id="main" role="main">
    <section class="featured-feed centered clearfix">
    <h1 class="general-page-headline">Featured Posts</h1>

        <ul class="feed">
            {% for post in featured_posts %}
            <li>
                <div class="content">
                    <a class="title" href="/posts/{{ post.slug }}">{{ post.title }}</a>
                    {% if post.url %}
                        <a href="{{ post.url }}" class="source" target="_blank">{{ urlparse(post.url).netloc }}</a>
                    {% else %}
                        <a href="/posts/{{ post.slug }}" class="source" target="_blank">usv.com</a>
                    {% end %}
                    <div class="excerpt">{{ post.body_truncated }}</div>
                    <div class="meta">
                        <div class="thumbnail">
                            <a href="http://www.twitter.com/{{ post.user.username }}" targer="_blank">
                                <img src="{{
                                twitter_avatar_size(post.user.profile_image_url_https, 'normal') }}" alt="thumbnail">
                            </a>
                        </div>
                        <a class="username" href="http://www.twitter.com/{{ post.user.username }}" targer="_blank">
                            @{{ post.user.username }}
                        </a>
                        <span class="time">{{ post.date_created.strftime("%B %d, %Y") }}</span>
                        {% module ajax_upvote_link(post=post) %}
                        <a class="comments-count" href="/posts/{{ post.slug }}#disqus_thread">0 comments</a>
                    </div>
                </div>
            </li>
            {% end %}
        </ul><!--end of feed-->

        {% module paginator(page, per_page, total_count, show_pages=True) %}
        </section><!--end of featured-feed-->
</div><!--end of main-->
{% end %}

