{% extends '../base.html' %}
{% block body_class %}conversation{% end %}

{% block javascript %}
    <script>
	    $(document).ready(function() {
	        rp_max_height = 0;
	        $('.related-post').each(function() {
	            if ($(this).height() > rp_max_height) {
	                rp_max_height = $(this).height();
	            }
	        })
	        $('.related-post').height(rp_max_height);
	    });
	</script>
{% end %}

{% block content %}
<div id="main" role="main">
    <section class=" centered clearfix">
    <h2 class="section-heading" style="margin-top:0">Featured Posts</h2>


        <div class="row">
            {% for post in featured_posts %}
            <div class="col-sm-4 related-post">
                {% module featured_post(post=post, urlparse=urlparse, show_votes=False, show_source=False) %}
            </div>
            {% end %}
        </div>
        <!-- /row -->

        {% module paginator(page, per_page, total_count, show_pages=True) %}
        </section><!--end of featured-feed-->
</div><!--end of main-->
{% end %}

