{% for post in posts %}
<li>
	  <article class="post clearfix">
		<span class="avatar"><img class="avatar" src="{{ twitter_avatar_size(post.user.profile_image_url_https, 'normal') }}"></span>
		<span class="author">@{{ post.user.username }}</span>
		<span class="date nobreak">{{ pretty_date(post.date_created) }}</span>
		<h4 class="post-title">
			{% if post.url %}
			  <a class="link" href="{{ post.url }}">{{ post.title }} <span class="source">{{ urlparse(post.url).netloc }}</span></a>
			  {% else %}
				  <a class="title" href="/posts/{{ post.slug }}" target="_blank">{{ post.title }}</a>
				  <span class="source">usv.com</span>
			  {% end %}
		</h4>
		<div class="actions">
		  <a href="#" class="likes"><img src="/static/img/heart-empty.png">&nbsp;42</a>
		  <a href="#" class="comments"><img src="/static/img/balloon.png">&nbsp;17</a>
		</div>
	</article>
</li>
{% end %}