{% extends "../base.html" %}

{% block title %}{{ link.title }}{% end %}

{% block css %}
<link rel="stylesheet" type="text/css" href="/static/css/annotator.min.css" />
<link rel="stylesheet" type="text/css" href="/static/css/voting.css" />
<style type="text/css">
@media(max-width: 450px) {
  #post_stream_bar.detail {
    position: static;
  }
  #navigation_bar {
    position: static;
  }
  #content {
    margin-top: 10px;
  }
}
</style>
{% end %}

{% block javascript %}
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=xa-5176062660ab12cf"></script>

    <script type="text/javascript">
       function adjust_post() {
         $('.info').each(function(i, o) {
             var h = $(this).height();
             console.log(h);
             h = h / 2 - 26;
             $(this).closest('.post').children('.avatar').css({'margin-top': h});
         });
       };

      $(window).resize(function() { 
          adjust_post();
      });

      $(function() {
          // Fix mobile Safari quirks
          $('#navigation_button').click(function() { return false; });
          $('#navigation_button').off('click');
          $("#navigation_button").tappable(function() {
            $("#navigation_button").toggleClass("active");
            $("#navigation_items").collapse('toggle');
           });

          // Hide iPhone URL bar
          window.scrollTo(0, 1);

          // Fixup avatars and title
          adjust_post();

          // Share button handler
          $('.addthis_share_button').click(function(e) {
              addthis_sendto('more');
              e.stopPropagation();
          });
       });
    </script>
{% end %}

{% block content %}
  {% set path = '%ss' % link._class_name.split('.')[1].lower() %}

    <div id="post_stream_bar" class="detail column_header">
      <div class="buttons_container">
        <div class="post_buttons">
         <a href="/{{ path }}/{{ link.id }}/upvote?detail=true">
            <i class="icon-arrow-up icon"></i>&nbsp;&nbsp;({{ link.votes }}) Upvote
         </a>
         <a href="#" class="addthis_share_button">
           <i class="icon-share icon"></i>&nbsp;&nbsp;Share
         </a>
         <a href="/{{ path }}/{{ link.id }}/edit">
           <i class="icon-pencil icon"></i>&nbsp;&nbsp;Edit
         </a>
       </div>
      </div>
    </div>

    <div id="content">
      <div class="post detail">
        <img src="http://api.twitter.com/1/users/profile_image?screen_name={{ link.user.username }}&size=original" class="img-circle avatar" alt="avatar" />
        <div class="info">
          <a href="{{ link.url or "/%s/%s" % (path, link.id) }}" class="title">
            <p>
              {{ link.title }}
            </p>
          </a>
          <div class="metadata">
            {% if link.url %}
              <a href="{{ link.url }}" class="site"><i class="icon-link icon"></i>{{ link.url_domain }}</a>
            {% end %}
            <a href="http://twitter.com/{{ link.user.username }}" class="user" target="_blank"><i class="icon-user icon"></i>@{{ link.user.username }}</a>
            <a href="#" class="date"><i class="icon-calendar icon"></i>{{ link.date_created.strftime("%B %d, %Y") }}</a>
            <span class="comments">
              <i class="icon-comment icon"></i>
              <a href="/{{ path }}/{{ link.id }}#disqus_thread" class="sub-comments" target="_blank">0</a>
              <a href="/{{ path }}/{{ link.id }}" class="sub-comments" target="_blank">comments</a>
            </span>
            <a href="#" class="votes"><i class="icon-arrow-up icon"></i>{{ link.votes }} votes</a>
          </div>
        </div>

        <div class="content">
          {% raw link.body_html %}
          <hr/>
          {% if link.hackpad_url %}
            <div class="hackpad">
              <b><i class="icon-edit icon"></i> Hackpad: </b>
              <a href="{{ link.hackpad_url }}#" class="hackpad_link">{{ link.hackpad_url.split('/')[-1] }}</a>
            </div>
            <hr/>
          {% end %}
        </div>
        <div class="byline">
        </div>

        <div id="disqus_thread"></div>
        <script type="text/javascript">
            /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
            var disqus_shortname = 'usvgamma'; // required: replace example with your forum shortname

            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>

        <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'usvgamma'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function () {
            var s = document.createElement('script'); s.async = true;
            s.type = 'text/javascript';
            s.src = '//' + disqus_shortname + '.disqus.com/count.js';
            (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
        }());
      </script>

      </div>
    </div>
{% end %}
