{% extends "../base.html" %}

{% block title %}{{ link.title }}{% end %}

{% block css %}
<link rel="stylesheet" type="text/css" href="/static/css/annotator.min.css" />
<link rel="stylesheet" type="text/css" href="/static/css/voting.css" />
{% end %}

{% block javascript %}
    <script type="text/javascript">
       function adjust_post() {
         $('.info').each(function(i, o) {
             var h = $(this).height();
             console.log(h);
             h = h / 2 - 26;
             $(this).closest('.post').children('.avatar').css({'margin-top': h});
         });
       };

      $(window).resize(function() { 
          adjust_post();
      });

      $(function() {
          // Fix mobile Safari quirks
          $('#navigation_button').click(function() { return false; });
          $('#navigation_button').off('click');
          $("#navigation_button").tappable(function() {
            $("#navigation_button").toggleClass("active");
            $("#navigation_items").collapse('toggle');
           });

          // Hide iPhone URL bar
          window.scrollTo(0, 1);

          // Fixup avatars and title
          adjust_post();
       });
    </script>
{% end %}

{% block content %}
  {% set path = '%ss' % link._class_name.split('.')[1].lower() %}

    <div id="post_stream_bar" class="detail column_header">
      <div class="buttons_container">
        <div class="post_buttons">
          <!--
          <button type="submit" class="btn upvote"><i class="icon-arrow-up icon"></i>&nbsp;&nbsp;Upvote</button>
          <button type="submit" class="btn share"><i class="icon-share icon"></i>&nbsp;&nbsp;Share</button>
          -->
         <a href="/{{ path }}/{{ link.id }}/upvote?detail=true"><i class="icon-arrow-up icon"></i>&nbsp;&nbsp;({{ link.votes }}) Upvote</a>
         <a href="#"><i class="icon-share icon"></i>&nbsp;&nbsp;Share</a>
         <a href="#"><i class="icon-pencil icon"></i>&nbsp;&nbsp;Edit</a>
       </div>

        <!--
         <a href="#"><i class="icon-arrow-up icon"></i>&nbsp;&nbsp;(23) Upvote</a>
         <a href="#"><i class="icon-share icon"></i>&nbsp;&nbsp;Share</a>
         <a href="#"><i class="icon-pencil icon"></i>&nbsp;&nbsp;Edit</a>
         -->
        
        <div class="share_buttons">
              <div class="share_button twitter">
                <a href="https://twitter.com/share" class="twitter-share-button" data-via="usv">Tweet</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
              </div>
              <div class="share_button tumblr">
                <script src="http://platform.tumblr.com/v1/share.js"></script>
                <a href="http://www.tumblr.com/share" title="Share on Tumblr" style="display:inline-block; text-indent:-9999px; overflow:hidden; width:81px; height:20px; background:url('http://platform.tumblr.com/v1/share_1.png') top left no-repeat transparent;">Share on Tumblr</a>
              </div>

              <div class="share_button facebook">
                <div id="fb-root"></div>
                <script>(function(d, s, id) {
                  var js, fjs = d.getElementsByTagName(s)[0];
                  if (d.getElementById(id)) return;
                  js = d.createElement(s); js.id = id;
                  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=308096535964850";
                  fjs.parentNode.insertBefore(js, fjs);
                  }(document, 'script', 'facebook-jssdk'));</script>
                <div class="fb-like" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false" data-font="arial" data-colorscheme="dark"></div>
              </div>
        </div>
      </div>

      <!--
      <div class="post_buttons">
         <button type="submit" class="btn"><i class="icon-share icon"></i>&nbsp;&nbsp;Share</button>
         <button type="submit" class="btn"><i class="icon-arrow-up icon"></i>&nbsp;&nbsp;Upvote</button>
         <button type="submit" class="btn"><i class="icon-pencil icon"></i>&nbsp;&nbsp;Edit</button>
       </div>
       -->
    </div>

    <div id="content">
      <div class="post detail">
        <img src="http://api.twitter.com/1/users/profile_image?screen_name={{ link.user.username }}&size=original" class="img-circle avatar" alt="avatar" />
        <div class="info">
          <a href="{{ link.url or "/%s/%s" % (path, link.id) }}" class="title">
            <p>
              {{ link.title }}
            </p>
          </a>
          <div class="metadata">
            {% if link.url %}
              <a href="link.url" class="site"><i class="icon-link icon"></i>{{ link.url_domain }}</a>
            {% end %}
            <a href="#" class="user"><i class="icon-user icon"></i>@{{ link.user.username }}</a>
            <a href="#" class="date"><i class="icon-calendar icon"></i>{{ link.date_created.strftime("%B %d, %Y") }}</a>
            <a href="#" class="comments"><i class="icon-comment icon"></i>12 comments</a>
            <a href="#" class="votes"><i class="icon-arrow-up icon"></i>{{ link.votes }} votes</a>
          </div>
        </div>

        <div class="content">
          {% raw link.body_html %}
      <hr/>
          <div class="hackpad">
            <b><i class="icon-edit icon"></i> Hackpad: </b>
            <a href="{{ link.hackpad_url }}#" class="hackpad_link">{{ link.hackpad_url.split('/')[-1] }}</a>
          </div>
      <hr/>
        </div>
        <div class="byline">
        </div>
      <div id="disqus_thread"></div>
      <script type="text/javascript">
           (function() {
              var disqus_shortname = 'usv'; // required: replace example with your forum shortname
              var disqus_developer = 1; // developer mode is on
              var disqus_identifier = "{{ link.id }}_0";
              var disqus_url = "/posts/{{ link.id }}#0";

              (function() {
                  var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                  dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                  (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
              })();
          })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
      <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>


      </div>
    </div>
{% end %}
