{% extends "../base.html" %}

{% block title %}Submit{% end %}

{% block css %}
<style type="text/css">
.widget_chooser .btn {
  height: 50px;
  min-width: 50px;
}
</style>
{% end %}

{% block javascript %}
<script type="text/javascript">
$(function() {
    $(".embed_frame").jScroll({top: 70});

    $(".submit_content").hide();

    $('.post_submit_bar .btn').on("click", function(e) {
       $('.post_form').submit();
    });

    function syncLinkedURL() {
      var val = $(".post_form .post_url").val();
      var widget_type = $(".embed_frame .widget_chooser .active");
      if(widget_type.attr('name') == '-linked-url') {
        $(".embed_frame .well_input").val(val);
      }
    };

    $(".embed_frame .widget_chooser button").on("click", function() {
      if($(this).attr('name') == '-linked-url') {
          var val = $(".post_form .post_url").val();
          var widget_type = $(".embed_frame .widget_chooser .active");
          $(".embed_frame .well_input").val(val);
      }
    });


    $(".post_form .post_url").on("focus blur", function(e) {
      syncLinkedURL();
    });

    $(".post_form .post_url").keyup(function(e) {
      syncLinkedURL();
      var val = $(this).val();

      if(!val) {
        $(".embed_frame .well_-linked-url").addClass("disabled");
      } else {
        $(".embed_frame .well_-linked-url").removeClass("disabled");
      }
    });

    $(".widget_chooser button").on("click", function(e) {
      var elem = $(e.srcElement);
      elem.closest('.btn-group').children('button').removeClass('active');
      elem.addClass('active');

      var inner_well = elem.closest('.well').children('.inner_well');
      var well_value = inner_well.children('.well_value');

      well_value.children(".well_input_type").val(elem.attr("name"));

      if(elem.attr('name')=="empty" || elem.attr('name')=="disqus") {
        well_value.hide();
        well_value.children(".well_input").val("");
      } else {
        well_value.show();
      }
      e.preventDefault();
    });
});
</script>
{% end %}

{% block content %}
<form action="/links{{ ('/' + link_id) if link_id else '' }}" method="post" class="post_form">
<div class="container-fluid" style="height: 100%; padding: 0px; margin: 0px;">
  <div class="row-fluid" style="height: 100%;">
    <div class="embed_frame" style="width: 50%; float: left; height: 90%; height: 840px !important;">
      <div class="well_container" style="margin: 40px 50px 0px 0px; height: 100%;">
        {% set options = [
                              {'name': 'GDOC'},
                              {'name': 'HackPad'},
                              {'name': 'Empty', 'icon': 'icon-ban-circle'},
                              {'name': '* Linked URL', 'disabled': True},
        ]%}
        {% module widget_well(name="left", height="100%", center_height="100px", options=options) %}
      </div>
    </div>

    <div class="" style="width: 50%; height: 90%; margin: 0px; padding: 0px 0px 0px 0px; float: left;">
      <div class="post_submit_bar" style="height: 40px; margin-right: 10px;">
        <div class="btn" style="margin: 0px 0px 0px 0px; float:right;">
          <div class="icon-plus-sign" style="margin-right: 5px;">
          </div>
          Submit this content
        </div>
      </div>

      <div class="post post_detail" style="margin: 0px 10px 0px 10px; padding-left: 40px;">
          {% module xsrf_form_html() %}
            {% set placeholders= {
                          'url': '* Linked URL (optional)',
                          'title': 'Title...',
                          'body_raw': 'Body',
                          'tags': 'Categories (optional, separate by commas)',
            }%}
            {% for name, label, html, field_errors in model.form_fields(errors, order=['title', 'url', 'body_raw'],
                                                                                  placeholders=placeholders) %}
                    {% if field_errors %}
                        <i>{{ field_errors.message }}</i>
                        <br/>
                    {% end %}
                    {% raw html %}
            {% end %}
            <input type="text" name="tags" placeholder="Categories (optional, separate by commas)" />

          <!--<input type="text" name="title" placeholder="Title..." />
          <input type="text" name="url" placeholder="* Linked URL (optional)" class="post_url" />
          <textarea name="body_raw" placeholder="Body, should this be optional?"></textarea>
          <input type="text" name="tags" placeholder="Categories (optional, separate by commas)" />
          -->
          <div class="well_container" style="margin-right: 25px;">
            {% set options = [
                                {'name': 'Disqus'},
                                {'name': 'GDOC'},
                                {'name': 'HackPad'},
                                {'name': 'Empty', 'icon': 'icon-ban-circle'},
            ]%}
            {% module widget_well(name="bottom", height="300px", center_height="125px", options=options) %}
          </div>
          <input type="checkbox" name="featured" value="true" style="float: left;" />
          <p style="float: left; margin: 0px 0px 0px 5px;">Featured</p>
          <br/>
      </div>
    </div>
  </div>
</div>
</form>
{% end %}
