/* USV THEME */

#site-header, #mobile-header, #site-footer, html {
	background: #333;
}

#logo {
	background:transparent url(/static/img/usv-logo-green-70x70.png?v=3) 0 0 no-repeat scroll;
}

#mobile-logo {
	background:transparent url(/static/img/usv-logo-green-44x44.png?v=2) no-repeat center center;
}

.person, 
.company,
.deck,
article.page .deck,
.company .since-date {
	background: #fff;
	border-radius: 0;
}

@media only screen and (-webkit-min-device-pixel-ratio:1.3), only screen and (min--moz-device-pixel-ratio:1.3), only screen and (-o-min-device-pixel-ratio:1.3 / 1), only screen and (min-resolution:125dpi), only screen and (min-resolution:1.3dppx) {
	#mobile-logo {
		background:transparent url(/static/img/usv-logo-green-70x70.png?v=2) no-repeat center center;
		background-size:44px 44px;
	}
}