{% set day_str = day.strftime("%Y-%m-%d") %}
{% set previous_day = day - datetime.timedelta(days=1) %}
{% set previous_day_str = previous_day.strftime("%Y-%m-%d") %}

<div class="feed-container">
	<div class="subsection section-heading day-heading clearfix">
		<h2 class="pull-left">
			{% if is_today %}
			TODAY:
			{% elif is_yesterday %}
			YESTERDAY:
			{% else %}
			{{ day.strftime("%a, %b %d, %Y") }}:
			{% end %}
		</h2>
	</div>
	<ul class="feed" data-date="{{ day_str }}">
		{% for i, p in enumerate(posts) %}
			{% set has_excerpt = False %}
			{% if p['body_html'] and p['body_html'].strip() != ""  %}
				{% set has_excerpt = True %}
			{% end %}
				{% if i < 3 %}
					<li class="post post-lg clearfix {{ 'has-excerpt' if has_excerpt else '' }}" data-date-created="{{ p['date_created'] }}" data-sort-score="{{ p.get('daily_sort_score') }}">
					{% include post/post_snippet.html %}
					</li>
				{% else %}
					<li class="post post-xs clearfix {{ 'has-excerpt' if has_excerpt else '' }}" data-date-created="{{ p['date_created'] }}" data-sort-score="{{ p.get('daily_sort_score') }}">
					{% include post/post_snippet.html %}
					</li>
				{% end %}

				</li>
		{% end %}
	</ul>

	<div class="more" style="text-align:center; margin: 0;">
		<a class="btn" href="/day/{{ previous_day_str }}" style="width: 20em">Show previous day &darr;</a>
	</div>
</div>