<div class="feed-container">
	<div class="subsection section-heading day-heading clearfix">
		<h2 class="pull-left">
			{% if is_today %}
			TODAY
			{% else %}
			{{ day.strftime("%a, %b %d, %Y") }}
			{% end %}
		</h2>
	</div>
	<ul class="feed" data-date="{{ day_str }}">
		{% for i, p in enumerate(posts) %}
				{% if i < 3 %}
					<li class="post post-lg clearfix" data-date-created="{{ p['date_created'] }}" data-sort-score="{{ p.get('daily_sort_score') }}">
					{% include post/post_snippet.html %}
					</li>
				{% else %}
					<li class="post post-sm clearfix" data-date-created="{{ p['date_created'] }}" data-sort-score="{{ p.get('daily_sort_score') }}">
					{% include post/post_snippet.html %}
					</li>
				{% end %}

				</li>
		{% end %}
	</ul>

	<div class="more" style="text-align:center; margin: 0;">
		<a class="btn" href="/day/{{ previous_day_str }}" style="width: 20em">Show previous day &darr;</a>
	</div>
</div>