.tag {
    display: inline;
    padding: 8px;
}
.section_label {
    display: inline;
    padding: 8px;
    float: left;
    background: #e4e4e4;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6f6f6), color-stop(100%,#d7d7d7));
    background: -moz-linear-gradient(center top, #f6f6f6 0%, #d7d7d7 100%);
    -webkit-box-shadow: -1px 1px 0px 0px #dfdcdc inset, 1px -1px 0px 0px #bfbfbf inset;
    -moz-box-shadow: -1px 1px 0px 0px #dfdcdc inset, 1px -1px 0px 0px #bfbfbf inset;
    box-shadow: -1px 1px 0px 0px #dfdcdc inset, 1px -1px 0px 0px #bfbfbf inset;
   -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
           border-radius: 10px;
   width: 130px;
   padding: 0px 18px 0px 18px;
   display: inline-block;
   font-size: 16px;
   font-family: Lucida Grande, Helvetica, Sans-serif;
   line-height: 40px;
   text-align: center;
   color: black;
   font-weight: 500;
}
.featured-posts .section_label {
    margin: 10px;
}

.tags .nav {
    display: inline;
}

.post {
  margin-top: 15px;
}

.community-posts .post {
    padding: 10px 15px 15px 25px;
    height: 55px;
}
.community-posts .post .contents {
    float: left;
}
.community-posts .post .voting, .community-posts .post .voted {
    float: left;
    width: 80px;
    padding: 0px;
    margin: 10px 20px 10px 0px;
    font-size: 20px;
    text-align: center;
}

/*
.voting .arrows {
    font-size: 25px;
    display: inline;
    margin-left: 30px;
}

.voting .arrows a:hover {
    font-size: 25px;
    text-decoration: none;
}
*/

body {
  background-color: #605C68;
}
.top-bar {
    height: 40px;
}
.community-posts .top-bar {
}
.community-posts .top-bar .btn-group {
    float: right;
}
.community-posts .top-bar .dropdown-menu {
    min-width: auto;
}
.community-posts .top-bar li.active a {
    color: black;
    background-color: #E8E8E8;
}

.community-posts .pagination {
    float: right;
    -webkit-box-shadow: 0px 1px 0px 0px rgba(255,255,255,0.57)inset, 0px 2px 0px 0px rgba(0,0,0,1);
    border: solid 1px rgba(0,0,0,0.15); 
   -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
           border-radius: 4px;
}
.community-posts .pagination a {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(100%,#FFFFFF)) !important;
    background: -moz-linear-gradient(center top, #FFFFFF 0%, #d6e7f0 100%) !important;
}
.community-posts .pagination a:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(100%,#d1d1d1)) !important;
    background: -moz-linear-gradient(center top, #d1d1d1 0%, grey 100%) !important;
}
.post {
    margin: 0px 0px 20px 0px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(100%,#FFFFFF));
    background: -moz-linear-gradient(center top, #FFFFFF 0%, #d6e7f0 100%);
    -webkit-box-shadow: 0px 1px 0px 0px rgba(255,255,255,0.57)inset, 0px 2px 0px 0px rgba(0,0,0,1);
    border: solid 1px rgba(0,0,0,0.15); 
   -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
           border-radius: 4px;

}


/* VOTING BUTTONS */
.voting li,
.voting li a,
.voting li span {
    display: block;
    float: left;
}
.voting li {
    margin-bottom: 5px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    box-shadow: 1px 7px 2px 0 rgba(0,0,0,0.3);
    cursor: pointer;
    margin-left: 10px;
    -webkit-transition: all 0.025s linear;
    -moz-transition: all 0.025s linear;
    transition: all 0.025s linear;
}
.voting li:first-child {
    margin-left: 0;
}
.voting li a {
    border-left-width: 0;
    -moz-border-radius: 0 4px 4px 0;
    -webkit-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
    font-family: 'Helvetica Neue';
    font-weight: 500;
    color: #838383;
    text-shadow: 0 1px 0 #FFF;
    padding: 5px 15px;
    background: #e7e7f9;
    background: -moz-linear-gradient(top, #f7f7f7 0%, #e7e7f9 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#e7e7f9));
    -moz-box-shadow: 0 -1px 0 0 rgba(255,255,255,0.5) inset, 0 5px 0 0 #c4c5d5, 0 1px 0 0 #FFF inset;
    -webkit-box-shadow: 0 -1px 0 0 rgba(255,255,255,0.5) inset, 0 5px 0 0 #c4c5d5, 0 1px 0 0 #FFF inset;
    box-shadow: 0 -1px 0 0 rgba(255,255,255,0.5) inset, 0 5px 0 0 #c4c5d5, 0 1px 0 0 #FFF inset;
    border-bottom-width: 0;
    -webkit-transition: all 0.025s linear;
    -moz-transition: all 0.025s linear;
    transition: all 0.025s linear;
}
.voting li a:hover {text-decoration: none;}
.voting li span {
    -moz-border-radius: 4px 0 0 4px;
    -webkit-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
    -moz-box-shadow: 0 -1px 0 0 rgba(255,255,255,0.2) inset, 0 5px 0 0 #447700;
    -webkit-box-shadow: 0 -1px 0 0 rgba(255,255,255,0.2) inset, 0 5px 0 0 #447700;
    box-shadow: 0 -1px 0 0 rgba(255,255,255,0.2) inset, 0 5px 0 0 #447700;
    background: #f7f7f7;
    background: -moz-linear-gradient(top, #98c100 0%, #659506 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#98c100), color-stop(100%,#659506));
    text-shadow: 0 1px 0 rgba(0,0,0,0.3);
    color: #FFF;
    font-weight: bold;
    -webkit-transition: all 0.025s linear;
    -moz-transition: all 0.025s linear;
    transition: all 0.025s linear;
}
.voting li span div {opacity: .7; margin: 8px 4px;}

.voting li span.red {
    background: #ee706b;
    background: -moz-linear-gradient(top, #ee706b 0%, #9c3107 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ee706b), color-stop(100%,#9c3107));
    text-shadow: 0 1px 0 rgba(0,0,0,0.3);
    box-shadow: 0 -1px 0 0 rgba(255,255,255,0.2) inset, 0 5px 0 0 #722300;
    -moz-box-shadow: 0 -1px 0 0 rgba(255,255,255,0.2) inset, 0 5px 0 0 #722300;
    -webkit-box-shadow: 0 -1px 0 0 rgba(255,255,255,0.2) inset, 0 5px 0 0 #722300;
    
}
.voting li span.yellow {
    background: -moz-linear-gradient(top, #ffd800 0%, #ffb400 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffd800), color-stop(100%,#ffb400));
    box-shadow: 0 -1px 0 0 rgba(255,255,255,0.2) inset, 0 5px 0 0 #c79700;
    -moz-box-shadow: 0 -1px 0 0 rgba(255,255,255,0.2) inset, 0 5px 0 0 #c79700;
    -webkit-box-shadow: 0 -1px 0 0 rgba(255,255,255,0.2) inset, 0 5px 0 0 #c79700;
}

.voting li:hover a {
    background: -moz-linear-gradient(top, #FFFFFF 0%, #e7e7f9 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(100%,#e7e7f9));
}
.voting li:hover span.green {
    background: -moz-linear-gradient(top, #abcc00 0%, #659506 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#abcc00), color-stop(100%,#659506));
}
.voting li:hover span.red {
    background: -moz-linear-gradient(top, #f0807c 0%, #9c3107 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f0807c), color-stop(100%,#9c3107));
}
.voting li:hover span.yellow {
    background: -moz-linear-gradient(top, #ffe300 0%, #ffb400 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffe300), color-stop(100%,#ffb400));
}

.voting li:active {
    -webkit-transform: translateY(3px);
    -moz-transform: translateY(3px);
    transform: translateY(3px);
}
.voting li:active .icon-arrow-up {
background-image: url("../img/glyphicons-halflings-white.png") !important;
}

.voting li:active a {
    box-shadow: 0 -1px 0 0 rgba(255,255,255,0.2) inset, 0 2px 0 0 #cecfe0;
    -moz-box-shadow: 0 -1px 0 0 rgba(255,255,255,0.2) inset, 0 2px 0 0 #cecfe0;
    -webkit-box-shadow: 0 -1px 0 0 rgba(255,255,255,0.2) inset, 0 2px 0 0 #cecfe0;
}
.voting li:active span {
    box-shadow: 0 -1px 0 0 rgba(255,255,255,0.2) inset, 0 2px 0 0 #447700;
    -moz-box-shadow: 0 -1px 0 0 rgba(255,255,255,0.2) inset, 0 2px 0 0 #447700;
    -webkit-box-shadow: 0 -1px 0 0 rgba(255,255,255,0.2) inset, 0 2px 0 0 #447700;
}
.voting li:active {
    box-shadow: 1px 3px 2px 0 rgba(0,0,0,0.3);
    -moz-box-shadow: 1px 3px 2px 0 rgba(0,0,0,0.3);
    -webkit-box-shadow: 1px 3px 2px 0 rgba(0,0,0,0.3);
}
.voting li:active span.red {
    box-shadow: 0 -1px 0 0 rgba(255,255,255,0.2) inset, 0 2px 0 0 #722300;
    -moz-box-shadow: 0 -1px 0 0 rgba(255,255,255,0.2) inset, 0 2px 0 0 #722300;
    -webkit-box-shadow: 0 -1px 0 0 rgba(255,255,255,0.2) inset, 0 2px 0 0 #722300;
}
.voting li:active span.yellow {
    -moz-box-shadow: 0 -1px 0 0 rgba(255,255,255,0.2) inset, 0 2px 0 0 #c79700;
    -webkit-box-shadow: 0 -1px 0 0 rgba(255,255,255,0.2) inset, 0 2px 0 0 #c79700;
    box-shadow: 0 -1px 0 0 rgba(255,255,255,0.2) inset, 0 2px 0 0 #c79700;
}
.voting .icon-arrow-up {}

/* Voted */
.voted li,
.voted li a,
.voted li span {
    display: block;
    float: left;
}

.voted .icon-arrow-up { background-image: url("../img/glyphicons-halflings-white.png"); }

.voted li {
    margin-bottom: 5px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    box-shadow: 1px 3px 2px 0 rgba(0,0,0,0.3);
    -moz-box-shadow: 1px 3px 2px 0 rgba(0,0,0,0.3);
    -webkit-box-shadow: 1px 3px 2px 0 rgba(0,0,0,0.3);
    cursor: pointer;
    margin-left: 10px;
    -webkit-transform: translateY(3px);
    -moz-transform: translateY(3px);
    transform: translateY(3px);
}
.voted li:first-child {
    margin-left: 0;
}
.voted li a {
    border-left-width: 0;
    -moz-border-radius: 0 4px 4px 0;
    -webkit-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
    font-family: 'Helvetica Neue';
    font-weight: 500;
    color: #838383;
    text-shadow: 0 1px 0 #FFF;
    padding: 5px 15px;
    background: #e7e7f9;
    background: -moz-linear-gradient(top, #f7f7f7 0%, #e7e7f9 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#e7e7f9));
    box-shadow: 0 -1px 0 0 rgba(255,255,255,0.2) inset, 0 2px 0 0 #cecfe0;
    -moz-box-shadow: 0 -1px 0 0 rgba(255,255,255,0.2) inset, 0 2px 0 0 #cecfe0;
    -webkit-box-shadow: 0 -1px 0 0 rgba(255,255,255,0.2) inset, 0 2px 0 0 #cecfe0;
    border-bottom-width: 0;
    -webkit-transition: all 0.025s linear;
    -moz-transition: all 0.025s linear;
    transition: all 0.025s linear;
}
.voted li a:hover {text-decoration: none;}
.voted li span {
    -moz-border-radius: 4px 0 0 4px;
    -webkit-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
    box-shadow: 0 -1px 0 0 rgba(255,255,255,0.2) inset, 0 2px 0 0 #447700;
    -moz-box-shadow: 0 -1px 0 0 rgba(255,255,255,0.2) inset, 0 2px 0 0 #447700;
    -webkit-box-shadow: 0 -1px 0 0 rgba(255,255,255,0.2) inset, 0 2px 0 0 #447700;
    background: #f7f7f7;
    background: -moz-linear-gradient(top, #98c100 0%, #659506 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#98c100), color-stop(100%,#659506));
    text-shadow: 0 1px 0 rgba(0,0,0,0.3);
    color: #FFF;
    font-weight: bold;
    -webkit-transition: all 0.025s linear;
    -moz-transition: all 0.025s linear;
    transition: all 0.025s linear;
}
.voted li span div {opacity: .7; margin: 8px 4px;}

.voted li span.red {
    background: #ee706b;
    background: -moz-linear-gradient(top, #ee706b 0%, #9c3107 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ee706b), color-stop(100%,#9c3107));
    text-shadow: 0 1px 0 rgba(0,0,0,0.3);
    box-shadow: 0 -1px 0 0 rgba(255,255,255,0.2) inset, 0 5px 0 0 #722300;
    -moz-box-shadow: 0 -1px 0 0 rgba(255,255,255,0.2) inset, 0 5px 0 0 #722300;
    -webkit-box-shadow: 0 -1px 0 0 rgba(255,255,255,0.2) inset, 0 5px 0 0 #722300;
    
}
.voted li span.yellow {
    background: -moz-linear-gradient(top, #ffd800 0%, #ffb400 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffd800), color-stop(100%,#ffb400));
    box-shadow: 0 -1px 0 0 rgba(255,255,255,0.2) inset, 0 5px 0 0 #c79700;
    -moz-box-shadow: 0 -1px 0 0 rgba(255,255,255,0.2) inset, 0 5px 0 0 #c79700;
    -webkit-box-shadow: 0 -1px 0 0 rgba(255,255,255,0.2) inset, 0 5px 0 0 #c79700;
}

.voted li:hover a {
    background: -moz-linear-gradient(top, #FFFFFF 0%, #e7e7f9 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(100%,#e7e7f9));
}
.voted li:hover span.green {
    background: -moz-linear-gradient(top, #abcc00 0%, #659506 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#abcc00), color-stop(100%,#659506));
}
.voted li:hover span.red {
    background: -moz-linear-gradient(top, #f0807c 0%, #9c3107 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f0807c), color-stop(100%,#9c3107));
}
.voted li:hover span.yellow {
    background: -moz-linear-gradient(top, #ffe300 0%, #ffb400 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffe300), color-stop(100%,#ffb400));
}



.voted li:active {
    margin-top: -4px;
    -webkit-transition: all 0.025s linear;
    -moz-transition: all 0.025s linear;
    transition: all 0.025s linear;
}
.voted li:active .icon-arrow-up { background-image: url("../img/glyphicons-halflings.png"); }

.voted li:active a {
    -moz-box-shadow: 0 -1px 0 0 rgba(255,255,255,0.5) inset, 0 5px 0 0 #c4c5d5, 0 1px 0 0 #FFF inset;
    -webkit-box-shadow: 0 -1px 0 0 rgba(255,255,255,0.5) inset, 0 5px 0 0 #c4c5d5, 0 1px 0 0 #FFF inset;
    box-shadow: 0 -1px 0 0 rgba(255,255,255,0.5) inset, 0 5px 0 0 #c4c5d5, 0 1px 0 0 #FFF inset;
}
.voted li:active span {
    -moz-box-shadow: 0 -1px 0 0 rgba(255,255,255,0.2) inset, 0 5px 0 0 #447700;
    -webkit-box-shadow: 0 -1px 0 0 rgba(255,255,255,0.2) inset, 0 5px 0 0 #447700;
    box-shadow: 0 -1px 0 0 rgba(255,255,255,0.2) inset, 0 5px 0 0 #447700;
}
.voted li:active {
    box-shadow: 1px 7px 2px 0 rgba(0,0,0,0.3);
}
.voted li:active span.red {
    box-shadow: 0 -1px 0 0 rgba(255,255,255,0.2) inset, 0 2px 0 0 #722300;
    -moz-box-shadow: 0 -1px 0 0 rgba(255,255,255,0.2) inset, 0 2px 0 0 #722300;
    -webkit-box-shadow: 0 -1px 0 0 rgba(255,255,255,0.2) inset, 0 2px 0 0 #722300;
}
.voted li:active span.yellow {
    -moz-box-shadow: 0 -1px 0 0 rgba(255,255,255,0.2) inset, 0 2px 0 0 #c79700;
    -webkit-box-shadow: 0 -1px 0 0 rgba(255,255,255,0.2) inset, 0 2px 0 0 #c79700;
    box-shadow: 0 -1px 0 0 rgba(255,255,255,0.2) inset, 0 2px 0 0 #c79700;
}


.top-bar .tags {
    padding-top: 10px;
}
