.navbar .container {
    width: 100% !important;
    margin-left: 20px;
}
.navbar .nav-collapse {
    float: right;
    padding: 0px;
    width: auto !important;
}
.navbar .nav {
    margin: 0px 30px 0px 0px !important;
    padding: 0px;
    width: 100%;
}
.tag {
    background: white;
    display: inline;
    padding: 8px;
}
.section_label {
    display: inline;
    background: white;
    padding: 8px;
    float: left;
    margin: 0px 10px 0px 0px;
}
.tags .nav {
    display: inline;
}

.post {
  margin-top: 15px;
}

.community-posts .post {
    padding: 10px 15px 15px 25px;
    height: 55px;
}
.community-posts .post .contents {
    float: left;
}
.community-posts .post .voting {
    float: left;
    width: 80px;
    padding: 8px 10px 10px 10px;
    margin: 10px 20px 10px 0px;
    font-size: 20px;
    text-align: center;
    border: 1px solid black;
}
.voting .arrows {
    font-size: 25px;
    display: inline;
    margin-left: 30px;
}

.voting .arrows a:hover {
    font-size: 25px;
    text-decoration: none;
}

body {
  /*background: url('/static/images/bg.png') repeat;
  background-color: #605C68;*/
}
.top-bar {
    height: 40px;
}
.community-posts .top-bar {
}
.community-posts .top-bar .btn-group {
    float: right;
}
.community-posts .top-bar .dropdown-menu {
    min-width: auto;
}
.community-posts .top-bar li.active a {
    color: black;
    background-color: #E8E8E8;
}

.post {
    margin: 0px 0px 20px 0px;
}
