.navbar .container {
    width: 100% !important;
    margin-left: 20px;
}
.nav-collapse {
    float: right;
    padding: 0px;
    width: auto !important;
}
.nav {
    margin: 0px 30px 0px 0px !important;
    padding: 0px;
    width: 100%;
}
.tag {
    background: white;
    display: inline;
    padding: 8px;
}
.section_label {
    display: inline;
    background: white;
    padding: 8px;
}

.community-posts .post {
    padding: 10px 15px 15px 25px;
    height: 55px;
}
.community-posts .post .contents {
    float: left;
}
.community-posts .post .voting {
    float: left;
    width: 80px;
    padding: 8px 10px 10px 10px;
    margin: 10px 20px 10px 0px;
    font-size: 20px;
    text-align: center;
    border: 1px solid black;
}
.voting .arrows {
    font-size: 25px;
    display: inline;
    margin-left: 8px;
}

.voting .arrows a:hover {
    font-size: 25px;
    text-decoration: none;
}
