html, body {
    margin: 0px;
}

body {
    background: #fff none;
    font-family: "Arial", sans-serif;

}

body a {
    color: black;
    text-decoration: none;
    font-weight: bolder;
}

body a:hover {
    color: black;
    text-decoration: underline;
}

.nav a {
  padding-top: 14px !important;
}

.nav a:hover {
  background: none #F5F7CE !important;
}
.nav {
  margin-left: 405px !important;
  background: none white;
}

#container {
    width: 800px;
    margin: 0px 0px 0px 20px;
    background-color: #FFF;
    min-height: 1000px;
    float: left;
}

.navbar .container {
  background: none #FFF;
}

.navbar-inner {
  border-bottom: 1px solid #F5F7CE !important;
}

.navbar-fixed-top {
  border: 0px !important;
}

.navbar-inner {
  background: none #FFF !important;
  border: 0px;

}

.post {
    padding: 30px 50px 30px 50px;
    margin: 10px 0px 30px 0px;
    border: 1px solid #EED;
}
.post h1 {
    font-family: 'Helvetica', sans-serif; /* Source Sans Pro */
    margin: 0px 0px 0px 0px;
    padding: 0px;
    font-size: 25px !important;
    height: 35px;
}

.post h2 {
    font-family: 'Helvetica', sans-serif; /* Source Sans Pro */
    margin: 0px 0px 5px 0px;
    padding: 0px;
    font-size: 20px !important;
    height: 35px;
}

.post h3 {
    font-family: 'Helvetica', sans-serif; /* Source Sans Pro */
    margin: 0px 0px 5px 0px;
    padding: 0px;
    font-size: 18px !important;
    height: 30px;
}

.post_info {
    display: inline;
    font-size: 12px;
}
.post_info a {
    font-weight: normal;
}

.post_content {
    color: #333333;
    line-height: 1.5;
    letter-spacing: 0px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    margin-top: 10px;
}

#post_tags a {
    font-weight: normal !important;
}

#content {
    margin-top: 29px;
}

textarea {
    width: 500px;
    height: 300px;
}

input[type=text] {
    width: 500px;
    font-size: 18px;
}

form label {
    font-size: 18px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    display: block;
    padding: 0px;
    margin: 10px 0px 10px 0px;
}

form input[type=submit] {
    margin: 15px 0px 0px 470px;
}

.disqus {
    border: 1px solid #BDBDBD;
    width: 500px;
    height: 350px;
    padding: 10px;
    margin: 29px 0px 30px 20px;
}

#questions {
    margin: 0px 0px 20px 0px;
}

.question h3 {
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-bottom: 10px;
}

.question .disqus {
    border: none;
    width: 100%;
    height: 350px;
    margin: 0px;
    padding: 0px;
}

.label_description {
    font-size: 12px;
    display: block;
    margin: 0px 0px 8px 0px;
    padding: 0px;
}

#post_tags {
    border: 1px solid #BDBDBD;
    border-left: 0px;
    border-right: 0px;
    padding: 10px 0px;
    font-size: 14px;
}

.annotation h3 {
  font-size: 13px;
  line-height: 20px;
}

#content {
  width: 530px;
  margin: 20px auto;
}
