blockquote {
  margin: 0px;
}
.column_link {
  float: right;
  margin: 20px 20px 20px 0px;
  font-weight: bold;
  color: #333;
  border: 1px solid #333;
  border-radius: 5px;
  padding: 5px 10px;
}
.posts_listing {
  margin: 0px;
  padding: 0px;
}
.posts_listing li {
  padding: 0px;
  margin: 0px 0px 50px 0px;
  list-style-type: none;
}
.posts_listing .info,
.posts_listing .info a,
.posts_listing .info i {
  color: #888;
}
.posts_listing .info a,
.posts_listing .avatar {
  margin-right: 10px;
}
.posts_listing .title {
  font-size: 20px;
  color: #333;
  font-weight: bold;
}
.posts_listing .preview {
  margin: 10px 0px 20px 0px;
}
.posts_listing .preview a {
  color: #888;
  font-weight: bold;
}
.new_posts_link {
  border: 1px solid #ccc;
  color: #888;
  background: #eee;
  display: block;
  padding: 10px;
  text-align: center;
  margin: 5px 5px 5px 15px;
}
.new_posts_link:hover {
  color: #777;
  border: 1px solid #bbb;
}
.btn {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
}
.post_form {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  margin-top: 20px;
  border: 1px solid #CECECE;
  background: #F6F6F6;
  padding: 30px;
}
.post_form .form_contents .post_submit_bar {
  height: 20px;
  margin-right: 0px;
  width: 100%;
}
.post_form .form_contents .post_submit_bar .btn {
  margin: 0px 0px 0px 0px;
  float: right;
}
.post_form .form_contents .post_submit_bar .btn .icon-plus-sign {
  margin-right: 5px;
}
.post_form .form_contents .post_submit_bar {
  margin-top: 10px;
}
.post_form .form_contents input[type=checkbox] {
  float: left;
}
.post_form .form_contents input[type=text],
.post_form .form_contents textarea {
  padding: 6px 4px;
}
.post_form .form_contents textarea {
  margin: 0px 0px 5px 0px;
}
.post_form .form_contents .mceLayout {
  margin: 10px 0px;
}
.post_form .form_contents label {
  float: left;
  margin: 0px 0px 10px 5px;
}
.post_form .form_contents .check_button {
  margin: 0px 0px 10px 0px;
}
.post_form .form_contents .input-prepend {
  display: block;
  padding: 0px 37px 0px 0px;
}
.post_form .form_contents .input-prepend .add-on {
  height: 24px;
}
.post_form .form_contents .input-prepend .text_wrapper {
  padding: 0px;
  display: inline-block;
  width: 100%;
}
.post_form .form_contents .hackpad_checkbox {
  display: block;
  border: 1px solid #CCC;
  border-radius: 5px 5px 0px 0px;
  border-bottom: none;
  margin: 12px 0px 0px 5px !important;
  width: 95px;
  height: 25px;
  background-color: #ECECEC;
}
.post_form .form_contents .hackpad_checkbox input {
  margin: 7px 10px 0px 10px;
}
.post_form .form_contents .hackpad_checkbox img {
  margin: 2px 0px 0px 0px;
}
.post_form .form_contents .text_wrapper {
  padding: 0px 10px 0px 0px;
}
a.sub-comments {
  display: inline;
  margin: 0px;
  padding: 0px;
}
#pinned_featured_posts {
  display: none;
}
#pinned_featured_posts .column_link {
  display: block;
  float: none;
  background-color: #F3F5EE;
  margin: 0px;
  border-radius: 0px;
  text-align: right;
  padding: 10px 20px 10px 10px;
  color: #ABC07E;
  border-color: #ABC07E;
  border-top: 0px;
}
#pinned_featured_posts .column_link:hover {
  text-decoration: none;
}
#featured_posts {
  width: 35%;
  height: 1000px;
  position: fixed;
  border-right: 8px solid #333333;
  top: 52px;
  left: 0px;
  z-index: 1000;
  background-color: white;
}
#featured_posts #featured_post_stream {
  overflow: auto !important;
  padding: 10px 0px 0px 0px;
  height: 400px;
}
#featured_posts .post.featured {
  background-color: #eeeedd;
  padding: 10px;
  padding-bottom: 90px;
  margin: 0px 10px 10px 10px;
}
#featured_posts .post.featured a:hover {
  text-decoration: none;
}
#featured_posts .post.featured .avatar {
  display: none;
}
#featured_posts .post.featured .title p {
  color: #030303;
  font-weight: bolder;
  font-size: 18px;
  margin: 15px 0px 10px 10px;
}
#featured_posts .post.featured .content {
  font-size: 12px;
  line-height: 16px;
  padding: 10px 10px 0px 10px;
  width: 90%;
}
#featured_posts .post.featured .content a,
#featured_posts .post.featured .content span.comments {
  color: #88AA44;
}
#featured_posts .post.featured .continue_button {
  line-height: 20px;
  float: left;
  color: #fff;
  font-weight: bold;
  font-size: 11px;
  padding: 1px 20px 2px 10px;
  background: #88aa44 url(/static/images/arrow1.gif) no-repeat 108% 50%;
  border-bottom: 0;
  margin: 10px 0px 0px 10px;
}
#featured_posts .post.featured .featured_info {
  display: block;
  clear: both;
  float: left;
  margin: 15px 0px 0px 10px;
  font-size: 12px;
}
#featured_posts .post.featured .featured_info a {
  color: #444444;
}
#featured_posts .post.featured .user {
  text-decoration: none;
  border-bottom: 1px dotted #690;
  color: #690 !important;
  font-weight: bold;
}
#featured_posts .post.featured .featured_info_divider {
  display: inline;
  margin: 0px 2px;
  color: #acaca3;
}
#featured_posts .post.featured .replies a,
#featured_posts .post.featured .replies {
  color: #88aa44 !important;
  margin: 0px;
  line-height: 13px;
  border: 0px;
  font-weight: bold;
}
#post_column {
  display: block;
  position: absolute;
  top: 52px;
  left: 35%;
  z-index: 999;
}
#post_stream {
  overflow: auto !important;
  padding-top: 10px;
  height: 400px;
  padding-top: 3px;
}
#post_stream .post {
  border-bottom: 1px solid #DDD;
  display: inline-block;
  width: 100%;
  overflow: hidden;
}
#post_stream .post .avatar {
  width: 75px;
  height: 75px;
  float: left;
  margin: 10px 15px 12px 20px;
}
#post_stream .post a,
#post_stream .post span.comments {
  font-size: 12px;
  color: #888 !important;
  line-height: 18px;
}
#post_stream .post .title {
  font-weight: bold;
  font-size: 14px;
}
#post_stream .post .title p {
  /* multi-line posts, un-comment for one line */

  /* white-space: nowrap; */

  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0px;
  padding: 0px 40px 0px 0px;
  color: #383838;
}
#post_stream .post .info {
  margin: 20px 0px 0px 15px;
  line-height: 15px;
  padding-bottom: 20px !important;
}
#post_stream .post .info a:hover {
  text-decoration: none;
}
#post_stream .post .info .site {
  color: #628b0b !important;
}
#post_stream .post .info .icon {
  padding-right: 5px;
}
#post_stream .post .info .comments,
#post_stream .post .info .votes,
#post_stream .post .info .user,
#post_stream .post .info .date {
  margin-right: 10px;
}
#post_stream .post.featured {
  box-sizing: border-box;
  border: 1px solid #abc07e;
  background: #f3f5ee url('/static/images/featured_post.png') bottom right no-repeat;
  background-size: 52px 18px;
}
.column_header {
  z-index: 1000;
  height: 27px;
  padding: 8px 0px 0px 20px;
  border: 1px solid #606060;
  border-right: none;
  border-left: none;
  background: #222222 repeat-x;
  font-size: 12px;
}
.column_header p {
  display: inline;
  color: #D3D3D3;
  text-transform: uppercase;
  text-shadow: 1px 1px #111;
}
.column_header a {
  margin-left: 10px;
  color: #a09f9f;
  text-shadow: 1px 1px #111;
}
.column_header a.selected {
  color: #FFF !important;
}
.column_header a:hover {
  text-decoration: none;
}
.btn {
  outline: none !important;
}
#post_stream_bar.detail {
  /* adjust for buttons */

  padding: 0px;
  height: 35px;
  position: fixed;
  top: 52px;
  width: 100%;
  padding-left: 0px !important;
}
#post_stream_bar.detail .buttons_container {
  width: 75%;
  max-width: 800px;
  margin: 5px auto 10px auto;
}
#post_stream_bar.detail .post_buttons {
  text-align: center;
  float: left;
  padding-top: 2px;
  /*
    // Alternate button styles
    a {
      font-size: 14px !important;
      padding: 5px 10px 5px 10px;
      margin: 0px 10px 0px 0px;
      color: #D3D3D3;
      background-color: #333;
    }
    a:hover {
      background-color: #444;
    }
*/

}
#post_stream_bar.detail .post_buttons button {
  padding: 0px 10px 0px 10px;
  margin-right: 20px;
  height: 25px;
}
#post_stream_bar.detail .post_buttons a {
  font-size: 14px !important;
  padding: 5px 10px 5px 10px;
  margin: 0px;
}
#post_stream_bar.detail .post_buttons a:hover {
  background-color: #A09F9F;
  color: white;
}
#content {
  width: 75%;
  max-width: 800px;
  margin: 110px auto 0px auto;
}
#content .post.detail .avatar {
  width: 75px;
  height: 75px;
  float: left;
  margin: 14px 20px 0px 0px;
}
#content .post.detail a,
#content .post.detail span.comments {
  color: #383838;
}
#content .post.detail a .icon,
#content .post.detail span.comments .icon {
  color: #383838;
}
#content .post.detail .metadata {
  margin-top: 5px;
}
#content .post.detail .metadata span,
#content .post.detail .metadata a {
  display: inline-block;
}
#content .post.detail .title {
  display: inline !important;
  font-weight: bold;
  font-size: 30px;
}
#content .post.detail .title p {
  line-height: 30px;
  padding: 24px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}
#content .post.detail .info {
  margin: 0px 0px 0px 90px;
}
#content .post.detail .info a {
  display: inline-block;
}
#content .post.detail .info a:hover {
  text-decoration: none;
}
#content .post.detail .info .site {
  color: #628b0b !important;
}
#content .post.detail .info .icon {
  padding-right: 5px;
}
#content .post.detail .info .comments,
#content .post.detail .info .votes,
#content .post.detail .info .user,
#content .post.detail .info .site,
#content .post.detail .info .date {
  margin-right: 10px;
}
#content .post.detail .content {
  margin: 40px 0px 0px 0px;
}
#content .post.detail .content a {
  color: #628b0b;
}
#content .post.detail .content a:hover {
  text-decoration: none;
}
#content .post.detail #disqus_thread {
  margin-top: 20px;
}
@media (min-width: 875px) {
  #post_column {
    width: 65%;
  }
  #pinned_featured_posts {
    display: none;
  }
  #post_stream .post .title p {
    padding: 0px 40px 0px 0px !important;
  }
  #featured_posts {
    display: block;
  }
  /* multi-line posts */
  .post .title p {
    white-space: normal !important;
  }
}
@media (max-width: 874px) {
  #post_stream {
    overflow: auto;
    height: auto !important;
  }
  #pinned_featured_posts {
    display: block;
  }
  .post.detail .avatar {
    display: none;
  }
  .post.detail .content {
    margin-top: 20px !important;
  }
  .post.detail .info {
    margin: 0px !important;
  }
  #post_stream {
    padding-top: 0px;
  }
  #post_stream .post .title p {
    padding: 0px 10px 0px 0px !important;
  }
  #featured_posts {
    display: none;
  }
  #post_column {
    display: block;
    position: absolute;
    top: 52px;
    left: 0px;
  }
  body {
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media (max-width: 450px) {
  .post_buttons {
    float: none !important;
  }
  #pinned_featured_posts {
    display: block;
  }
  .logo {
    margin-left: 10px !important;
  }
  #post_stream_bar {
    padding-left: 10px !important;
  }
  #post_stream {
    padding-top: 0px;
  }
  #post_stream .post .avatar {
    display: none;
  }
  .post.detail .info {
    line-height: 30px;
    margin: 0px 0px 0px 0px !important;
  }
  .post.detail .info .title p {
    margin-bottom: 20px !important;
  }
  .post.detail .info .metadata {
    padding: 10px 0px 10px 0px;
    margin: 15px 0px 15px 0px;
    border: 1px solid #EEEEEE;
    border-left: none;
    border-right: none;
  }
  .post.detail .avatar {
    float: none !important;
    clear: both !important;
    width: auto !important;
    height: auto !important;
    margin: 40px auto 10px auto !important;
    display: block !important;
  }
  .post.detail .content {
    font-size: 18px;
    line-height: 25px;
    margin: 10px 0px 0px 0px !important;
  }
  .post.detail .content p {
    margin: 20px 0px 20px 0px;
  }
}
