html, body {
    margin: 0px;
    padding: 0px;
}

body {
    background: #fff none;
    font-family: "Arial", sans-serif;

}

body a {
    color: black;
    text-decoration: none;
    font-weight: bolder;
}

body a:hover {
    color: black;
    text-decoration: underline;
}

#container {
    width: 800px;
    margin: 0px 0px 0px 20px;
    background-color: #FFF;
    min-height: 1000px;
    float: left;
}

#nav {
    float: left;
    margin: 20px 0px 20px 20px;
}

#nav ul {
    list-style-type: none;
    margin: 10px 0px 0px 0px;
    padding: 0px;
    font-weight: normal;
    font-size: 14px;
}
#nav ul li {
    margin: 5px 0px 0px 0px;
    padding: 5px;
    border: 1px solid #BDBDBD;
}

#nav ul li a {
    display: block;
}

.post {
    padding: 0px 20px;
    margin: 0px 0px 20px 0px;
    border: 1px solid #BDBDBD;
}
.post h2 {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 15px 0px 0px 0px;
    padding: 0px;
}
.post_info {
    display: inline;
    font-size: 10px;
}
.post_info a {
    font-weight: normal;
}
.post_content {
    color: #333333;
    line-height: 1.5;
    letter-spacing: 0px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
}

#content {
    margin-top: 29px;
}

textarea {
    width: 500px;
    height: 300px;
}

input[type=text] {
    width: 500px;
    font-size: 18px;
}

form label {
    font-size: 18px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    display: block;
    padding: 0px;
    margin: 10px 0px 10px 0px;
}

form input[type=submit] {
    margin: 15px 0px 0px 470px;
}

.disqus {
    border: 1px solid #BDBDBD;
    width: 500px;
    height: 350px;
    padding: 10px;
    margin: 29px 0px 30px 20px;
}

.question h3 {
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.question .disqus {
    border: none;
    width: 750px;
    height: 350px;
}
