html, body {
    margin: 0px;
}

html {
    height: 100% !important;
}

body {
  background-color: #f3edff;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ededff), color-stop(100%,white)) !important;
    background: -moz-linear-gradient(center top, white 0%, #ededff 100%) !important;
    font-family: "Arial", sans-serif;
}

body a {
    color: black;
    text-decoration: none;
    font-weight: bolder;
}

body a:hover {
    color: black;
    text-decoration: underline;
}

.navbar .container {
    width: 100% !important;
    margin-left: 20px;
    background: none;
    height: 100% !important;
}
.navbar-inner {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(100%,#F2F2F2)) !important;
    background: -moz-linear-gradient(center top, #F2F2F2 0%, #FFFFFF 100%) !important;
    -webkit-box-shadow: 0px 2px 0px 0px rgba(255,255,255,0.57)inset, 0px 1px 1px 0px rgba(0,0,0,1) !important;
    border: solid 1px rgba(0,0,0,0.15) !important; 
}
.navbar .nav-collapse {
    float: right;
    padding: 0px;
    width: auto !important;
}
.navbar .nav {
    margin: 0px 30px 0px 0px !important;
    padding: 0px;
    width: 100%;
    background: none;
    text-shadow: 0 1px 0 rgba(255,255,255,0.65);
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
}
.navbar .nav li { height: 50px !important; }
.navbar .nav li a { text-shadow: 1px 1px 0px white; height: 25px !important; }
.navbar .nav li a:hover {
    background: none !important;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.3)), color-stop(100%,rgba(143,176,82,0.57))) !important;
    background: -moz-linear-gradient(center top, white 50%, #83a01c 100%) !important;
    text-shadow: 0px 1px 0px white !important;
}
.navbar .container {
    width: 100% !important;
    margin-left: 20px;
    background: none;
    height: 100% !important;
}
.navbar-inner {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(100%,#F2F2F2)) !important;
    background: -moz-linear-gradient(center top, #F2F2F2 0%, #FFFFFF 100%) !important;
    -webkit-box-shadow: 0px 2px 0px 0px rgba(255,255,255,0.57)inset, 0px 1px 1px 0px rgba(0,0,0,1) !important;
    border: solid 1px rgba(0,0,0,0.15) !important; 
}
.navbar .nav-collapse {
    float: right;
    padding: 0px;
    width: auto !important;
}
.navbar .nav {
    margin: 0px 30px 0px 0px !important;
    padding: 0px;
    width: 100%;
    background: none;
    text-shadow: 0 1px 0 rgba(255,255,255,0.65);
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
}
.navbar .nav li { height: 50px !important; }
.navbar .nav li a { text-shadow: 1px 1px 0px white; height: 25px !important; margin-top: 3px;}
.navbar .nav li a:hover {
    background: none !important;
    text-shadow: 0px 1px 0px white !important;
}
.post_detail {
  background-color: #FFF !important;
}

.post {
    padding: 30px 50px 30px 50px;
    margin: 10px 0px 30px 0px;
    border: 1px solid #EED;
    background-color: #FFF;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(100%,#FFFFFF));
    background: -moz-linear-gradient(center top, #FFFFFF 0%, #d6e7f0 100%);
    -webkit-box-shadow: 0px 1px 0px 0px rgba(255,255,255,0.57)inset, 0px 2px 0px 0px rgba(0,0,0,1);
    border: solid 1px rgba(0,0,0,0.15); 
   -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
           border-radius: 4px;

}
.post h1 {
    font-family: 'Helvetica', sans-serif; /* Source Sans Pro */
    margin: 0px 0px 0px 0px;
    padding: 0px;
    font-size: 25px !important;
    height: 35px;
}

.post h2 {
    font-family: 'Helvetica', sans-serif; /* Source Sans Pro */
    margin: 0px 0px 5px 0px;
    padding: 0px;
    font-size: 20px !important;
    height: 35px;
    color: #21201D;
}

.post h3 {
    font-family: 'Helvetica', sans-serif; /* Source Sans Pro */
    margin: 0px 0px 5px 0px;
    padding: 0px;
    font-size: 18px !important;
    height: 30px;
}

.post_info {
    display: inline;
    font-size: 12px;
}
.post_info a {
    font-weight: normal;
    color: #333333;
}

.post_content {
    color: #333333;
    line-height: 1.5;
    letter-spacing: 0px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    margin-top: 10px;
}

#post_tags a {
    font-weight: normal !important;
}

#content {
    margin-top: 29px;
}

textarea {
    width: 560px;
    height: 300px;
}

input[type=text] {
    width: 560px;
    font-size: 18px;
}

form label {
    font-size: 18px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    display: block;
    padding: 0px;
    margin: 10px 0px 10px 0px;
}

form input[type=submit] {
    margin: 15px 0px 0px 470px;
}

.disqus {
    border: 1px solid #BDBDBD;
    width: 500px;
    height: 350px;
    padding: 10px;
    margin: 29px 0px 30px 20px;
}

#questions {
    margin: 0px 0px 20px 0px;
}

.question h3 {
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-bottom: 10px;
}

.question .disqus {
    border: none;
    width: 100%;
    height: 350px;
    margin: 0px;
    padding: 0px;
}

.label_description {
    font-size: 12px;
    display: block;
    margin: 0px 0px 8px 0px;
    padding: 0px;
}

#post_tags {
    border: 1px solid #BDBDBD;
    border-left: 0px;
    border-right: 0px;
    padding: 10px 0px;
    font-size: 14px;
}

.annotation h3 {
  font-size: 13px !important;
  line-height: 20px;
  height: auto !important;
}

#content {
  width: 600px;
  margin: 20px auto 40px auto;
  background: none #FFF;
  padding: 50px;
}
.post_checkbox input {
    float: left;
    margin-top: 5px;
}
.post_checkbox p {
    float: left;
    margin: 0px;
    padding: 0px 0px 0px 8px;
}



