/* VOTING BUTTONS */
.voting li,
.voting li a,
.voting li span {
    display: block;
    float: left;
}
.voting li {
    margin-bottom: 5px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    box-shadow: 1px 7px 2px 0 rgba(0,0,0,0.3);
    cursor: pointer;
    margin-left: 10px;
    -webkit-transition: all 0.025s linear;
    -moz-transition: all 0.025s linear;
    transition: all 0.025s linear;
}
.voting li:first-child {
    margin-left: 0;
}
.voting li a {
    border-left-width: 0;
    -moz-border-radius: 0 4px 4px 0;
    -webkit-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
    font-family: 'Helvetica Neue';
    font-weight: 500;
    color: #838383;
    text-shadow: 0 1px 0 #FFF;
    padding: 5px 15px;
    background: #e7e7f9;
    background: -moz-linear-gradient(top, #f7f7f7 0%, #e7e7f9 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#e7e7f9));
    -moz-box-shadow: 0 -1px 0 0 rgba(255,255,255,0.5) inset, 0 5px 0 0 #c4c5d5, 0 1px 0 0 #FFF inset;
    -webkit-box-shadow: 0 -1px 0 0 rgba(255,255,255,0.5) inset, 0 5px 0 0 #c4c5d5, 0 1px 0 0 #FFF inset;
    box-shadow: 0 -1px 0 0 rgba(255,255,255,0.5) inset, 0 5px 0 0 #c4c5d5, 0 1px 0 0 #FFF inset;
    border-bottom-width: 0;
    -webkit-transition: all 0.025s linear;
    -moz-transition: all 0.025s linear;
    transition: all 0.025s linear;
}
.voting li a:hover {text-decoration: none;}
.voting li span {
    -moz-border-radius: 4px 0 0 4px;
    -webkit-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
    -moz-box-shadow: 0 -1px 0 0 rgba(255,255,255,0.2) inset, 0 5px 0 0 #447700;
    -webkit-box-shadow: 0 -1px 0 0 rgba(255,255,255,0.2) inset, 0 5px 0 0 #447700;
    box-shadow: 0 -1px 0 0 rgba(255,255,255,0.2) inset, 0 5px 0 0 #447700;
    background: #f7f7f7;
    background: -moz-linear-gradient(top, #98c100 0%, #659506 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#98c100), color-stop(100%,#659506));
    text-shadow: 0 1px 0 rgba(0,0,0,0.3);
    color: #FFF;
    font-weight: bold;
    -webkit-transition: all 0.025s linear;
    -moz-transition: all 0.025s linear;
    transition: all 0.025s linear;
}
.voting li span div {opacity: .7; margin: 8px 4px;}

.voting li span.red {
    background: #ee706b;
    background: -moz-linear-gradient(top, #ee706b 0%, #9c3107 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ee706b), color-stop(100%,#9c3107));
    text-shadow: 0 1px 0 rgba(0,0,0,0.3);
    box-shadow: 0 -1px 0 0 rgba(255,255,255,0.2) inset, 0 5px 0 0 #722300;
    -moz-box-shadow: 0 -1px 0 0 rgba(255,255,255,0.2) inset, 0 5px 0 0 #722300;
    -webkit-box-shadow: 0 -1px 0 0 rgba(255,255,255,0.2) inset, 0 5px 0 0 #722300;
    
}
.voting li span.yellow {
    background: -moz-linear-gradient(top, #ffd800 0%, #ffb400 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffd800), color-stop(100%,#ffb400));
    box-shadow: 0 -1px 0 0 rgba(255,255,255,0.2) inset, 0 5px 0 0 #c79700;
    -moz-box-shadow: 0 -1px 0 0 rgba(255,255,255,0.2) inset, 0 5px 0 0 #c79700;
    -webkit-box-shadow: 0 -1px 0 0 rgba(255,255,255,0.2) inset, 0 5px 0 0 #c79700;
}

.voting li:hover a {
    background: -moz-linear-gradient(top, #FFFFFF 0%, #e7e7f9 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(100%,#e7e7f9));
}
.voting li:hover span.green {
    background: -moz-linear-gradient(top, #abcc00 0%, #659506 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#abcc00), color-stop(100%,#659506));
}
.voting li:hover span.red {
    background: -moz-linear-gradient(top, #f0807c 0%, #9c3107 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f0807c), color-stop(100%,#9c3107));
}
.voting li:hover span.yellow {
    background: -moz-linear-gradient(top, #ffe300 0%, #ffb400 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffe300), color-stop(100%,#ffb400));
}

.voting li:active {
    -webkit-transform: translateY(3px);
    -moz-transform: translateY(3px);
    transform: translateY(3px);
}
.voting li:active .icon-arrow-up {
background-image: url("../img/glyphicons-halflings-white.png") !important;
}

.voting li:active a {
    box-shadow: 0 -1px 0 0 rgba(255,255,255,0.2) inset, 0 2px 0 0 #cecfe0;
    -moz-box-shadow: 0 -1px 0 0 rgba(255,255,255,0.2) inset, 0 2px 0 0 #cecfe0;
    -webkit-box-shadow: 0 -1px 0 0 rgba(255,255,255,0.2) inset, 0 2px 0 0 #cecfe0;
}
.voting li:active span {
    box-shadow: 0 -1px 0 0 rgba(255,255,255,0.2) inset, 0 2px 0 0 #447700;
    -moz-box-shadow: 0 -1px 0 0 rgba(255,255,255,0.2) inset, 0 2px 0 0 #447700;
    -webkit-box-shadow: 0 -1px 0 0 rgba(255,255,255,0.2) inset, 0 2px 0 0 #447700;
}
.voting li:active {
    box-shadow: 1px 3px 2px 0 rgba(0,0,0,0.3);
    -moz-box-shadow: 1px 3px 2px 0 rgba(0,0,0,0.3);
    -webkit-box-shadow: 1px 3px 2px 0 rgba(0,0,0,0.3);
}
.voting li:active span.red {
    box-shadow: 0 -1px 0 0 rgba(255,255,255,0.2) inset, 0 2px 0 0 #722300;
    -moz-box-shadow: 0 -1px 0 0 rgba(255,255,255,0.2) inset, 0 2px 0 0 #722300;
    -webkit-box-shadow: 0 -1px 0 0 rgba(255,255,255,0.2) inset, 0 2px 0 0 #722300;
}
.voting li:active span.yellow {
    -moz-box-shadow: 0 -1px 0 0 rgba(255,255,255,0.2) inset, 0 2px 0 0 #c79700;
    -webkit-box-shadow: 0 -1px 0 0 rgba(255,255,255,0.2) inset, 0 2px 0 0 #c79700;
    box-shadow: 0 -1px 0 0 rgba(255,255,255,0.2) inset, 0 2px 0 0 #c79700;
}
.voting .icon-arrow-up {}

/* Voted */
.voted li,
.voted li a,
.voted li span {
    display: block;
    float: left;
}

.voted .icon-arrow-up { background-image: url("../img/glyphicons-halflings-white.png"); }

.voted li {
    margin-bottom: 5px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    box-shadow: 1px 3px 2px 0 rgba(0,0,0,0.3);
    -moz-box-shadow: 1px 3px 2px 0 rgba(0,0,0,0.3);
    -webkit-box-shadow: 1px 3px 2px 0 rgba(0,0,0,0.3);
    cursor: pointer;
    margin-left: 10px;
    -webkit-transform: translateY(3px);
    -moz-transform: translateY(3px);
    transform: translateY(3px);
}
.voted li:first-child {
    margin-left: 0;
}
.voted li a {
    border-left-width: 0;
    -moz-border-radius: 0 4px 4px 0;
    -webkit-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
    font-family: 'Helvetica Neue';
    font-weight: 500;
    color: #838383;
    text-shadow: 0 1px 0 #FFF;
    padding: 5px 15px;
    background: #e7e7f9;
    background: -moz-linear-gradient(top, #f7f7f7 0%, #e7e7f9 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#e7e7f9));
    box-shadow: 0 -1px 0 0 rgba(255,255,255,0.2) inset, 0 2px 0 0 #cecfe0;
    -moz-box-shadow: 0 -1px 0 0 rgba(255,255,255,0.2) inset, 0 2px 0 0 #cecfe0;
    -webkit-box-shadow: 0 -1px 0 0 rgba(255,255,255,0.2) inset, 0 2px 0 0 #cecfe0;
    border-bottom-width: 0;
    -webkit-transition: all 0.025s linear;
    -moz-transition: all 0.025s linear;
    transition: all 0.025s linear;
}
.voted li a:hover {text-decoration: none;}
.voted li span {
    -moz-border-radius: 4px 0 0 4px;
    -webkit-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
    box-shadow: 0 -1px 0 0 rgba(255,255,255,0.2) inset, 0 2px 0 0 #447700;
    -moz-box-shadow: 0 -1px 0 0 rgba(255,255,255,0.2) inset, 0 2px 0 0 #447700;
    -webkit-box-shadow: 0 -1px 0 0 rgba(255,255,255,0.2) inset, 0 2px 0 0 #447700;
    background: #f7f7f7;
    background: -moz-linear-gradient(top, #98c100 0%, #659506 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#98c100), color-stop(100%,#659506));
    text-shadow: 0 1px 0 rgba(0,0,0,0.3);
    color: #FFF;
    font-weight: bold;
    -webkit-transition: all 0.025s linear;
    -moz-transition: all 0.025s linear;
    transition: all 0.025s linear;
}
.voted li span div {opacity: .7; margin: 8px 4px;}

.voted li span.red {
    background: #ee706b;
    background: -moz-linear-gradient(top, #ee706b 0%, #9c3107 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ee706b), color-stop(100%,#9c3107));
    text-shadow: 0 1px 0 rgba(0,0,0,0.3);
    box-shadow: 0 -1px 0 0 rgba(255,255,255,0.2) inset, 0 5px 0 0 #722300;
    -moz-box-shadow: 0 -1px 0 0 rgba(255,255,255,0.2) inset, 0 5px 0 0 #722300;
    -webkit-box-shadow: 0 -1px 0 0 rgba(255,255,255,0.2) inset, 0 5px 0 0 #722300;
    
}
.voted li span.yellow {
    background: -moz-linear-gradient(top, #ffd800 0%, #ffb400 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffd800), color-stop(100%,#ffb400));
    box-shadow: 0 -1px 0 0 rgba(255,255,255,0.2) inset, 0 5px 0 0 #c79700;
    -moz-box-shadow: 0 -1px 0 0 rgba(255,255,255,0.2) inset, 0 5px 0 0 #c79700;
    -webkit-box-shadow: 0 -1px 0 0 rgba(255,255,255,0.2) inset, 0 5px 0 0 #c79700;
}

.voted li:hover a {
    background: -moz-linear-gradient(top, #FFFFFF 0%, #e7e7f9 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(100%,#e7e7f9));
}
.voted li:hover span.green {
    background: -moz-linear-gradient(top, #abcc00 0%, #659506 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#abcc00), color-stop(100%,#659506));
}
.voted li:hover span.red {
    background: -moz-linear-gradient(top, #f0807c 0%, #9c3107 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f0807c), color-stop(100%,#9c3107));
}
.voted li:hover span.yellow {
    background: -moz-linear-gradient(top, #ffe300 0%, #ffb400 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffe300), color-stop(100%,#ffb400));
}



.voted li:active {
    margin-top: -4px;
    -webkit-transition: all 0.025s linear;
    -moz-transition: all 0.025s linear;
    transition: all 0.025s linear;
}
.voted li:active .icon-arrow-up { background-image: url("../img/glyphicons-halflings.png"); }

.voted li:active a {
    -moz-box-shadow: 0 -1px 0 0 rgba(255,255,255,0.5) inset, 0 5px 0 0 #c4c5d5, 0 1px 0 0 #FFF inset;
    -webkit-box-shadow: 0 -1px 0 0 rgba(255,255,255,0.5) inset, 0 5px 0 0 #c4c5d5, 0 1px 0 0 #FFF inset;
    box-shadow: 0 -1px 0 0 rgba(255,255,255,0.5) inset, 0 5px 0 0 #c4c5d5, 0 1px 0 0 #FFF inset;
}
.voted li:active span {
    -moz-box-shadow: 0 -1px 0 0 rgba(255,255,255,0.2) inset, 0 5px 0 0 #447700;
    -webkit-box-shadow: 0 -1px 0 0 rgba(255,255,255,0.2) inset, 0 5px 0 0 #447700;
    box-shadow: 0 -1px 0 0 rgba(255,255,255,0.2) inset, 0 5px 0 0 #447700;
}
.voted li:active {
    box-shadow: 1px 7px 2px 0 rgba(0,0,0,0.3);
}
.voted li:active span.red {
    box-shadow: 0 -1px 0 0 rgba(255,255,255,0.2) inset, 0 2px 0 0 #722300;
    -moz-box-shadow: 0 -1px 0 0 rgba(255,255,255,0.2) inset, 0 2px 0 0 #722300;
    -webkit-box-shadow: 0 -1px 0 0 rgba(255,255,255,0.2) inset, 0 2px 0 0 #722300;
}
.voted li:active span.yellow {
    -moz-box-shadow: 0 -1px 0 0 rgba(255,255,255,0.2) inset, 0 2px 0 0 #c79700;
    -webkit-box-shadow: 0 -1px 0 0 rgba(255,255,255,0.2) inset, 0 2px 0 0 #c79700;
    box-shadow: 0 -1px 0 0 rgba(255,255,255,0.2) inset, 0 2px 0 0 #c79700;
}


.top-bar .tags {
    padding-top: 10px;
}

.top-bar .content_search {
  width: 150px;
  display: inline !important;
  float: left;
  margin: 5px 0px 5px 25px;
}

.top-bar .tags {
  height: 60px;
  overflow: hidden !important;
}
