{% extends ../base.html %}

{% block content %}

<form method="post" action="/admin/company">
  <input type="hidden" name="id" value="{{company['id']}}" />
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" name="name" value="{{company['name']}}" />
  </div>

  <div class="form-group">
    <label for="url">Url</label>
    <input type="text" name="url" value="{{company['url']}}" />
  </div>

  <div class="form-group">
    <label for="description">Description</label>
    <input type="text" name="description" value="{{company['description']}}" />
  </div>

  <div class="form-group">
    <label for="logo_filename">Logo Filename</label>
    <input type="text" name="logo_filename" value="{{company['logo_filename']}}" />
  </div>

  <div class="form-group">
    <label for="locations">Locations</label>
    <input type="text" name="locations" value="{{company['locations']}}" />
  </div>

  <div class="form-group">
    <label for="investment_series">Investment Series</label>
    <input type="text" name="investment_series" value="{{company['investment_series']}}" />
  </div>

  <div class="form-group">
    <label for="investment_year">Investment Year</label>
    <input type="text" name="investment_year" value="{{company['investment_year']}}" />
  </div>

  <div class="form-group">
    <label for="categories">Categories</label>
    <input type="text" name="categories" value="{{company['categories']}}" />
  </div>

  <div class="form-group">
    <label for="status">Status</label>
    <input type="text" name="status" value="{{company['status']}}" />
  </div>

  <div class="form-group">
    <label for="slug">Slug</label>
    <input type="text" name="slug" value="{{company['slug']}}" />
  </div>

  <div class="form-group">
    <label for="investment_post_slug">Investment Post Slug</label>
    <input type="text" name="investment_post_slug" value="{{company['investment_post_slug']}}" />
  </div>

  <div class="form-group">
    <input type="submit" value="Save" class="btn btn-success" />
  </div>

</form>

{% end %}
