{% extends '../base.html' %}

{% block title %}Correspondences | {% end %}

{% block content %}
	
	<h2>USV Correspondence</h2> 

	{% if not query %}
		<p> 
			Search Investment Team members accounts for correspondence.</br> 
			Only accepts domains as arguments,
			ex: "@startup.com"
		</p>
	{% else %}
		<p>Showing results for "{{ query }}"</p>
	{% end %}

	<form class="form-inline" role="form" method="get" action="">
  		<div class="form-group">
		    <input name="q" type="text" class="form-control">
		</div>
  		<button type="submit" class="btn btn-default">Search</button>
	</form>
	
	</br>

	<table class="table table-striped">
		{% if accounts %}
			<tr>
				<th>Name</th>
				<th>Total Emails In</th>
				<th>Latest Email In</th>
				<th>Total Emails Out</th>
				<th>Latest Email Out</th>
			</tr>
		{% end %}
		
		{% for account in accounts %}
			<tr class="account_row" id="{{ account }}" style="display:none">	
				<td>
					{{ account }}
				</td>
				<td class="account_row_total_emails_in">
					loading...
				</td>
				<td class="account_row_latest_email_in">
					
				</td>
				<td class="account_row_total_emails_out">
					
				</td>
				<td class="account_row_latest_email_out">
					
				</td>
			</tr>
		{% end %}
	</table>
{% end %}

{% block javascript %}
  	<!-- Script for querying GMail API via USV.com API --> 
  	<script>
		// Queries API for all accounts on page load
		$(document).ready(function() {
			$('.account_row').each(function() {
				var query = window.location.href.split("q=")[1];
				if (query) {
					$(this).show();
					var url = "gmailapi?";
					url += "q=" + query; 
					url += "&n=" + $(this).attr('id');

					console.log("Querying " + url);
					$.ajax(url, {
			          error: function(jqxhr, status, error) {
			            console.log("Error: " + error);
			          },
			          success: function(data, status, jqxhr) {            
			          	updateRow(data);
			          }
			        });
				}
			});
		});

		// Updates row upon successful API call
		function updateRow(data) {
			var correspondence = JSON.parse(data);
			var name = correspondence['name'];
			if (correspondence['err']) {
				$('#' + name).children('.account_row_total_emails_in').text(0);
				$('#' + name).children('.account_row_latest_email_in').text('N/A');
				$('#' + name).children('.account_row_total_emails_out').text(0);
				$('#' + name).children('.account_row_latest_email_out').text('N/A');
			}
			else {
				$('#' + name).children('.account_row_total_emails_in').text(correspondence['total_emails_in']);
				$('#' + name).children('.account_row_latest_email_in').text(correspondence['latest_email_in']);
				$('#' + name).children('.account_row_total_emails_out').text(correspondence['total_emails_out']);
				$('#' + name).children('.account_row_latest_email_out').text(correspondence['latest_email_out']);
			}	
		}

	</script>
{% end %}