<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
	<!-- test -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% block title %}{% end %}Union Square Ventures</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/static/img/usv-favicon.png" type="image/png" />

    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/style.css?{{ settings.css_modified_time }}">
    <script src="/static/js/vendor/respond.min.js"></script>

    {% block css %}
    {% end %}

    <script src="/static/js/vendor/jquery-1.9.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        USV_is_admin = {{ 'true' if is_admin() else 'false' }};
        USV_tinymce_valid_elements = "{{ tinymce_valid_elements(media=is_admin()) }}";
        USV_tinymce_post_char_limit = {{ settings.post_char_limit }};
        USV_user_id_str = '{{ user_id_str }}';
        USV_user_email_address = '{{ user_email_address }}';

        $(function() {
                $('.submit-button').on('click', function() {
                    $(this).parent('form').submit();
                    e.stopPropagation();
                    e.preventDefault();
                });
        });
        
        $(document).ready(function() {
           window.mySwipe = Swipe(document.getElementById('slider')); 
        });
    </script>
    <script type="text/javascript" src="//use.typekit.net/eim8cyk.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <script src="/static/js/vendor/modernizr-2.6.2.min.js"></script>
    <script type="text/javascript" src="/static/js/tinymce/jquery.tinymce.min.js"></script>
    <script src="/static/js/plugins.js"></script>
    <script src="/static/js/scripts.js"></script>
    <script src="/static/js/swipe.js"></script>
    <script src="/static/js/modules_bundle.js"></script>
    {% block javascript %}
    {% end %}
</head>

<body data-menu-position="closed">


  <style type="text/css">
      .jPanelMenu-panel {
        z-index: auto !important;
      }
  </style>
  <div class="modal" id="submit-modal" style="z-index: 1111 !important;">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Submit a Post</h4>
        </div>
        <div class="modal-body">
            {% module post_form(classes="", id="submit-form") %}
        </div>
        <!--<div class="modal-footer">
          <a href="#" class="btn btn-primary">Submit</a>
        </div>
    -->
      </div>
    </div>
  </div>

    <div class="shell">

        <div id="mobile-header">
            <a id="menu-trigger" href="#">Open Menu</a>
            <a id="mobile-logo" href="/">Union Square Ventures</a>
            <a id="submit-trigger" href="#submit-form">Submit Post</a>
        </div>

            <header id="site-header">
                <div class="container">
                <a id="logo" href="/">Union Square Ventures</a>
                <h1 id="usv-name"><a href="/">Union Square Ventures</a></h1>
                <ul id="main-nav">
                  <li><a href="/" class="current">Conversation</a></li>
                  <li><a href="/about/">About</a></li>
                  <!--<li><a href="/team/">Team</a></li>-->
                  <li><a href="/investments/">Investments</a></li>
                  <li><a href="/network/">Network</a></li>
                  <li><a href="/jobs/">Jobs</a></li>
                </ul>
                <!--<a href="#submit-form" class="header-submit-button">Submit</a>-->
                <div id="login">
                    Welcome, @{{ username }}! <!--&nbsp;[<a href="#">logout</a>]-->
                </div>
                </div>
            </header><!--end of site-header-->
            {% block precontent %}
            {% end %}

            <div id="content">
            <div class="container">
                
            {% block content %}
            {% end %}
            </div><!-- /.container -->
            </div><!-- /.#content -->


        <footer id="site-footer">
            <div class="container">
                <div class="footer-search">
                    <h4>Search Posts Archive</h4>
                    <div class="footer-search-container">
                        <form action="/search" method="get">
                          <input type="search" placeholder="Search" name="query" />
                          <a class="submit-button" href="#"></a>
                        </form>
                    </div>
                </div>

                <div class="footer-content">
                    
                    <div class="col-a">
                        <h4>Contact Us</h4>
                        <p>If you would like to share your ideas, business, or feedback with us, please send us email at <a href="mailto:info@usv.com">info@usv.com</a>. All business plan submissions must include a clear description of your operations and current progress.</p>
                    </div>
                    <div class="col-b">
                        <h4>Union Square Ventures</h4>
                        <p class="address">
                            915 Broadway, 19th Floor<br>
                            New York, NY 10010
                        </p>
                        <p class="telephone">
                            <strong>Tel</strong> &nbsp;&nbsp;(212) 914-7880<br>
                            <strong>Fax</strong> &nbsp;&nbsp;(212) 914-7399<br>
                        </p>
                    </div>
                </div>
            </div>
        </footer><!--end of footer-->

    </div><!--end of shell-->

	<nav id="mobile-menu">
        <ul>
        	<li class="heading">USV COMMUNITY</li>
            <li><a href="/?sort_by=hot">Hot</a></li>
            <li><a href="/?sort_by=new">Newest</a></li>
            <li><a href="/featured_posts">Featured</a></li>
            <li class="heading">UNION SQUARE VENTURES</li>
            <li><a href="/about/">About</a></li>
            <li><a href="/investments/">Investments</a></li>
            <li><a href="/network/">Network</a></li>
            <li><a href="/jobs/">Jobs</a></li>
        </ul>
    </nav>


    {% module disqus_count_js() %}
    {% module analytics_tags(settings=settings) %}

</body>
</html>
