{% extends '../base.html' %}

{% block title %}Delete a user's posts{% end %}

{% block javascript %}
<script type="text/javascript">
    $(function() {
        $('#delete_form input[type=submit]').on('click', function(e) {
            var c = confirm("Are you sure?");
            if(!c) {
                e.preventDefault();
                e.stopPropagation();
            }
        });
    });
</script>
{% end %}

{% block content %}
<div id="content">
    {% if msg %}
        <div class="alert">
            {{ msg }}
        </div>
    {% end %}
    <h1>Delete a user's posts</h1>
    <br/>
    <p>Delete all of the posts submitted by a user. Specify the slug of one post submitted
    by a given user to delete <b>all</b> of their posts.</p>
    <br/>
    <form method="post" action="/delete_user" id="delete_form">
        {% module xsrf_form_html() %}
        <label for="username">Post slug: </label>
        <div class="input-append">
            <input type="text" id="username" name="post_slug" class="span2" />
            <input type="submit" value="Submit" class="btn btn-default" />
        </div>
    </form>
</div>
{% end %}
