{% extends "../base.html" %}

{% block title %}{{ link.title }}{% end %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="/static/css/annotator.min.css" />
{% end %}

{% block javascript %}
<script src="/static/js/annotator-full.min.js"></script>
<script type="text/javascript">
$(function() {
    $(".embed_frame").jScroll({top: 70});
});
</script>
{% end %}

{% block content %}
<div class="container-fluid" style="height: 100%; padding: 0px; margin: 0px;">
<div class="row-fluid" style="height: 100%;">
    <div class="embed_frame" style="width: 50%; height: 90%; float: left;">
        <iframe src="{{ link.url }}" style="width: 100%; height: 90%; border: 0px;">{{ link.url }}</iframe>
    </div>

    <div class=""  style="width: 50%; height: 90%; margin: 0px; padding: 0px 0px 0px 0px; float: left;">
    <div class="post post_detail" style="height: 90% !important; margin: 0px 10px 0px 10px; width: 85%;">
        <h1>
            <a href="/links/{{ link.id }}">{{ link.title }}</a>
        </h1>

        <p class="post_info">
            {% if link.user.auth_type == 'twitter' %}
                by: 
                <a href="http://twitter.com/{{ link.user.username }}">
                    @{{ link.user.username }}
                </a>
            {% end %}
            on
            <a href="#">{{ link.date_created.strftime("%B %d, %Y") }}</a>
        </p>

        <br/><br/>
        <!--<a href="{{ link.url }}">{{ link.url }}</a>-->
        <div class="post_content">{% raw (link.body_html or '') %}</div>

        <br/>
        {% if len(link.tags) %}
            <p id="post_tags">
                <b>Tags: </b>
                {% for tag in link.tags %}
                    <a href="/links?tag={{ url_escape(tag) }}">{{ tag }}</a>
                {% end %}
            </p>
        {% end %}
        <br/>
        {% if len(link.questions) %}
            <div id="questions">
                {% for counter in range(len(link.questions)) %}
                    <div class="question">
                        <h3 class="question">{{ link.questions[counter].text }}</h3>
                        <iframe class="disqus" src="/disqus?content_id={{ link.id }}&question_number={{ counter+1 }}"></iframe>
                    </div>
                {% end %}
                <script type="text/javascript">
                    $(".question").on("click", function(e) {
                        $(this).children("iframe").toggle();
                    });
                </script>
            </div>
        {% end %}
        </div>
    </div>
</div>
</div>
<script type="text/javascript">
$(function() {
    $('.span5').height($('.span7').height());
});
</script>
{% end %}
