{% extends "../base.html" %}

{% block title %}{{ link.title }}{% end %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="/static/css/annotator.min.css" />
{% end %}

{% block javascript %}
<script src="/static/js/annotator-full.min.js"></script>
{% end %}

{% block content %}
<div class="main container">
    <div class="post post_detail">
        <h1>
            <a href="/links/{{ link.id }}">{{ link.title }}</a>
        </h1>

        <p class="post_info">
            {% if link.user.auth_type == 'twitter' %}
                by: 
                <a href="http://twitter.com/{{ link.user.username }}">
                    @{{ link.user.username }}
                </a>
            {% end %}
            on
            <a href="#">{{ link.date_created.strftime("%B %d, %Y") }}</a>
        </p>

        <br/><br/>
        <a href="{{ link.url }}">{{ link.url }}</a>


        <br/>
        {% if len(link.tags) %}
            <p id="post_tags">
                <b>Tags: </b>
                {% for tag in link.tags %}
                    <a href="/links?tag={{ url_escape(tag) }}">{{ tag }}</a>
                {% end %}
            </p>
        {% end %}
        <br/>
        {% if len(link.questions) %}
            <div id="questions">
                {% for counter in range(len(link.questions)) %}
                    <div class="question">
                        <h3 class="question">{{ link.questions[counter].text }}</h3>
                        <iframe class="disqus" src="/disqus?content_id={{ link.id }}&question_number={{ counter+1 }}"></iframe>
                    </div>
                {% end %}
                <script type="text/javascript">
                    $(".question").on("click", function(e) {
                        $(this).children("iframe").toggle();
                    });
                </script>
            </div>
        {% end %}
    </div>
</div>
{% end %}
