{% extends "../base.html" %}

{% block title %}Submit{% end %}

{% block css %}
{% end %}

{% block javascript %}
<script type="text/javascript">
$(function() {
    $(".embed_frame").jScroll({top: 70});

    $(".submit_content").hide();

    $('.post_submit_bar .btn').on("click", function(e) {
       window.location = "/links/new";
    });
});
</script>
{% end %}

{% block content %}
<div class="container-fluid" style="height: 100%; padding: 0px; margin: 0px;">
<div class="row-fluid" style="height: 100%;">
    <div class="embed_frame" style="width: 50%; height: 90%; float: left;">
      <div>
        left content
      </div>
    </div>

    <div class="" style="width: 50%; height: 90%; margin: 0px; padding: 0px 0px 0px 0px; float: left;">
      <div class="post_submit_bar" style="height: 40px; margin-right: 10px;">
          <div class="btn" style="margin: 0px 0px 0px 0px; float:right;">
            <div class="icon-plus-sign" style="margin-right: 5px;"></div>
            Submit this content
          </div>
      </div>
      <div class="post post_detail" style="height: 90% !important; margin: 0px 10px 0px 10px;">
          <input type="text" name="title" placeholder="Title..." />
          <input type="text" name="url" placeholder="URL (optional)" />
          <div class="post_content">
            <textarea name="body_raw" placeholder="Body, should this be optional?"></textarea>
          </div>
          <input type="text" name="url" placeholder="Categories (optional, separate by commas)" />
          <div>bottom url</div>
      </div>
    </div>
</div>
</div>
{% end %}

