{% extends '../base.html' %}

{% block body_class %}jobs{% end %}
{% block title %}Jobs | {% end %}

{% block content %}
  <div id="main" role="main">
    <h2 class="mobile-page-headline section-heading">Jobs</h2>
    <div class="jobs-container">
      
      <!--
      <header>  
        <ul class="stats">
          <li>
            <span class="stat">796</span>
            <span class="label">jobs</span>
          </li>
          <li>
            <span class="stat">36</span>
            <span class="label">companies</span>
          </li>
          <li>
            <span class="stat">53</span>
            <span class="label">cities</span>
          </li>
        </ul>
        <div class="job-search">
          <form id="jobform" method="GET" action="http://www.indeed.com/jobs">
            <div class="form-row">
              <input type="text" name="q" value="" size="25" id="q" placeholder="Job Title or Keywords">
            </div>
            <div class="form-row">
              <input type="text" name="l" value="" size="" id="l" placeholder="City, State or Zip">
            </div>
            <div class="form-button">
              <input type="submit" value="Search" name="">
            </div>
          </form>
        </div>
      </header>
      -->

      <div id="jobs-content" class="row">
        <div class="col-sm-3">
          <div class="job-tabs-container">
            <h2>Filter</h2>
            <ul class="job-tabs filter-tabs">
              <li><a href="#category" usv:filter="category">By Job Category</a></li>
              <li><a href="#location" usv:filter="location">By Location</a></li>
              <li><a href="#company" usv:filter="company">By Company</a></li>
              <!--<li><a href="#title" usv:filter="title">By Title</a></li>-->
            </ul>
          </div>

          <div id="jobs-menu" class="filter-menu">
            <div usv:filter="category">
            <h2>Categories</h2>
              <ul class="side-nav" id="category">
                {% for c in categories %}
                  <li><a href="#category,{{ c }}">{{ c }}</a></li>
                {% end %}
              </ul>
            </div>

            <div usv:filter="location">
              <h2>Location</h2>
              <ul class="side-nav" id="location">
                {% for l in locations %}
                  <li><a href="#location,{{ l }}">{{ l }}</a></li>
                {% end %}
              </ul>
            </div>

            <div usv:filter="company">
              <h2>Company</h2>
              <ul class="side-nav" id="company">
                {% for c in companies %}
                  <li><a href="#company,{{ c }}">{{ c }}</a></li>
                {% end %}
              </ul>
            </div>

              <!--
              <ul class="side-nav" id="title">
                <li><a href="#title,c-level">C-Level</a></li>
                <li><a href="#title,director">Director</a></li>
                <li><a href="#title,internships">Internships</a></li>
                <li><a href="#title,vice-president">Vice President</a></li>
              </ul>
              -->
          </div><!--jobs-menu-->
        </div><!--col-sm-3-->
      
      
        <div class="col-sm-9">
          <div class="tab_container">
            <!--<div id="in" class="tab_content"><a name="in,administrative"></a><div class="cat"><h3 class="heading">Administrative <span class="count">(11)</span></h3>
            -->
            <div class="jobs">
              {% for j in jobs %}
              <div class="job" usv:company="{{ j['company'] }}" usv:location="{{ j['formattedLocation'] }}" usv:category="{{ j['position'] }}">
                <div class="col-a">{{ j['formattedLocation'] }}</div>
                <div class="col-b">
                  <a href="{{ j['url'] }}">{{ j['jobtitle'] }}</a> 
                  <span>({{ j['company'] }})</span>
                </div>
              </div>
              {% end %}
            </div>
          </div>
        </div><!--col-sm-9-->

      </div>
    </div>
  </div>
{% end %} <!-- end block content -->


{% block javascript %}

<script>
  $(document).ready(function() {
    
    //If URL has a hash, do relevant filtering on page load
    if (window.location.hash) {
      /*var query = window.location.hash.split("#")[1];
      filter_button = $( "a[usv-filter='" + query + "']" );
      if(filter_button.length > 0) {
         filter_jobs(filter_button, query);                   
      }
      */
    }

    $(".filter-tabs a").click(function(e) {
      e.preventDefault();
      var query = $(this).attr("usv:filter");
      filter_jobs(this, query);
    });

  }); //$(document).ready();

  /*function filter_company(filter_button, company) {
    $('.job').each(function(){
      if ($(this).attr("usv:company") == company){
        $(this).show();
      }
      else {
        $(this).hide();
      }
    })
  }*/

    function filter_jobs(filter_button, query) {
      $('.filter-menu div').each(function(){
          console.log("usv:" + query)
          if ($(this).attr("usv:filter") == query) {
            $(this).show();
          } else {
            $(this).hide();
          }
        });
      

      /*$('.company').each(function(){
          console.log("usv:" + query)
          if ($(this).attr("usv:" + query)) {
            $(this).show();
          } else {
            $(this).hide();
          }
        });
      */
    } // filter_jobs

      function filter_portfolio(filter_button, query) {
        /* Query should be a slugified string */
        // deactivate all other tabs
        $('.filter-tabs li').removeClass('active');
        // make all the "alls" active, just in case
        $('.all').addClass('active');
        // make this active.
        $(filter_button).parent().addClass('active');
        // deactivate this one's parent all
        $(filter_button).parent().parent().find('.all').removeClass('active');
        // hide or show all the companies
        $('.company').parent().each(function(){
          if ($(this).attr("usv:city_slug").indexOf(query) > -1 || $(this).attr("usv:investment_series_slug") == query || $(this).attr("usv:investment_date") == query || $(this).attr("usv:investment_categories_slug").indexOf(query) > -1 ) {
            $(this).show();
          } else {
            $(this).hide();
          }
        });
        if (query == "all") {
          $('.company').parent().show();
          $('.filter-tabs li').removeClass('active');
          // make all the "alls" active
          $('.all').addClass('active');
          //$('body').ScrollTo();
          console.log('phoo');
          window.location.hash = '';
        } else {
          window.location.hash = query;
          //$('body').ScrollTo();
          console.log('foo');
        }
        // hide & show section headings
        if ($('.company-container.current:visible').length == 0) {
          $('#current-portfolio').hide();
        } else {
          $('#current-portfolio').show();
          if (query != 'all') {
            $('#current-portfolio .filter-label').text(', tagged "' + query + '"').show();
          } else {
            $('#current-portfolio .filter-label').hide()
          }
        }
        if ($('.company-container.past:visible').length == 0) {
          $('#past-portfolio').hide();
        } else {
          $('#past-portfolio').show();
          if (query != "all") {
            $('#past-portfolio .filter-label').text(', tagged "' + query + '"').show();
          } else {
            $('#past-portfolio .filter-label').hide();
          }
        }
      }
  </script>
{% end %}
