.link_form {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
    margin-top: 20px;
    border: 1px solid #CECECE;
    background: #F6F6F6;
    padding: 30px;

    .form_contents {
        .post_submit_bar {
            height: 20px;
            margin-right: 0px;
            width: 100%;
            .btn {
                margin: 0px 0px 0px 0px;
                float:right;
                .icon-plus-sign {
                    margin-right: 5px;
                }
            }
        }
        .post_submit_bar {
          margin-top: 10px;
        }
        input[type=checkbox] {
            float: left;
        }
        input[type=text],textarea {
          padding: 6px 4px;
        }
        textarea {
          margin: 0px 0px 5px 0px;
        }
        .mceLayout {
            margin: 10px 0px;
        }
        label {
            float: left;
            margin: 0px 0px 10px 5px;
        }

        .check_button {
          margin: 0px 0px 10px 0px;
        }
        .input-prepend {
          display: block;
          padding: 0px 37px 0px 0px;
          .add-on {
            height: 24px;
          }
          input {
          }
          .text_wrapper {
            padding: 0px;
            display: inline-block;
            width: 100%;
            input {
            }
          }
        }

        .hackpad_input {
          padding: 0px 72px 0px 0px !important;
          margin-bottom: 9px;
          input {
            margin: 0px 0px 0px 0px !important;
            padding: 6px 4px !important;
          }
        }

        .text_wrapper {
          padding: 0px 10px 0px 0px;
        }
    }
}
