<div class="link_form">
  <div class="form_contents">
      {% module xsrf_form_html() %}
      {% set link_icon = lambda x: '<div class="input-prepend"><span class="add-on">'\
                                          '<i class="icon-bookmark"></i></span>%s</div>' % x
      %}
      {% set wrap_text = lambda x: '<div class="text_wrapper">%s</div>' % x %}
      {% set form_fields= [
      {
        'name': 'title',
        'placeholder': 'Title...',
        'wrapper': wrap_text,
      },
      {
        'name': 'url',
        'placeholder': 'Linked URL (optional)',
        'wrapper': link_icon,
      },
      {
        'name': 'has_hackpad',
        'label': '<i class="icon-edit"></i>&nbsp;Attach a Hackpad?',
        'label_selected': '<i class="icon-remove"></i>&nbsp;Remove Hackpad',
      },
      {
        'name': 'body_raw',
        'placeholder': 'Body',
      },
      {
                'name': 'featured',
                'label': '<i class="icon-star"></i>&nbsp;Feature this post?',
                'label_selected': '<i class="icon-remove"></i>&nbsp;Un-feature this post',
      }]
      %}

      {% for name, html, field_errors in model.form_fields(errors, form_fields=form_fields) %}
              {% if field_errors %}
                  <i>{{ field_errors.message }}</i>
                  <br/>
              {% end %}
              {% raw html %}
      {% end %}
      <div class="text_wrapper">
        <input type="text" name="tags" placeholder="Categories (optional, separate by commas)" />
      </div>

      <div class="post_submit_bar">
        <div class="btn">
          <div class="icon-plus-sign">
          </div>
          Submit this content
        </div>
      </div>
    </div>
</div>
