<li class="featured-post card" {% if post.slug != 'welcome-to-the-new-usvcom' %}style="background: #fff; border-bottom: none"{% end %}>
	<div class="avatar">
	  <a href="http://www.twitter.com/{{ post.user.username }}" target="_blank">
	  <img title="{{ post.user.username }}" src="{{ twitter_avatar_size(post.user.profile_image_url_https, 'normal') }}" alt="thumbnail">
	  </a>
	</div>	
	<div class="content">
		  <a class="title" style="padding-bottom: 5px; margin-left: 70px;" href="/posts/{{ post.slug }}">{{ post.title }}</a>
	  {% if show_source %}
	  {% if post.url %}
		  <a href="{{ post.url }}" class="source" target="_blank">{{ urlparse(post.url).netloc }}</a>
	  {% else %}
		  <a href="/posts/{{ post.slug }}" class="source">usv.com</a>
	  {% end %}
	  {% end %}
	  <div class="meta" style="text-align: left !important; margin-left: 70px;">
	  <a style="color: #999" class="username" href="http://www.twitter.com/{{ post.user.username }}" target="_blank">@{{ post.user.username }}</a> 
	  <a href="{{ post.permalink() }}">
	  <span class="glyphicon glyphicon-link" style="margin: 0;font-size: 90%"></span> {{ pretty_date(post.date_created) }}</span></a>
  </div>
	  
	  
	  <div class="excerpt">
		  {{ post.body_truncated }}</div>
	  <div class="meta">
		  
		  
		  {% if show_votes %}
		  {% module ajax_upvote_link(post=post) %}
		  {% end %}
		  <span class="time" style="margin-right: 12px;"><a href="/posts/{{ post.slug }}" >
		  
		  <a class="/posts/{{ post.slug }} comment-count" href="/posts/{{ post.slug }}"
			  data-disqus-identifier="{{ post.id }}" {% if post.url %}target="_blank"{% end %}>{{ post.show_comment_count() }}</a>
	  </div>
	</div>
</li>