{% extends "../base.html" %}
{% block title %}Deleted Posts{% end %}

{% block css %}
<style type="text/css">
#post_stream_bar.detail {
  position: static;
}
#navigation_bar {
  position: static !important;
}
#content {
  margin-top: 10px;
}
</style>
{% end %}

{% block content %}
    <div id="content">
        <br/><br/>
        <h1>Deleted Posts</h1>
        <hr/><br/>
        <ul class="posts_listing">
            {% for post in deleted_posts %}
                <li>
                    <a href="/posts/{{ post.slug }}" class="title">{{ post.title }}</a>
                    <p class="preview">{{ post.body_truncated }}<a href="/posts/{{ post.slug }}">&nbsp;more &raquo;</a></p>
                    <div class="info_wrapper">
                    <img src="{{ twitter_avatar_size(post.user.profile_image_url_https, 'normal') }}" class="avatar" alt="avatar" />
                    <div class="info">
                        <a href="http://twitter.com/{{ post.user.username }}" class="user" target="_blank"><i class="icon-twitter icon"></i>@{{ post.user.username }}</a>
                        <span class="comments">
                          <i class="icon-comment icon"></i>
                          <a href="/posts/{{ post.slug }}#disqus_thread" class="sub-comments" target="_blank">0 comments</a>
                        </span>
                        <a href="/posts/{{ post.slug }}" class="date" target="_blank"><i class="icon-calendar icon"></i>{{ post.date_created.strftime("%B %d, %Y") }}</a>
                    </div>
                    </div>

                </li>
            {% end %}
        </ul>
        {% module paginator(page, per_page, total_count, show_pages=True) %}
    </div>
    {% module disqus_count_js() %}
{% end %}
