<html>
  <head>
      <title>{% block title %}{% end %}</title>
        <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="/static/css/main.css" />

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
        {% block css %}
        {% end %}

        {% block javascript %}
        {% end %}
  </head>
  <body>
      <div id="nav">
          <a href="/">
              <img src="/static/images/logo.png" alt="Union Square Ventures" />
          </a>
          <ul id="main-nav">
					<li><a href="#">Our Team</a></li>
					<li><a href="#">Our Investments</a></li>
					<li><a href="#">Our Focus</a></li>
				    <li><a href="#">Jobs</a></li>
		</ul>
      </div>
      <div id="container">
          <div id="content">
            {% block content %}
            {% end %}
          </div>
        </div>
    </ul>
  </body>
</html>
