{% if 'body_class' not in locals() %}
  {% set body_class = "" %}
{% end %}
{% from urlparse import urlparse %}
{% from lib import template_helpers %}
{% import settings %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>{% block title %}{% end %}{{ settings.get('site_title') }}</title>
  <meta name="description" content="{{ settings.get('site_description') }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="alternate" type="application/rss+xml" title="{{ settings.get('site_title') }} - Latest Posts" href="/feed/new" />
  <link rel="alternate" type="application/rss+xml" title="{{ settings.get('site_title') }} - Hot Posts" href="/feed/hot" />
  <link rel="apple-touch-icon" sizes="57x57" href="{{ static_url("img/usv-touch-icon.png") }}" />
  <link rel="shortcut icon" href="{{ static_url("themes/%s/img/favicon.png" % settings.get('active_theme')) }}" type="image/png" />
  <link rel="stylesheet" href="{{ static_url("css/bootstrap.min.css") }}" />
  <link rel="stylesheet" href="{{ static_url("css/jquery.qtip.min.css") }}" />
  <link rel="stylesheet" href="{{ static_url("css/qtip.css") }}" />
  <!-- dont cache style.css yes, since we're still developing on it heavily -->
  <link rel="stylesheet" href="{{ static_url("css/style.css") }}" />

  <!-- Theme files -->
  <link rel="stylesheet" href="{{ static_url("themes/%s/style.css" % settings.get('active_theme')) }}" />

  <script src="{{ static_url("js/vendor/respond.min.js") }}"></script>
  <style type="text/css">
    .jPanelMenu-panel {
      z-index: auto !important;
    }
  </style>
  {% block css %}{% end %}
</head>

<body data-menu-position="closed" class="{% block body_class %}{% end %} {% if current_user in settings.get('staff') %}staff{% end %}">
  {% block submit_area %}
    <div class="modal fade in" id="submit-modal">
      <div class="modal-dialog">
        <div class="modal-content">

          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            {% if current_user %}
              <h3 class="modal-title submit">Submit a post!</h3>
            {% else %}
              <h4 class="modal-title login">Please login to post or vote</h4>
            {% end %}
          </div>

          <div class="modal-body">
            {% if not current_user %}
              <br />
              <a href="/auth/twitter" target="_top"><img src="/static/img/sign-in-with-twitter-gray.png" alt="Sign in with Twitter" /></a>
            {% else %}
              {% include post/post_form_snippet.html %}
            {% end %}
          </div>
        </div>
      </div>
    </div>
  {% end %}

  <!-- Tools Modal -->
  <div class="modal fade" id="tools" tabindex="-1" role="dialog" aria-labelledby="toolsLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Tools!</h4>
        </div>
        <div class="modal-body">
          <p>Use these tools to make it easier to share &amp; discuss links at USV.com:</p>
          <ul>
            <li><b><a href="https://chrome.google.com/webstore/detail/usvcom/ikpfoekojmeibidkolkbbocepjfdmgol">Chrome Extension</a></b><br /> and <b><a href="/static/tools/usv-20131016-0.1-b.xpi">Firefox Extension</a></b> (courtesy of <a href="http://www.appcoast.com/">appcoast</a> -- thanks!)<br /> Quickly post whatever page you're viewing to USV.com</li>
            <li><b>Bookmarklet:</b> <a id="bookmarklet" href="javascript:var d%3Ddocument,w%3Dwindow,e%3Dw.getSelection,k%3Dd.getSelection,x%3Dd.selection,s%3D(e%3Fe():(k)%3Fk():(x%3Fx.createRange().text:0)),f%3D%27http://www.usv.com/posts/new%27,l%3Dd.location,e%3DencodeURIComponent,p%3D%27%3Fv%3D3%26url%3D%27%2Be(l.href) %2B%27%26title%3D%27%2Be(d.title) %2B%27%26s%3D%27%2Be(s),u%3Df%2Bp%3Btry%7Bif(!/%5E(.*%5C.)%3Ftumblr%5B%5E.%5D*%24/.test(l.host))throw(0)%3Btstbklt()%3B%7Dcatch(z)%7Ba %3Dfunction()%7Bif(!w.open(u,%27t%27,%27toolbar%3D0,resizable%3D0,status%3D1,width%3D450,height%3D430%27))l.href%3Du%3B%7D%3Bif(/Firefox/.test(navigator.userAgent))setTimeout(a,0)%3Belse a()%3B%7Dvoid(0)">Post to USV.com</a> (&larr; drag to your bookmarks bar)<br />Works on any browser.</li>
            <li><b><a href="https://play.google.com/store/apps/details?id=com.connectedio.usvmobile">Android App</a></b><br /> Quickly post a link to USV.com, from your Android device.</li>
            <li><b><a href="https://chrome.google.com/webstore/detail/instapaper/acgdjjilmhiofacmdnmmlndeokamkkcl?hl=en-GB">Instapaper Chrome extension</a></b><br />
            Enables one-click saving of USV.com posts to instapaper. <br />(courtesy of <a href="http://www.twitter.com/bthdonohue">@bthdonohue</a>)</li>
            <li><b>Web Widget</b><br />Display latest conversations from USV.com on your website. Simply paste the following code in the spot on your site where you'd like the widget to be:<br />
            <pre>
<code>&lt;script src=&quot;http://www.usv.com/widget?type=hot_posts&quot; type=&quot;text/javascript&quot;&gt;&lt;/script&gt;
&lt;div id=&quot;usv-widget&quot;&gt;&lt;/div&gt;</code>
            </pre>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="shell">
    <div id="mobile-header">
      <a id="menu-trigger" href="#">Open Menu</a>
      <a id="mobile-logo" href="/">{{ settings.get('site_title') }}</a>
      <a id="submit-trigger" href="#submit-form">Submit Post</a>
    </div>
    <header id="site-header">
      <div class="container">
        <a id="logo" href="/">{{ settings.get('site_title') }}</a>
        <h1 id="usv-name"><a href="/">{{ settings.get('site_title') }}</a></h1>
        <ul id="main-nav">
          <li id="nav-conversation"><a href="/">Conversation</a></li>
          <li id="nav-about"><a href="/about">About</a></li>
          <li id="nav-portfolio"><a href="/portfolio">Portfolio</a></li>
          <li id="nav-network"><a href="/network">Network</a></li>
          <li id="nav-jobs"><a href="/jobs">Jobs</a></li>
        </ul>
        <div id="login">
          {% if current_user %}
            Welcome, <a href="/user/{{current_user}}" class="login">@{{ current_user }}</a>! &nbsp;
            
            <a class="login" href="/user/{{current_user}}/settings">Settings</a>&nbsp;
            
            {% if current_user_can('see_admin_link') %}
              <a class="login" href="/admin">Admin</a> &nbsp;
            {% end %}
            
            <a class="login" href="/auth/logout">Logout</a>
          {% else %}
            <a class="login" href="/auth/twitter/">Log in with Twitter</a>
          {% end %}
          <a href="/feed/hot" onclick="(function(){var z=document.createElement('script');z.src='https://www.subtome.com/load.js';document.body.appendChild(z);})(); return false"><img src="/static/img/feed-icon-14x14.png" title="Subscribe" style="margin-left: 10px"></a>
        </div>
      </div>
    </header>
    {% block precontent %}{% end %}
    <div id="content">
      <div class="container">
        {% block content %}{% end %}
      </div>
    </div>
    <footer id="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-3">
            <h4>Contact Us</h4>
            <p>If you would like to share your ideas, business, or feedback with us, please send us email at <a href="mailto:info@usv.com">info@usv.com</a>. All business plan submissions must include a clear description of your operations and current progress.</p>
          </div>
          <div class="col-sm-6">
            <div class="footer-search-container">
              <form action="/search" method="get">
                <input type="search" placeholder="Search" name="query" style="width:300px; margin: 0 auto" />
              </form>
            </div>
          </div>
          <div class="col-sm-3" style="text-align:right">
            <h4>Union Square Ventures</h4>
            <p class="address">
              915 Broadway, 19th Floor<br>
              New York, NY 10010
            </p>
            <p class="telephone">
              <strong>Tel</strong> &nbsp;&nbsp;(212) 994-7880<br>
              <strong>Fax</strong> &nbsp;&nbsp;(212) 994-7399<br>
            </p>
          </div>
        </div>
      </div>
    </footer>
  </div>
  <nav id="mobile-menu">
    <ul>
      <li class="heading">USV COMMUNITY</li>
      <li><a href="/?sort_by=hot">Hot</a></li>
      <li><a href="/?sort_by=new">Newest</a></li>
      <li><a href="/featured">Featured</a></li>
      <li class="heading">UNION SQUARE VENTURES</li>
      <li><a href="/about/">About</a></li>
      <li><a href="/portfolio/">Portfolio</a></li>
      <li><a href="/network/">Network</a></li>
      <li><a href="/jobs/">Jobs</a></li>
    </ul>
  </nav>
  <script src="{{ static_url("js/vendor/jquery-1.9.1.min.js") }}"></script>
  <script src="{{ static_url("js/bootstrap.min.js") }}"></script>
  <script type="text/javascript">
    USV_is_admin = '{% if current_user in settings.get('staff') %}true{% end %}';
    USV_tinymce_valid_elements = "{{settings.get('tinymce_valid_elements')}}";
    USV_tinymce_post_char_limit = {{settings.get('post_char_limit')}};
    $(function() {
      $('.submit-button').on('click', function() {
        $(this).parent('form').submit();
        e.stopPropagation();
        e.preventDefault();
      });
    });
    $(document).ready(function() {
      window.mySwipe = Swipe(document.getElementById('slider')); 
    });
  </script>
  <script type="text/javascript" src="{{ static_url("js/vendor/modernizr-2.6.2.min.js") }}"></script>
  <script type="text/javascript" src="{{ static_url("js/tinymce/jquery.tinymce.min.js") }}"></script>
  <script type="text/javascript" src="{{ static_url("js/plugins.js") }}"></script>
  <script type="text/javascript" src="{{ static_url("js/scripts.js") }}"></script>
  <script type="text/javascript" src="{{ static_url("js/swipe.js") }}"></script>
  <script type="text/javascript" src="{{ static_url("js/modules_bundle.js") }}"></script>
  <script type="text/javascript" src="{{ static_url("js/vendor/jquery.scrollto.js") }}"></script>
  <script type="text/javascript" src="{{ static_url("js/jquery.qtip.min.js") }}"></script>
  <script type="text/javascript" src="{{ static_url("js/support_functions.js") }}"></script>
  <script src="http://platform.twitter.com/widgets.js"  type="text/javascript"></script>

  <script src="http://www.google-analytics.com/urchin.js" type="text/javascript"></script>
  <script type="text/javascript">
  _uacct = "UA-11198485-1"; urchinTracker();
  </script>

  {% block javascript %}{% end %}
  <script type="text/javascript">
    $(function() {
      $('.field-errors').each(function() {
        if($.trim($(this).html()) == '') {
          $(this).hide();
        }
      });
      $('a.no-match').on('click', function(e) {
        $('#bypass_dup_check').val('true');
        $(this).closest('.field-errors').hide();
      });
    });

    $('ul.feed .votes-count').each(function() {
      var options = {
        'content': $(this).siblings('.voted_users').html(),
        'placement': 'bottom',
        'trigger': 'hover',
        'html': true,
        'delay': {'show': 500, 'hide': 500}
      }
      $(this).popover(options)
      
      /*$(this).qtip({
        content: {
          text: function(event, api) {
            var slug = api.elements.target.attr('href').replace('/posts/', '').replace('/bump', '').replace('/unbump', '')
            $.ajax({
              url: '/api/voted_users/' + slug
            })
            .then(function(content) {
              // Set the tooltip content upon successful retrieval
              api.set('content.text', content);
            }, function(xhr, status, error) {
            });
            return 'Loading...';
          }
        },
        position: {
          viewport: $(window)
        },
        style: 'qtip-wiki'
      });*/
    });

  </script>
</body>
</html>
