<html>
  <head>
      <title>{% block title %}{% end %}</title>
        <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="/static/css/main.css" />
  </head>
  <body>
      <div id="nav">
          <a href="/">
              <img src="/static/images/logo.png" alt="Union Square Ventures" />
          </a>
      </div>
      <div id="container">
          <div id="content">
            {% block content %}
            {% end %}
          </div>
        </div>
    </ul>
  </body>
</html>
