<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <title>Union Square Ventures</title>
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon" />
    <script type="text/javascript">
        window.close();
    </script>
</head>
<body>
    <a href="javascript:window.close();">Click here</a> if you are not redirected.
</body>
</html>
