{% extends "../base.html" %}

{% block title %}Submit{% end %}

{% block css %}
<style type="text/css">
    .container-fluid {
        margin-top: 50px !important;
    }
    #navigation_bar {
        position: static !important;
    }
    @media (max-width: 874px) {
        .container-fluid {
            margin-top: 0px !important;
        }
    }
    #post_tags a {
        font-weight: normal !important;
    }

    #content {
        margin-top: 29px;
    }

    textarea {
        width: 100%;
        height: 300px;
    }

    input[type=text] {
        width: 100%;
        font-size: 18px;
        line-height: 20px !important;
    }

    form input[type=submit] {
        margin: 15px 0px 0px 470px;
    }
    .hackpad_checkbox {
        margin: 5px 10px 0px 5px !important;
    }
    .mce-charcount {
        position: absolute !important;
        top: 0 !important;
        right: 0 !important;
        padding: 8px !important;
    }
    .mce-charcount-overflow {
        font-weight: bold !important;
        color: red !important;
    }
</style>
{% end %}

{% block javascript %}
<script type="text/javascript" src="/static/js/tinymce/jquery.tinymce.min.js"></script>

<script type="text/javascript">
$(function() {
  // Transform checkboxes into labeled buttons
  $('.post_form .post_featured, .post_form .post_deleted').each(function(i, o) {
    var checkbox = $(this);
    // Extract label
    var label = $(".post_form label[for='"+checkbox.attr('id')+"']");
    var label_unselected = label.html();
    var label_selected = label.attr('data-selected');
    // Hide
    label.remove();
    checkbox.hide();

    var button = '<button type="button" data-toggle="button" class="btn btn-large btn-block check_button" ' +
                            'id="' + checkbox.attr('id') + '_button">';
    button += label_unselected;
    button += '</button>';
    button = $(button);

    if(checkbox.attr('checked')) {
      button.addClass('active');
      button.html(label_selected);
    }

    button.on('click', function(e) {
      if(checkbox.attr('checked')) {
        // Uncheck
        checkbox.attr('checked', false).change();
        button.html(label_unselected);
      } else {
        // Check
        checkbox.attr('checked', true).change();
        button.html(label_selected);
      }
    });

    $(this).after(button);
  });

    $('').on('click', function(e) {
      if(checkbox.attr('checked')) {
        // Uncheck
        checkbox.attr('checked', false).change();
        button.html(label_unselected);
      } else {
        // Check
        checkbox.attr('checked', true).change();
        button.html(label_selected);
      }
    });
    $('.post_submit_bar .btn').on("click", function(e) {
       $('.post_form').submit();
    });

  // Setup TinyMCE
  var is_admin = {{ 'true' if is_admin() else 'false' }};
  var tinymce_plugins = "advlist, autolink, autosave, code, fullscreen, link, paste, preview";
  var tinymce_toolbar = "undo redo | bold italic strikethrough bullist numlist | blockquote link unlink | code";
  if(is_admin) {
      tinymce_plugins += ", image, media";
      tinymce_toolbar += ", | image | media";
  } else {
    tinymce_plugins += ", charcount";
  }

  $('.post_body_raw').tinymce({
    // Location of TinyMCE script
    script_url : '/static/js/tinymce/tinymce.min.js',

    // General options
    theme : "modern",
    width: '100%',

    valid_elements: "",
    charcount_max_chars: {{ settings.post_char_limit }},

    // Styling
    content_css: "/static/css/tinymce_content.css",
    menubar: false,
    document_base_url: "/",

    // Plugins and toolbar
    plugins: tinymce_plugins,
    toolbar: tinymce_toolbar,
  });

  // Fill the Hackpad URL
  if(!$('.post_hackpad_url').val()) {
    $.ajax('/generate_hackpad', {
      success: function(data) {
        $('.post_hackpad_url').val(data);
      }
    });
  }


});
</script>
{% end %}

{% block content %}
  <form action="/posts{{ ('/' + str(model.id)) if not model._created else '' }}" method="post" class="post_form">
      <div class="form_contents">
          {% module xsrf_form_html() %}
          {% set hackpad_icon = lambda x: '<div class="hackpad_checkbox"><span class="add-on">'\
                                          '<img src="/static/images/hackpad_icon.png" alt="hackpad"></span>%s</div>' % x
          %}
          {% set link_icon = lambda x: '<div class="input-prepend"><span class="add-on">'\
                                              '<i class="icon-bookmark"></i></span>%s</div>' % x
          %}
          {% set wrap_text = lambda x: '<div class="text_wrapper">%s</div>' % x %}
          {% set form_fields = [
          {
            'name': 'title',
            'placeholder': 'Title...',
            'wrapper': wrap_text,
          },
          {
            'name': 'url',
            'placeholder': 'Link...',
            'wrapper': link_icon,
          },
          {
            'name': 'body_raw',
            'placeholder': 'Body',
          },
          {
            'name': 'has_hackpad',
            'placeholder': 'Hackpad',
            'wrapper': hackpad_icon,
          },
          {
            'name': 'hackpad_url',
            'placeholder': 'Hackpad URL',
            'wrapper': wrap_text,
          }]
          %}

          {% if is_admin() %}
            {%
                set form_fields = form_fields + [{
                    'name': 'featured',
                    'label': '<i class="icon-star"></i>&nbsp;Feature this post?',
                    'label_selected': '<i class="icon-remove"></i>&nbsp;Un-feature this post',
                }]
            %}
          {% end %}

          {% if not model._created %}
              {% set form_fields = form_fields + [{
                'name': 'deleted',
                'label': '<i class="icon-remove"></i>&nbsp;Delete this post?',
                'label_selected': '<i class="icon-remove"></i>&nbsp;Un-delete this post',
              }]%}
          {% end %}

          {% for name, html, field_errors in model.form_fields(errors, form_fields=form_fields) %}
                  {% if field_errors %}
                      <i>&darr;&nbsp;{{ field_errors.message }}</i>
                      <br/>
                  {% end %}
                  {% raw html %}
          {% end %}
          <div class="post_submit_bar">
            <div class="btn">
              <div class="icon-plus-sign"></div>
              {% if model._created %}
                Submit
              {% else %}
                Save
              {% end %}
            </div>
          </div>
      </div>
  </form>
{% end %}
