{% extends "../base.html" %}

{% block javascript %}

<script type="text/javascript">
$(document).ready(function() {
        USV_setup_tinymce();
        $('.header-submit-button').hide();
        $('#submit-trigger').hide();
        $('.header-search-container').css({right: '0px'});
});
</script>
{% end %}

{% block submit_area %}
{% end %}

{% block content %}
    {% module post_form(errors=errors, post=post, classes="", id="submit-form",
                                                    existing_posts=existing_posts) %}
{% end %}
