{% set has_voted = False %}
{% set link_title = "bump it up" %}
{% for v in p['voted_users'] %}
{% if 'current_user' in globals() and 'username' in v and current_user == v['username'] %}
{% set has_voted = True %}
{% set link_title = "click to unbump" %}
{% end %}
{% end %}
<div class="volume {% if has_voted %}bumped{% end %}">
  <a title="{{ link_title }}" href="/posts/{{ p['slug'] }}/{% if has_voted %}unbump{%else%}bump{%end%}" class="votes-count ajax_upvote_link upvote-button btn {% if p['votes'] == 1 %}no-votes{% end %}">
	<span class="glyphicon glyphicon-arrow-up"></span>
	 <span class="value">
		{% if len(p['voted_users']) > 1 %}
		{{ len(p['voted_users']) - 1 }}
		{% end %}
	</span>
  </a>
  <div class="voted_users" style="display:none">
	{% for v in p['voted_users'] %}
	{% if 'username' in v and v['username'] != p['user']['username']  %}
	  <div class="voted_user"><img src="{{ v.get('profile_image_url') }}" /> {{ v.get('username') }}</div>
	{% end %}
	{% end %}
	{% if len(p['voted_users']) == 1 %}
	  <p>be the first to bump this up!</p>
	{% end %}
  </div>
  {% if current_user_can('super_upvote') %}
  <a href="/posts/{{ p['slug'] }}/superupvote">+1</a> | <a href="/posts/{{ p['slug'] }}/superdownvote">-1</a> 
  {% end %}
</div>