<div class="feed-container">
	<div class="subsection section-heading day-heading clearfix">
		<h2 class="pull-left">
		  {{ day.strftime("%a, %b %d, %Y") }}:
		</h2>
		<div class="pull-right day-filter" style="">
			<ul class="nav nav-pills pull-left">
				<li><span class="">sort by:</span></li>
				<li class="active"><a href="#" class="sort-day-hot" data-date="{{ day_str }}">most active</a></li>
				<li><a href="#" class="sort-day-new" data-date="{{ day_str }}">newest</a></li>
				<li class="day-permalink"><a class="" href="/day/{{ day_str }}" style="text-transform:none;" title="permanent link to {{ day_str }}">
	 	<span class="glyphicon glyphicon-calendar" style=""></span>
	</a></ul>
		</div>
	</div>
	<ul class="feed" data-date="{{ day_str }}">
		{% for i, p in enumerate(posts) %}
				{% if i < 3 %}
					<li class="post post-lg clearfix" data-date-created="{{ p['date_created'] }}" data-sort-score="{{ p.get('daily_sort_score') }}">
					{% include post_snippet_reverse.html %}
					</li>
				{% else %}
					<li class="post post-sm clearfix" data-date-created="{{ p['date_created'] }}" data-sort-score="{{ p.get('daily_sort_score') }}">
					{% include post_snippet_reverse.html %}
					</li>
				{% end %}
				
				</li>
		{% end %}
	</ul>
	
	<div class="more" style="text-align:center; margin: 0;">
	  <a class="btn" href="/day/{{ previous_day_str }}" style="width: 20em">Show previous day &darr;</a>
	</div>
</div>