{% extends "../base.html" %}

{% block body_class %}conversation{% end %}

{% block submit_area %}{% end %}

{% block content %}
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <h2 style="margin-top:0">Edit!</h2>
      {% include post_form_snippet.html %}
    </div>
  </div>
  {% end %}

{% block javascript %}
  <script type="text/javascript">
    $(document).ready(function() {
      USV_setup_tinymce();
      $('.header-submit-button').hide();
      $('#submit-trigger').hide();
      $('.header-search-container').css({right: '0px'});
    });
  </script>
{% end %}
