<div class="col-sm-6 col-md-4 related-post">
<li class="featured-post card usv">
<div class="content">
<a class="title" href="http://{{ template_helpers.post_permalink(p) }}">{{ p['title'] }}</a>

<div class="excerpt">{{ p['body_truncated'] }}</div>
<div class="meta">
<a style="color: #999" class="username" href="/user/{{ p['user']['username'] }}">@ {{ p['user']['username'] }}</a>

<br class="meta-break" style="display:none">
<span class="time" style="margin-right: 12px;"><a href="http://{{ template_helpers.post_permalink(p) }}"><span class="glyphicon glyphicon-link" style="margin: 0;font-size: 90%"></span> {{ template_helpers.pretty_date(p['date_created']) }}</a></span><a href="{{ template_helpers.post_permalink(p) }}">
</a><a class="comment-count" href="{{ template_helpers.post_permalink(p) }}" data-disqus-identifier="{{ str(p['_id']) }}">comment</a>
</div>
</div>
</li>
</div>