{% extends '../base.html' %}

{% block body_class %}conversation{% end %}

{% block content %}
  <div id="main" role="main">
    <section class=" centered clearfix">
      <h2 class="section-heading" style="margin-top:0">Featured Posts</h2>
      <div class="row">
        {% for post in featured_posts %}
          {% include post_snippet.html %}
        {% end %}
      </div>
      {% if pages > 1 %}
        <div id="pagination">
          <ul>
            {% if previous %}
              <li><a href="{{ get_page_url(previous) }}">&laquo;</a></li>
            {% else %}
              <li class="disabled"><span>&laquo;</span></li>
            {% end %}
            {% if show_pages == True %}
              {% for page_num in page_range %}
                {% if page_num != page %}
                  <li><a href="{{ get_page_url(page_num) }}">{{ page_num }}</a></li>
                {% else %}
                  <li class="active"><span>{{ page_num }}</span></li>
                {% end %}
              {% end %}
            {% end %}
            {% if next %}
              <li><a href="{{ get_page_url(next) }}">&raquo;</a></li>
            {% else %}
              <li class="disabled"><span>&raquo;</span></li>
            {% end %}
          </ul>
        </div>
      {% end %}
    </section>
  </div>
{% end %}

{% block javascript %}
  <script>
    $(document).ready(function() {
      rp_max_height = 0;
      $('.featured-post').each(function() {
        if ($(this).height() > rp_max_height) {
          rp_max_height = $(this).height();
        }
      })
      $('.featured-post').height(rp_max_height);
    });
  </script>
{% end %}

