<div class="user">
	<a href="/user/{{ post.user.username }}">
		<img class="avatar" title="{{ post.user.username }}" src="{{ post.user.profile_image_url_https }}" alt="thumbnail">
	</a>
</div>
<div class="content">
		<a class="title" href="{{ post.permalink() }}" target="_blank">{{ post.title }}</a>
	<div class="meta">
		<span class="username" style="">@{{ post.user.username }}</span>
		<br /><span class="time"><a href="{{ post.permalink() }}" ><span> {{ post.date_created.strftime("%m/%d/%Y") }}</a></span>

	<a href="{{ post.permalink() }}" ><span class="glyphicon glyphicon-comment" style="margin: 0;"></span></a> <a class="dsq-comment-count" data-disqus-identifier="{{ post.id }}" href="{{ post.permalink() }}">{{ post.comment_count }} comment{{ 's' if post.comment_count != 1 else '' }}</a>
	</div>

</div>
