{% extends '../base.html' %}
{% block body_class %}conversation{% end %}

{% block title %}{{ post.title }} | {% end %}

{% block content %}
  <div id="main" role="main">
    {% if subscribe and user_info and post.user.id_str == user_info.user.id_str %}
    <script type="text/javascript">
      $(function() {
        $("#subscribe-modal").modal('show');
      });
    </script>
  {% end %}
  {% module subscribe_modal(post=post) %}
  <div class="row article-post single community">
    <div class="col-sm-8 col-sm-offset-2">
      <article class="usv-post">
        <h1 class="post-title">
          {% if post.url %}
            <a href="{{ post.url }}" title='view original link on {{ urlparse(post.url).netloc }}' target="_blank">{{ post.title }}
              <span class="glyphicon glyphicon-new-window"></span>
            </a>
          {% else %}
            {{ post.title }}
          {% end %}
        </h1>
        {% if post.url %}
          <p style="margin-top:0; margin-bottom: 25px"><a class="post-source" style="color: #999" href="{{ post.url }}" target="_blank">{{ urlparse(post.url).netloc }} &rarr;</a></p>
        {% end %}
        <div>
          <div class="profile-photo">
            <a href="http://www.twitter.com/{{ post.user.username }}" title="@{{ post.user.username }}" target="_blank">
              <img class="avatar" src="{{ twitter_avatar_size(post.user.profile_image_url_https, 'original') }}" alt="thumbnail">
            </a>
            <div class="visible-xs">
              {% if post.user.id_str == user_id_str or is_staff(username) %}
                <p><a href="/posts/{{ post.slug }}/edit" class="btn">Edit</a></p>
              {% end %}
            </div>
          </div>
          <div class="post-body">
            <span class="post-author">
              <a href="http://www.twitter.com/{{ post.user.username }}" title="@{{ post.user.username }}">@{{ post.user.username }}</a>
              <span class="text-muted">&nbsp;<span style="color: #ddd">&bull;</span>&nbsp; {{ pretty_date(post.date_created) }}</span>
            </span>
            {#
              <a class="shared-link" href="http://apple.com/example-of-very-long-url-slug" target="_blank" title="Source: http://apple.com/example-of-very-long-url-slug">
                <span>apple.com/example-of-very-long-url-slug &rarr;</span>
              </a>
            #}
            {% raw post.body_html %}
            {% if post.url and (urlparse(post.url).netloc == "twitter.com" or urlparse(post.url).netloc == "www.twitter.com") %}
              <br /><br />
              <blockquote class="twitter-tweet">
                <a href="{{ post.url }}"></a>
              </blockquote>
              <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
            {% end %}
            {% if post.url and (urlparse(post.url).netloc == "youtube.com" or urlparse(post.url).netloc == "www.youtube.com") %}
              {% set vid_id = post.url.split("=")[1] %}
              <br /><br />
              <iframe width="560" height="315" src="http://youtube.com/embed/{{ vid_id }}" frameborder="0" allowfullscreen></iframe>
            {% end %}
            {% if post.url and (urlparse(post.url).netloc == "vimeo.com" or urlparse(post.url).netloc == "www.vimeo.com") %}
              {% set vid_id = urlparse(post.url).path %}
              <iframe src="//player.vimeo.com/video{{ vid_id }}" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            {% end %}
            {% if post.has_hackpad and post.hackpad_url %}
              <p><a class="post-body-hackpad-link" target="_blank" href="{{ post.hackpad_url }}">Hackpad &rarr;</a></p>
            {% end %}
          </div>
        </div>
        <div class="post-meta clearfix row hidden-xs">
          <div class="col-sm-3 col-xs-6 upvote">
            {% module ajax_upvote_link(post=post) %}
          </div>
          <div class="col-xs-6 tags">
            {% if post.tags %}
              <span class="post-tags">
                {% for count, tag in enumerate(post.tags) %}
                  <a href="/tagged/{{ url_escape(tag) }}">#{{ tag }}</a>{% if count < len(post.tags) - 1 %}, {% end %}
                {% end %}
              </span>
            {% end %}
          </div>
          <div class="col-sm-3 tweet">
            <a href="https://twitter.com/share" class="twitter-share-button" data-via="">Tweet</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>  
          </div> 
        </div>
        <div class="meta visible-xs">
          <div class="post-meta mobile clearfix row">
            <div class="col-xs-6 upvote">
              {% module ajax_upvote_link(post=post) %}
            </div>
            <div class="col-xs-6 tweet">
              <a href="https://twitter.com/share" class="twitter-share-button" data-via="">Tweet</a>
              <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>  
            </div> 
          </div>
        </div>
        <div class="comment-box">
          <div id="disqus_thread"></div>
            <script type="text/javascript">
              var disqus_config = function() {
                {% raw disqus_sso %}
                this.page.api_key = '{{ settings.disqus_public_key }}';
                this.sso = {
                  name: "USV",
                  button: "{{ 'http://%s/%s' % (settings.base_url, 'static/img/disqus-sso-login-button.png') }}",
                  icon: "{{ 'http://%s/%s' % (settings.base_url, 'static/favicon.png') }}",
                  url: "{% raw 'http://%s/%s%s' % (settings.base_url, 'auth/twitter/?email_required=1&close_popup=1&next=', url_escape(handler.request.path)) %}",
                  logout: "{% raw 'http://%s/%s%s' % (settings.base_url, 'auth/logout/?next=', url_escape(handler.request.path)) %}",
                  width: "600",
                  height: "600"
                };
                this.callbacks.onNewComment = [function(comment) { 
                  $.get("/api/incr_comment_count", { comment: comment.id, post: "{{ post.id }}" }, function(result){});
                }];
              };
            </script>
            <script type="text/javascript">
              /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
              var disqus_shortname = "{{ settings.disqus_apikey }}"; // required: replace example with your forum shortname
              var disqus_identifier = "{{ post.id }}";
              var disqus_title = "{{ post.title }}";
              var disqus_url = "{{ post.permalink() }}";
              /* * * DON'T EDIT BELOW THIS LINE * * */
              (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
              })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
            <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
          </div>
        </article>
      </div>
      <!-- Allow editing if USVer or the OP -->
      <div class="col-sm-2 hidden-xs">
        {% if post.user.id_str == user_id_str or is_staff(username) %}
          <p><a href="/posts/{{ post.slug }}/edit" class="btn">Edit</a></p>
        {% end %}
        {% if is_staff(username) %}
          <p><a href="https://partners.mongohq.com/app18119720-heroku-com/mongo/app18119720/collections/post/documents/%7B%22%24oid%22%3A%22{{ post.id }}%22%7D">mongohq</a></p>
        {% end %}
      </div>
    </div>
  </div>
{% end %}
