{% extends "../base.html" %}

{% block body_class %}conversation{% end %}

{% block submit_area %}{% end %}

{% block css %}
  {% if 'is_bookmarklet' in locals() and is_bookmarklet %}
  <style type="text/css">
    #site-header,
    .col-sm-8 h2 {
      display: none !important;
    }
  </style>
  {% end %}
{% end %}

{% block content %}
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <h2 style="margin-top:0">Submit a Post!</h2>
      {% include post_form_snippet.html %}
    </div>
  </div>
  {% end %}

{% block javascript %}
  <script type="text/javascript">
    $(document).ready(function() {
      USV_setup_tinymce();
      $('.header-submit-button').hide();
      $('#submit-trigger').hide();
      $('.header-search-container').css({right: '0px'});
    });
  </script>
{% end %}
