<div class="avatar">
  <a href="http://www.twitter.com/{{ p['user']['username'] }}" target="_blank">
    <img title="{{ p['user']['username'] }}" src="{{ p['user']['profile_image_url_https'] }}" alt="thumbnail">
  </a>
</div>
<div class="content">
  {% if 'url' in p and p['url'] %}
    <a class="title" href="{{ p['url'] }}" rel="nofollow" target="_blank">{{ p['title'] }}</a>
    <a href="{{ p['url'] }}" rel="nofollow" class="source" target="_blank">{{ urlparse(p['url']).netloc }}</a>
  {% else %}
    <a class="title" href="/posts/{{ p['slug'] }}" target="_blank">{{ p['title'] }}</a>
    <a href="/posts/{{ p['slug'] }}" class="source" target="_blank">usv.com</a>
  {% end %}
  <div class="meta">
    <a class="username-link" href="http://www.twitter.com/{{ p['user']['username'] }}" target="_blank" style="color: #999">@{{ p['user']['username'] }}</a>
    <span class="username" style="">@{{ p['user']['username'] }}</span>
    <span class="time"><a href="/posts/{{ p['slug'] }}" ><span class="glyphicon glyphicon-link" style="margin: 0;font-size: 90%"></span> {{ template_helpers.pretty_date(p['date_created']) }}</a></span>
    <a href="/posts/{{ p['slug'] }}/upvote" class="votes-count ajax_upvote_link upvote-button">
      <i class="icon-arrow-up icon"></i>
      <span class="value">{{ p['votes'] }} vote{{ 's' if p['votes'] != 1 else '' }}</span>
    </a>
    <a href="/posts/{{ p['slug'] }}" ><span class="glyphicon glyphicon-comment" style="margin: 0;"></span></a> <a class="dsq-comment-count" data-disqus-identifier="{{ str(p['slug']) }}" href="/posts/{{ p['slug'] }}">{{ p['comment_count'] }} comment{{ 's' if p['comment_count'] != 1 else '' }}</a>
    {% if current_user in settings.get('staff') %}
      &nbsp;&nbsp;
      <span class="volume">
        {% if not p['muted'] %}
          <a title="mute (remove from front page)" style="color: #333; opacity:.5; font-size: 1.2em" href="/posts/{{ p['slug'] }}/mute" class="mute"><span class="glyphicon glyphicon-volume-off"></span></a>
          <a title="make this quieter" style="color: red; opacity:.5; font-size: 1.2em" href="/posts/{{ p['slug'] }}/bumpdown"><span class="glyphicon glyphicon-volume-down"></span></a>
          <a title="make this louder" style="color: blue;  opacity:.5; font-size: 1.1em;" href="/posts/{{ p['slug'] }}/bumpup"><span class="glyphicon glyphicon-volume-up"></span></a>
        {% else %}
          <a title="unmute this post" style="color: blue;  opacity:.5; font-size: 1.1em;" href="/posts/{{ p['slug'] }}/unmute"><span class="glyphicon glyphicon-volume-off"></span></a>
        {% end %}
      </span>
    {% end %}
  </div>
</div>
