{% if 'tags' in p.keys() and len(p['tags']) > 0 %}
{% set has_tags = True %}
{% else %}
{% set has_tags = False %}
{% end %}

<div class="user">
  <!--<a href="/user/{{ p['user']['username'] }}">-->
    <img class="avatar" src="{{ p['user']['profile_image_url_https'] }}" alt="thumbnail">
  <!--</a>-->
</div>

<div class="meta-top meta" data-status="closed" data-post-url="/posts/{{ p['slug'] }}">
  
  <a class="username-link" href="/user/{{ p['user']['username'] }}">@{{ p['user']['username'] }}</a>
  
  <span class="time"><a href="/posts/{{ p['slug'] }}" ><span class="glyphicon glyphicon-link" style="margin: 0;font-size: 90%"></span> {{ p['date_created'].strftime("%I:%M %p") }}</a></span>
  
  <span class="time-search" style="display:none"><a href="/posts/{{ p['slug'] }}" ><span class="glyphicon glyphicon-link" style="margin: 0;font-size: 90%"></span> {{ p['date_created'].strftime("%m/%d/%Y") }}</a></span>
  
  <a class="dsq-comment-count comment-count {{ 'zero' if p['comment_count'] == 0 else "" }}" title="Go to discussion"
data-disqus-identifier="{{ str(p['_id']) }}" href="/posts/{{ p['slug'] }}">{{ p['comment_count'] if p['comment_count'] > 0 else '' }} {{ '' if p['comment_count'] == 0 else "" }}</a>
  
  {% if p['body_html'] and p['body_html'].strip() != ""  %}
  <a class="expand" data-status="closed" href="/posts/{{ p['slug'] }}"><span class="glyphicon glyphicon-collapse-down"></span> expand</a>
  {% end %}
  
</div>

<div class="content {% if has_tags %}has-tags{% end %}">
  
  {% if p['body_html'] and p['body_html'].strip() != ""  %}
  <div class="excerpt" data-post-url="/posts/{{ p['slug'] }}">
    {% if p['body_html'].find('<p>') < 0 %}
      {% set excerpt = "<p>" + p['body_html'] + "</p>" %}
    {% else %}
      {% set excerpt = p['body_html'] %}
    {% end %}
    {% raw excerpt %}
  </div>
  {% end %}
  <div class="meta clearfix">
    {% if 'tags' in p.keys() %}
    <div class="tags pull-right">
      {% for i, t in enumerate(p['tags']) %}
        {% if i < 2 %}
        <a href="/tagged/{{ t }}">#{{ t }}</a> 
        {% end %}
      {% end %}
    </div>
    {% end %}
  </div>
<div class="link" data-post-url="/posts/{{ p['slug'] }}">
  {% include bumpit_snippet.html %}
  {% if 'url' in p and p['url'] %}
    <a class="title" href="{{ p['url'] }}" rel="nofollow" target="_blank">{{ p['title'] }}</a>
    <div class="source">{% if 'domain' in p.keys() %}{{p['domain']}}{% else %}{{ urlparse(p['url']).netloc }}{% end %}</div>
  {% else %}
    <a class="title" href="/posts/{{ p['slug'] }}" target="_blank">{{ p['title'] }}</a>
    <div class="source">usv.com</div>
  {% end %}
  <span class="xs-author">&ndash; @{{ p['user']['username'] }}</span>
  {% if current_user_can('view_post_sort_score') %}
  <span class="sort_score">{{ p['daily_sort_score'] }}</span>
  {% end %}
</div>

</div>


