{% set post = Post() %}
<form id="" class="form-horizontal submit-post-form" role="form" action="/posts" method="POST">
  <input type="hidden" name="slug" value="{{ post.slug }}" />
  {% raw xsrf_form_html() %}
  <div class="form-group">
	  <label for="title" class="col-xs-1 control-label">Title</label>
	  <div class="col-xs-11">
		  <input id="post_title" name="title" type="text" class="form-control" placeholder="Your Post Title" required="" value="{{ post.title }}">
		</div>
	</div>
	<div class="form-group">
		<label for="url" class="col-xs-1 control-label">Link</label>
		<div class="col-xs-11">
			<input id="post_url" name="url" type="text" placeholder="http://example.com" value="{{ post.url }}" class="form-control">
				{% if 'dups' in globals() and dups %}
				<div class="alert alert-danger" style="color: #333">
					<p style="margin-top:0"><strong>This URL might have already been submitted.</strong> Does it match one of these?</p>
					<ul>
						{% for dupe in dups %}
						<li><b><a style="color: #000;" href="{{ dupe.permalink() }}" target="_blank">{{ dupe.title }}</a></b><br />
							<a class="text-muted" href="{{ dupe.url }}">{{ dupe.url }}</a></li>
						{% end %}
					</ul>
					<input type="hidden" name="bypass_dup_check" id="bypass_dup_check" value="true" />
				</div>
				{% end %}
		</div>
	</div>
	
	<div class="form-group">
		<label for="body_raw" class="col-xs-1 control-label">Body</label>
		<div class="col-xs-11 tinymce-textbox">
			<textarea type="text" class="form-control" id="post_body_raw" name="body_raw">
				{% raw post.body_raw %}
			</textarea>
		</div>
	</div>

	<div class="form-group">
		<label for="tags" class="col-xs-1 control-label">Tags</label>
		<div class="col-xs-11">
			<input id="post_tags" name="tags" type="text" placeholder="pitch, meta, health, mobile, education" value="{{ ', '.join(p.tags) }}" class="form-control">
			<span class="text-muted">(separate by commas)</span>
		</div>
	</div> 

 {% if current_user in settings.get('staff') %}
	 	
	<div class="form-group">
		<div class="col-xs-11 col-xs-offset-1">
			<div class="checkbox">
				<label>
					<input type="checkbox" id="post_featured" name="featured" value="true" {{ 'checked' if post.featured else '' }}/> Featured?
				</label>
			</div>
		</div>
	</div>

		{% try %}
			{% if not p['date_created'] %} 
		<div class="form-group">
			<div class="col-xs-11 col-xs-offset-1 hidden-xs">
				<div class="checkbox">
					<label>
						<input type="checkbox" id="post_deleted" name="deleted" value="true" {{ 'checked' if post.deleted else '' }} /> Deleted?
					</label>
				</div>
			</div>
			</div>
			{% end %}
		{% except %}
		{% end %}
		
	{% end %}
		  
	<div class="form-group">
		<div class="col-xs-offset-1 col-xs-11">
			<button type="submit" class="btn btn-primary">Submit</button>
		</div>
	</div>
</form>