<div class="sidebar-widget welcome clearfix">

	{% raw settings.get('site_intro') %}
	
	
	<p class="pull-left" style=""><a class="btn btn-primary" role="button" data-toggle="modal" href="#submit-modal">Submit a post</a></p>
	<p style="font-size: .9em; margin-bottom: 0; padding-top: 4px" class="pull-right"><a href="/posts/welcome-to-the-new-usvcom#comment-1066691905">posting guidelines</a> <span class="text-muted">|</span> <a id="show-tools-btn" href="#tools">tools</a></p>
	
	<form class="form form-inline search" style="margin-bottom: 0" role="form" method="GET" action="/search">
		<input type="text" class="form-control" id="query" name="query" placeholder="Search...">
	</form>
	
</div>


<div class="sidebar-widget" id="hot-posts-past-week" >
	<h3 style="">Active conversations (last 5 days):</h3>
	<ul class="feed">
		{% for p in hot_posts_past_week %}
			<li class="post post-sidebar">
				{% include sidebar_post_snippet.html %}
			</li>
		{% end %}
	</ul>
</div>

{% if 'tags' in globals() and len(tags) > 0 %}
<div class="sidebar-widget">
 <h3 style="">Popular tags (last 14 days):</h3>
 <ul class="filter-tabs tags">
	 {% for t in tags['result'] %}
			 <li><a data-tag-count="{{t['count']}}" href="/tagged/{{t['_id']}}">#{{t['_id']}} ({{t['count']}})</a></li>
	 {% end %}
 </ul>
 <p style="font-size: .9em; text-align:left; margin: 5px 0 0;"><a href="/tags">More tags</a></p>
 </div>
 {% end %}
