
<div class="user">
  <a href="/user/{{ p['user']['username'] }}">
    <img class="avatar" title="{{ p['user']['username'] }}" src="{{ p['user']['profile_image_url_https'] }}" alt="thumbnail">
  </a>
</div>

<div class="content">
  <div class="meta-top meta">
    <a class="username-link" href="/user/{{ p['user']['username'] }}" style="color: #999">@{{ p['user']['username'] }}</a>

    <span class="time"><a href="/posts/{{ p['slug'] }}" ><span class="glyphicon glyphicon-link" style="margin: 0;font-size: 90%"></span> {{ p['date_created'].strftime("%I:%M %p") }}</a></span>

    <span class="time-search" style="display:none"><a href="/posts/{{ p['slug'] }}" ><span class="glyphicon glyphicon-link" style="margin: 0;font-size: 90%"></span> {{ p['date_created'].strftime("%m/%d/%Y") }}</a></span>

    <b><a class="dsq-comment-count comment-count" data-disqus-identifier="{{ str(p['_id']) }}" href="/posts/{{ p['slug'] }}">{{ p['comment_count'] }} comment{{ 's' if p['comment_count'] != 1 else '' }}</a></b>

    {% if p['body_html'].strip() != "" %}
    <a class="expand" data-status="closed" href="/posts/{{ p['slug'] }}"><span class="glyphicon glyphicon-collapse-down"></span> expand</a>
    {% end %}

  </div>
  <div class="excerpt">
    {% raw p['body_html'] %}
    
    {% if 'url' in post and post['url'] and (urlparse(post['url']).netloc == "twitter.com" or urlparse(post['url']).netloc == "www.twitter.com") %}
      <br /><br />
      <blockquote class="twitter-tweet">
        <a href="{{ post['url'] }}"></a>
      </blockquote>
      <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    {% end %}
    
    {% if 'url' in post and post['url'] and (urlparse(post['url']).netloc == "youtube.com" or urlparse(post['url']).netloc == "www.youtube.com") %}
      {% set vid_id = post['url'].split("=")[1] %}
      <br /><br />
      <iframe width="560" height="315" src="http://youtube.com/embed/{{ vid_id }}" frameborder="0" allowfullscreen></iframe>
    {% end %}
    
    {% if 'url' in post and post['url'] and (urlparse(post['url']).netloc == "hackpad.com" or urlparse(post['url']) == "www.hackpad.com") %}
    {% set pad_id = post['url'].split("-")[-1] %}
    <style type="text/css">
      #hackpad-{{ pad_id }} {
        width:120% !important;
        border-right: 1px solid #ddd !important;
      }
    </style>
    <br style="clear:both" /><br />
    <script src="https://hackpad.com/{{ pad_id }}.js"></script>              
    {% end %}
    
    {% if 'url' in post and post['url'] and (urlparse(post['url']).netloc == "vimeo.com" or urlparse(post['url']).netloc == "www.vimeo.com") %}
      {% set vid_id = urlparse(post['url']).path %}
      <iframe src="//player.vimeo.com/video{{ vid_id }}" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    {% end %}
    
    {% if post['has_hackpad'] and post['hackpad_url'] %}
      <p><a class="post-body-hackpad-link" target="_blank" href="{{ post['hackpad_url'] }}">Hackpad &rarr;</a></p>
    {% end %}
    
    <!-- Allow editing if USVer or the OP -->
    <div class="">
      {% if post['user']['screen_name'] == current_user or current_user in settings.get('staff') %}
        <p><a href="/posts/{{ post['slug'] }}/edit" class="btn">Edit</a></p>
      {% end %}
    </div>
  </div>
  
  <div class="meta clearfix">
    <div class="tags pull-right">
      {% for i, t in enumerate(p['tags']) %}
        {% if i < 2 %}
        <a href="/tagged/{{ t }}">#{{ t }}</a> 
        {% end %}
      {% end %}
    </div>
  </div>
  {% include bumpit_snippet.html %}
</div>
{% if len(p['tags']) > 0 %}
{% set has_tags = True %}
{% else %}
{% set has_tags = False %}
{% end %}
<div class="link {% if has_tags %}has-tags{% end %}">
  {% if 'url' in p and p['url'] %}
    <a class="title" href="{{ p['url'] }}" rel="nofollow" target="_blank">{{ p['title'] }}</a>
    <div class="source"> <span class="glyphicon glyphicon-link" style=""></span> <a href="{{ p['url'] }}" rel="nofollow" class="" target="_blank">{% if 'domain' in p.keys() %}{{p['domain']}}{% else %}{{ urlparse(p['url']).netloc }}{% end %}</a></div>
  {% else %}
    <a class="title" href="/posts/{{ p['slug'] }}" target="_blank">{{ p['title'] }}</a>
    <div class="source"><span class="glyphicon glyphicon-link" style=""></span> <a href="/posts/{{ p['slug'] }}" class="source" target="_blank">usv.com</a></div>
  {% end %}
</div>