<form id="" class="form" action="/posts" method="POST">
  <input type="hidden" name="slug" value="{% try %}{{post['slug']}}{% except %}{% end %}" />
  {% raw xsrf_form_html() %}
  <fieldset>
	<dl>
	  <dt>
		<label for="title">Title</label>
		<div class="field-errors">{% try %}{{ field_errors(errors, 'title') }}{% except %}{% end %}</div>
	  </dt>
	  <dd>
		<input id="post_title" name="title" type="text" class="form-control" placeholder="Your Post Title" required="" value="{% try %}{{post['title']}}{% except %}{% end %}">
	  </dd>
	  <dt>
		<label for="url">Link</label>
		<div class="field-errors">
		  {% try %}
			{{ field_errors(errors, 'url') }}
			{% if existing_posts %}
			  <div id="existing-posts">
				This URL might have already been submitted. Does it match one of these?
				<ul>
				  {% for p in existing_posts %}
					<li><a href="{{ p['url'] }}" target="_blank">{{ p['title'] }}</a></li>
				  {% end %}
				</ul>
				<span class="no-match btn">
				  <a href="#" class="no-match">&times; Ignore</a>
				</span>
			  </div>
			{% end %}
		  {% except %}
		  {% end %}
	  </div>
		<input type="hidden" name="bypass_dup_check" id="bypass_dup_check" value="{% try %}{{ 'true' if (post['url'] and not existing_posts) else '' }}{% except %}{% end %}" />
	  </dt>
	  <dd>
		<input id="post_url" name="url" type="text" placeholder="http://example.com" value="{% try %}{{ post['url'] }}{% except %}{% end %}" class="form-control">
	  </dd>
	  <dt>
		<label for="body_raw">Body</label>
		<div class="field-errors">{% try %}{{ field_errors(errors, 'body_raw') }}{% except %}{% end %}</div>
	  </dt>
	  <dd class="tinymce-textbox"> 
		<textarea type="text" class="form-control" id="post_body_raw" name="body_raw">
		  {% try %}
			{{ post['body_raw'] or '' }}
		  {% except %}
		  {% end %}
		</textarea>
	  </dd>
	  <dt>
		<label for="url">Tags (separate by comma)</label>
		<div class="field-errors">{% try %}{{ field_errors(errors, 'tags') }}{% except %}{% end %}</div>
	  </dt>
	  <dd>
		<input id="post_tags" name="tags" type="text" placeholder="pitch, meta, health, mobile, education" value="{% try %}{{ ', '.join(post['tags']) if post['tags'] else '' }}{% except %}{% end %}" class="form-control">
	  </dd>
	  {% if current_user in settings.get('staff') %}
		<dt class="featured">
		  <div id="toggle-featured"></div>
		  <label for="post_featured">Featured</label>
		  <div class="field-errors">{% try %}{{ field_errors(errors, 'featured') }}{% except %}{% end %}</div>
		</dt>
		<dd>
		  <input type="checkbox" id="post_featured" name="featured" value="true" {% try %}{{ 'checked' if post['featured'] else '' }}{% except %}{% end %} />
		</dd>
	  {% end %}
	  {% try %}
		{% if not post['date_created'] %}
		  <li class="deleted">
			<div id="toggle-deleted"></div>
			<label for="post_deleted">Deleted</label>
			<div class="field-errors">{{ field_errors(errors, 'deleted') }}</div>
			<input type="checkbox" id="post_deleted" name="deleted" value="true" {{ 'checked' if post['deleted'] else '' }} />
		  </li>
		{% end %}
	  {% except %}
	  {% end %}
	  <div class="for-submit" style="padding: 10px; text-align:right">
		<button type="submit" class="btn btn-primary">Submit</button>
	  </div>
	</ol>
  </fieldset>
</form>