{% if post.url %}
  <a class="title" href="{{ post.url }}" rel="nofollow" target="_blank">{{ post.title }}</a>
{% else %}
  <a class="title" href="{{ post.permalink() }}" target="_blank">{{ post.title }}</a>
{% end %}

  
<div class="meta clearfix">
  <a class="username-link" href="/user/{{ post.user.username }}" style="color: #999">@{{ post.user.username }}</a>

  <a class="dsq-comment-count comment-count" data-disqus-identifier="{{ str(post.id) }}" href="/posts/{{ post.slug }}">{{ post.comment_count }}</a>

</div>