{% if 'url' in p and p['url'] %}
  <a class="title" href="{{ p['url'] }}" rel="nofollow" target="_blank">{{ p['title'] }}</a>
{% else %}
  <a class="title" href="/posts/{{ p['slug'] }}" target="_blank">{{ p['title'] }}</a>
{% end %}

  
<div class="meta clearfix">
  <a class="username-link" href="/user/{{ p['user']['username'] }}" style="color: #999">@{{ p['user']['username'] }}</a>

  <a class="dsq-comment-count comment-count" data-disqus-identifier="{{ str(p['_id']) }}" href="/posts/{{ p['slug'] }}">{{ p['comment_count'] }}</a>

</div>