{% extends '../base.html' %}

{% block body_class %}conversation{% end %}

{% block title %}{{ post['title'] }} | {% end %}

{% block content %}
  {% import re %}

  <div id="main" role="main">
    <div class="row article-post single community">
      <div class="col-sm-8 col-sm-offset-2">
        <article class="usv-post">
          <h1 class="post-title">
            {% if 'url' in post and post['url'] %}
              <a href="{{ post['url'] }}" title='view original link on {{ urlparse(post['url']).netloc }}' target="_blank">{{ post['title'] }}
                <span class="glyphicon glyphicon-new-window"></span>
              </a>
            {% else %}
              {{ post['title'] }}
            {% end %}
          </h1>
          {% if 'url' in post and post['url'] %}
            <p style="margin-top:0; margin-bottom: 25px"><a class="post-source" style="color: #999" href="{{ post['url'] }}" target="_blank">{{ urlparse(post['url']).netloc }} &rarr;</a></p>
          {% end %}
          <div>
            <div class="profile-photo">
              <a href="/user/{{ post['user']['username'] }}" title="@{{ post['user']['username'] }}">
                <img class="avatar" src="{{ template_helpers.twitter_avatar_size(post['user']['profile_image_url_https'], 'original') }}" alt="thumbnail">
              </a>
              <div class="visible-xs">
                {% if post['user']['screen_name'] == current_user or current_user in settings.get('staff') %}
                  <p><a href="/posts/{{ post['slug'] }}/edit" class="btn">Edit</a></p>
                {% end %}
              </div>
            </div>
            <div class="post-body">
              <span class="post-author"><a href="/user/{{ post['user']['username'] }}" title="@{{ post['user']['username'] }}">@{{ post['user']['username'] }}</a>
                <span class="text-muted">&nbsp;<span style="color: #ddd">&bull;</span>&nbsp; {{ template_helpers.pretty_date(post['date_created']) }}</span>
              </span>
              {#
                <a class="shared-link" href="http://apple.com/example-of-very-long-url-slug" target="_blank" title="Source: http://apple.com/example-of-very-long-url-slug">
                  <span>apple.com/example-of-very-long-url-slug &rarr;</span>
                </a>
              #}

              {% set post['body_html'] = re.sub(r'@([^\s]+)', r'<a href="/user/\1">@\1</a>', post['body_html']) %}
              {% raw post['body_html'] %}

              {% if 'url' in post and post['url'] and (urlparse(post['url']).netloc == "twitter.com" or urlparse(post['url']).netloc == "www.twitter.com") %}
                <br /><br />
                <blockquote class="twitter-tweet">
                  <a href="{{ post['url'] }}"></a>
                </blockquote>
                <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
              {% end %}

              {% if 'url' in post and post['url'] and (urlparse(post['url']).netloc == "youtube.com" or urlparse(post['url']).netloc == "www.youtube.com") %}
                {% set vid_id = post['url'].split("=")[1] %}
                <br /><br />
                <iframe width="560" height="315" src="http://youtube.com/embed/{{ vid_id }}" frameborder="0" allowfullscreen></iframe>
              {% end %}
              
              {% if 'url' in post and post['url'] and (urlparse(post['url']).netloc == "hackpad.com" or urlparse(post['url']) == "www.hackpad.com") %}
              {% set pad_id = post['url'].split("-")[-1] %}
              <style type="text/css">
                #hackpad-{{ pad_id }} {
                  width:120% !important;
                  border-right: 1px solid #ddd !important;
                }
              </style>
              <br style="clear:both" /><br />
              <script src="https://hackpad.com/{{ pad_id }}.js"></script>              
              {% end %}

              {% if 'url' in post and post['url'] and (urlparse(post['url']).netloc == "vimeo.com" or urlparse(post['url']).netloc == "www.vimeo.com") %}
                {% set vid_id = urlparse(post['url']).path %}
                <iframe src="//player.vimeo.com/video{{ vid_id }}" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
              {% end %}
              
              {% if 'url' in post and post['url'] and (urlparse(post['url']).netloc == "hackpad.com" or urlparse(post['url']) == "www.hackpad.com") %}
              {% set pad_id = post['url'].split("-")[-1] %}
              <style type="text/css">
                #hackpad-{{ pad_id }} {
                  width:120% !important;
                  border-right: 1px solid #ddd !important;
                }
              </style>
              <br style="clear:both" />
              <script src="https://hackpad.com/{{ pad_id }}.js"></script>              
              {% end %}

              {% if post['has_hackpad'] and post['hackpad_url'] %}
                <p><a class="post-body-hackpad-link" target="_blank" href="{{ post['hackpad_url'] }}">Hackpad &rarr;</a></p>
              {% end %}
            </div>
          </div>

          <div class="post-meta clearfix row hidden-xs">
            <div class="col-sm-3 col-xs-6 upvote">
              <a href="/posts/{{ post['slug'] }}/upvote" class="votes-count ajax_upvote_link upvote-button">
                <span class="value">{{ post['votes'] }} vote{{ 's' if post['votes'] != 1 else '' }}</span>
              </a>
            </div>
            <div class="col-xs-6 tags">
              {% if 'tags' in post and post['tags'] %}
                <span class="post-tags">
                  {% for count, tag in enumerate(post['tags']) %}
                    <a href="/tagged/{{ url_escape(tag) }}">#{{ tag }}</a>{% if count < len(post['tags']) - 1 %}, {% end %}
                  {% end %}
                </span>
              {% end %}
            </div>
            <div class="col-sm-3 tweet">
              <a href="https://twitter.com/share" class="twitter-share-button" data-text="{{ post['title'] }}" data-via="{{ post['user']['screen_name'] }}" data-hashtags="usvconversation">Tweet</a> 
            </div> 
          </div>

          <div class="meta visible-xs">
            <div class="post-meta mobile clearfix row">
              <div class="col-xs-6 upvote">
                <a href="/posts/{{ post['slug'] }}/upvote" class="votes-count ajax_upvote_link upvote-button">
                  <span class="value">{{ post['votes'] }} vote{{ 's' if post['votes'] != 1 else '' }}</span>
                </a>
              </div>
              <div class="col-xs-6 tweet">
                <a href="https://twitter.com/share" class="twitter-share-button" data-text="{{ post['title'] }}" data-via="{{ post['user']['screen_name'] }}" data-hashtags="usvconversation">Tweet</a>  
              </div> 
            </div>
          </div>

          {% if current_user == post['user']['username'] and ('disqus_user_id' not in user_obj.keys() or user_obj['disqus_user_id'] == '') %} 
            <div class="alert alert-info">
              If you'd like to receive email notifications of new comments, <a href="/auth/disqus">link to Disqus here</a>.
            </div>
          {% end %}

          <div class="comment-box">
            <div id="disqus_thread"></div>

            <script type="text/javascript">
              var disqus_config = function() {
                this.callbacks.onNewComment = [function(comment) {
                  $.get("/api/incr_comment_count", { comment: comment.id, post: "{{ str(post['slug']) }}" }, function(result){});
                }];
              };
            </script>

            <script type="text/javascript">
              /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
              var disqus_shortname = "{{ post['disqus_shortname'] or settings.get('disqus_short_code') }}";
              var disqus_identifier = "{{ post['_id'] }}";
              var disqus_title = "{{ post['title'] }}";
              var disqus_url = "http://{{settings.get('base_url')}}/posts/{{ post['slug'] }}";

              /* * * DON'T EDIT BELOW THIS LINE * * */
              (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
              })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
            <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>

          </div>

          {% if False %}
          {% set tmp = post['voted_users'].reverse() %}
          {% for user in post['voted_users'] %}
            <hr />
            <p>
              <img class="avatar" src="{{ user.get('profile_image_url_https', '') }}" alt="thumbnail" style="max-height:25px;" />
              {% if 'screen_name' in user and user['screen_name'] != post['user']['screen_name'] %}
                <a href="http://www.twitter.com/{{ user['screen_name'] }}" target="_blank">{{user['screen_name']}}</a> bumped this post.
              {% elif 'screen_name' in user %}
                <a href="http://www.twitter.com/{{ user['screen_name'] }}" target="_blank">{{user['screen_name']}}</a> posted this.
              {% end %}
            </p>
          {% end %}
          {% end %}
        </article>
      </div>

      <!-- Allow editing if USVer or the OP -->
     <div class="col-sm-2 hidden-xs">
       {% if post['user']['screen_name'] == current_user or current_user in settings.get('staff') %}
         <p><a href="/posts/{{ post['slug'] }}/edit" class="btn">Edit</a></p>
       {% end %}
       {% if current_user in settings.get('staff') %}
         <p><a href="https://partners.mongohq.com/app18119720-heroku-com/mongo/app18119720/collections/post/documents/%7B%22%24oid%22%3A%22{{ post['slug'] }}%22%7D">mongohq</a></p>
       {% end %}
     </div>

    </div>
  </div>
{% end %}

{% block javascript %}
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
{% end %}
