{% extends '../base.html' %}

{% block body_class %}conversation{% end %}

{% block title %}{{ post['title'] }} | {% end %}

{% block content %}
  {% from urlparse import urlparse %}
  {% from lib import template_helpers %}
  <div id="main" role="main">
    <div class="row article-post single community">
      <div class="col-sm-8 col-sm-offset-2">
        <article class="usv-post">
          <h1 class="post-title">
            {% if post['url'] %}
              <a href="{{ post['url'] }}" title='view original link on {{ urlparse(post['url']).netloc }}' target="_blank">{{ post['title'] }}
                <span class="glyphicon glyphicon-new-window"></span>
              </a>
            {% else %}
              {{ post['title'] }}
            {% end %}
          </h1>
          {% if post['url'] %}
            <p style="margin-top:0; margin-bottom: 25px"><a class="post-source" style="color: #999" href="{{ post['url'] }}" target="_blank">{{ urlparse(post['url']).netloc }} &rarr;</a></p>
          {% end %}
          <div>
            <div class="profile-photo">
              <a href="http://www.twitter.com/{{ post['user']['username'] }}" title="@{{ post['user']['username'] }}" target="_blank">
                <img class="avatar" src="{{ template_helpers.twitter_avatar_size(post['user']['profile_image_url_https'], 'original') }}" alt="thumbnail">
              </a>
              <div class="visible-xs">
                {% if post['user']['id_str'] == user_id_str or is_staff %}
                  <p><a href="/posts/{{ post['slug'] }}/edit" class="btn">Edit</a></p>
                {% end %}
              </div>
            </div>
            <div class="post-body">
              <span class="post-author"><a href="http://www.twitter.com/{{ post['user']['username'] }}" title="@{{ post['user']['username'] }}">@{{ post['user']['username'] }}</a>
                <span class="text-muted">&nbsp;<span style="color: #ddd">&bull;</span>&nbsp; {{ template_helpers.pretty_date(post['date_created']) }}</span>
              </span>
              {#
                <a class="shared-link" href="http://apple.com/example-of-very-long-url-slug" target="_blank" title="Source: http://apple.com/example-of-very-long-url-slug">
                  <span>apple.com/example-of-very-long-url-slug &rarr;</span>
                </a>
              #}

              {% raw post['body_html'] %}

              {% if post['url'] and (urlparse(post['url']).netloc == "twitter.com" or urlparse(post['url']).netloc == "www.twitter.com") %}
                <br /><br />
                <blockquote class="twitter-tweet">
                  <a href="{{ post['url'] }}"></a>
                </blockquote>
                <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
              {% end %}

              {% if post['url'] and (urlparse(post['url']).netloc == "youtube.com" or urlparse(post['url']).netloc == "www.youtube.com") %}
                {% set vid_id = post['url'].split("=")[1] %}
                <br /><br />
                <iframe width="560" height="315" src="http://youtube.com/embed/{{ vid_id }}" frameborder="0" allowfullscreen></iframe>
              {% end %}

              {% if post['url'] and (urlparse(post['url']).netloc == "vimeo.com" or urlparse(post['url']).netloc == "www.vimeo.com") %}
                {% set vid_id = urlparse(post['url']).path %}
                <iframe src="//player.vimeo.com/video{{ vid_id }}" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
              {% end %}

              {% if post['has_hackpad'] and post['hackpad_url'] %}
                <p><a class="post-body-hackpad-link" target="_blank" href="{{ post['hackpad_url'] }}">Hackpad &rarr;</a></p>
              {% end %}
            </div>
          </div>

          <div class="post-meta clearfix row hidden-xs">
            <div class="col-sm-3 col-xs-6 upvote">
            </div>
            <div class="col-xs-6 tags">
              {% if post['tags'] %}
                <span class="post-tags">
                  {% for count, tag in enumerate(post['tags']) %}
                    <a href="/tagged/{{ url_escape(tag) }}">#{{ tag }}</a>{% if count < len(post['tags']) - 1 %}, {% end %}
                  {% end %}
                </span>
              {% end %}
            </div>
            <div class="col-sm-3 tweet">
              <a href="https://twitter.com/share" class="twitter-share-button" data-via="">Tweet</a>
              <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>  
            </div> 
          </div>

          <div class="meta visible-xs">
            <div class="post-meta mobile clearfix row">
              <div class="col-xs-6 upvote">
              </div>
              <div class="col-xs-6 tweet">
                <a href="https://twitter.com/share" class="twitter-share-button" data-via="">Tweet</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>  
              </div> 
            </div>
          </div>

          <div class="comment-box">
            <div id="disqus_thread"></div>
          </div>

        </article>
      </div>

      <!-- Allow editing if USVer or the OP -->
     <div class="col-sm-2 hidden-xs">
       {% if post['user']['id_str'] == user_id_str or is_staff %}
         <p><a href="/posts/{{ post['slug'] }}/edit" class="btn">Edit</a></p>
       {% end %}
       {% if is_staff %}
         <p><a href="https://partners.mongohq.com/app18119720-heroku-com/mongo/app18119720/collections/post/documents/%7B%22%24oid%22%3A%22{{ post['slug'] }}%22%7D">mongohq</a></p>
       {% end %}
     </div>

    </div>
  </div>
{% end %}
