<script type="text/javascript">
    $(document).ready(function() {
        $(".post .title").ellipsis();

        $(".{{ name }}").masonry({
            itemSelector: '.post',
            columnWidth: 270,
            gutterWidth: 30,
            isAnimated: true,
        });

    });
</script>
{% set test["a"] = "two" %}
{{ test }}
{% block css2 %}
.container-fluid-flush {
  margin: 0px;
  padding: 0px;
}
.row-fluid {
}
.box_view {
  margin: 20px 0px 0px 40px;
}
.post {
    width: 220px;
    display: inline-block;
    float: left;
    margin: 0px 0px 40px 0px;
    height: 310px;
    padding: 10px 15px 15px 25px;
    padding-top: 25px;
}
.post img {
    width: 202px;
    height: 176px;
}
.post .vote {
    float: left;
}
.post_info {
    float: left;
    width: 120px;
}
.post .title {
    display: block;
    margin: 17px 0px 8px 0px;
    font-size: 18px !important;
    line-height: 25px;
    overflow: hidden;
    height: 50px;
    width: 220px;
}
.post .contents {
    float: left;
}
.post .voting, .post .voted {
    float: left;
    width: 80px;
    padding: 0px;
    margin: 10px 20px 10px 0px;
    font-size: 20px;
    text-align: center;
}
.post .details {
    margin-top: 5px;
}
{% end %}

<div class="{{ name }} box_view">
    {% for object in objects %}
        {%set obj_template = object._class_name.lower() %}
        {% module Template("components/box_view_items/%s.html" % obj_template,
                                object=object, user=user) %}
    {% end %}
</div>
