<script type="text/javascript">
    $(document).ready(function() {
        $(".post .title").ellipsis();
    });
</script>

<style type="text/css">
.post {
    width: 220px;
    display: inline-block;
    float: left;
    margin: 20px;
    height: 310px;
    padding: 10px 15px 15px 25px;
    padding-top: 25px;
}
.post img {
    width: 202px;
    height: 176px;
}
.post .vote {
    float: left;
}
.post_info {
    float: left;
    width: 120px;
}
.post .title {
    display: block;
    margin: 17px 0px 8px 0px;
    font-size: 18px !important;
    line-height: 25px;
    overflow: hidden;
    height: 50px;
    width: 220px;
}
.post .contents {
    float: left;
}
.post .voting, .post .voted {
    float: left;
    width: 80px;
    padding: 0px;
    margin: 10px 20px 10px 0px;
    font-size: 20px;
    text-align: center;
}
.post .details {
    margin-top: 5px;
}
</style>

<div class="{{ name }}">
    {% for link in objects %}
        <div class="post">
            <div class="contents">
                <a href="/links/{{ link.id }}">
                    <img src="/static/images/link_thumbnails/{{ link.id }}.png" alt="" />
                </a>
                <br/>
                <a href="/links/{{ link.id }}" class="title">
                    {{ link.title }}
                </a>
                <div class="details">
                    <ul class="vote {{ "voted" if user['username'] in [u['username'] for u in link.voted_users] else "voting" }}">
                        <li>
                            <span class="green">
                                <div class="icon-arrow-up">&nbsp;</div>
                            </span>
                            <a href="/links/{{ link.id }}/upvote">
                                {{ link.votes }}
                            </a>
                        </li>
                    </ul>

                    <p class="post_info">
                        {% if link.user.auth_type == 'twitter' %}
                            <span class="icon-user"></span> 
                            <a href="http://twitter.com/{{ link.user.username }}">
                                @{{ link.user.username }}
                            </a>
                        {% end %}
                        <br/>
                        <span class="icon-calendar"></span>
                        <a href="#">{{ link.date_created.strftime("%B %d, %Y") }}</a>
                        <br/>
                        <span class="icon-comment"></span>
                        &nbsp;
                        <a href="/links/{{ link.id }}#disqus_thread"></a>
                    </p>
                </div>
            </div>
        </div>
    {% end %}
</div>
