<style type="text/css">
.well_input {
    width: 200px !important;
    margin: 5px 0px 0px 0px;
}
.well_input_label {
    display: inline;
    margin: 5px 10px 0px 0px;
    font-weight: bolder;

}
.well_value {
    margin-top: 15px;
}
</style>

<div class="well well_{{ name }}" style="height: {{ height }}; width: 100%;">
  <div style="text-align: center; margin-top: {{ center_height }};" class="inner_well">
        <div class="btn-group widget_chooser">
            {% for option in options %}
                {% set option_name = option.get('name').lower().replace(" ", "-").replace("*", "") %}
                <button name="{{ option_name }}" class="btn {{ "disabled" if option.get('disabled') else "" }}
                                {{ "well_" + option_name }}">
                    <div class="{{ option.get('icon') or 'icon-plus' }}"></div>
                    {{ option.get('name') }}
                </button>
            {% end %}
        </div>
        <div class="well_value" style="display: none;">
            <p class="well_input_label">URL</p>
            <input type="text" name="{{ name }}_url" placeholder="" value="" class="well_input" />
            <input type="text" name="{{ name }}_url_type" value="empty" class="well_input_type" />
        </div>
  </div>
</div>
