<div class="well" style="height: {{ height }}; width: 100%;">
  <div style="text-align: center; margin-top: {{ center_height }};">
      <div class="btn-group widget_chooser">
            <button class="btn disabled">
                <div class="icon-plus"></div>
                My Link
            </button>

            <button class="btn">
                <div class="icon-plus"></div>
                GDOC
            </button>

            <button class="btn">
                <div class="icon-plus"></div>
                HackPad
            </button>

            <button class="btn">
                <div class="icon-ban-circle"></div>
                Empty
            </button>
      </div>
  </div>
</div>
