{% extends "../base.html" %}

{% block javascript %}
{% end %}

{% block content %}

	<h1>posts</h1>
	<ul>
		{% for post in data %}
		<li>
			<b>{{ post['title'] }}</b> ({{ post['id'] }})<br />
			<span style="background: yellow; padding: 5px;">{{ post['score'] }}</span> hours elapsed: {{ post['hours_elapsed'] }} 
			votes: {{ post['votes'] }} 
			comments: {{ post['comment_count'] }} 
			staff bonus: {{ post['staff_bonus'] }} 
			time penalty: {{ post['time_penalty'] }}
			<br />
			<br />
		</li>
		{% end %}
	</ul>

{% end %}
