{% extends "../base.html" %}

{% block javascript %}
<style type="text/css">
	.subscore {
		background: #ddd;
		color: #333;
		padding: 3px;
	}
</style>
{% end %}

{% block content %}

	<form class="form" action="/admin/sort_posts" method="GET">
		<table class="table">
			<tr>
				<td>staff bonus:</td>
				<td><input type="text" name="staff_bonus" value="{{ staff_bonus }}" /></td>
				<td>min votes:</td>
				<td>
					<input type="text" name="min_votes" value="{{ min_votes }}" />
				</td>
			</tr>
			<tr>
				<td>time penalty multiplier:</td>
				<td><input type="text" name="time_penalty_multiplier" value="{{ time_penalty_multiplier }}" />
					<br />1.0 = 1 point lost per hour
					
				</td>
				<td>grace period:</td>
				<td><input type="text" name="grace_period" value="{{ grace_period }}" />
					<br /># hrs before time penalty kicks in
				</td>
			</tr>
			<tr>
				<td>comments multiplier:</td>
				<td><input type="text" name="comments_multiplier" value="{{ comments_multiplier }}" /></td>
				<td>votes multiplier:</td>
				<td><input type="text" name="votes_multiplier" value="{{ votes_multiplier }}" /></td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td style="text-align:right"><button type="submit" class="btn">Go</button></td>
			</tr>
		</table>
	</form>
	<ul>
		{% for post in data %}
		<li>
			<span style="background: yellow; padding: 5px;">{{ post['score'] }}</span> &nbsp; 
			<b><a style="color: #000" href="/posts/{{ post['id'] }}">{{ post['title'] }}</a></b><br />
			@{{ post['username'] }} | 
			hours elapsed: {{ post['hours_elapsed'] }} |  
			time penalty: <span class="subscore">{{ post['scores']['time'] }}</span> |
			votes: {{ post['votes'] }} <span class="subscore">{{ post['scores']['votes'] }}</span> |
			comments: {{ post['comment_count'] }} <span class="subscore">{{ post['scores']['comments'] }}</span> |
			staff bonus: <span class="subscore">{{ post['staff_bonus'] }}</span>
			<br />
			<br />
		</li>
		{% end %}
	</ul>

{% end %}
