body {
	margin:20px 0;
	color:#000;
	min-width:940px;
	background:#223;
	font:12px arial, sans-serif;
}
/* General reset */
form, fieldset {
	margin: 0;
	padding: 0;
	border-style: none;
}
img {
	border:0;
}
input, select, textarea {
	vertical-align: middle;
	font: 100% arial, helvetica, sans-serif;
}
a {
	color: #690;
	text-decoration: none;
	border-bottom: 1px dotted #690;
}
a:hover {
	text-decoration: none;
	border-bottom: 1px solid #690;
}

/* General settings */
#wrapper {
	width:940px;
	padding:0 20px 18px;
	margin: 0 auto;
	background:#fff;
}
#header {
	width:100%;
	overflow:hidden;
	padding:0 0 25px;
}
.logo {
	margin:5px 0 0;
	float:left;
	width:130px;
	height:139px;
	text-indent:-9999px;
	overflow:hidden;
}
.logo a {
	display:block;
	background:url(../images/logo.gif) no-repeat;
	height:100%;
}
#header .holder {
	width:810px;
	float:right;
	padding:21px 0 0;
}
.search-bar div {
	width:100%;
	overflow:hidden;
}
.search-bar .bg {
	float:right;
	width:230px;
	height:29px;
	overflow:hidden;
	background:url(../images/bg-search.gif) no-repeat;
}
.search-bar .btn-search {
	float:left;
	width:31px;
	border:0;
	padding:0;
	line-height:0;
	font-size:0;
	text-indent:-9999px;
	cursor:pointer;
	height:29px;
	background:none;
}
.search-bar .text {
	float:left;
	width:200px;
	margin-left: 30px;
	border:0;
	padding:7px 0 0;
	background:none;
}
/* main-navigation */
#main-nav {
	margin:0;
	padding:48px 0 0;
	list-style:none;
	float:right;
	width: 700px;
}
#main-nav li {
	float:left;
	font-weight:bold;
	margin:0 1px 0 0;
}

/* V2 */
#main-nav li a {
	float:left;
	color:#fff;
	width:169px;
	padding:18px 0 2px 5px;
	line-height:20px;
	background-color:#8a4;
	border: 0;
}
#main-nav li a.active {
	background-color:#aba;
}
#main-nav li a:hover  {
	background-color:#223;
	text-decoration:none;
}


/* content */

.archive-wrapper .archive-list {
	width: 700px;
	margin-left: 240px;
	list-style: none;
	padding-bottom: 200px;
}
.archive-wrapper .archive-list li {
	padding: 0 0 12px;
	margin-bottom: 12px;
	clear: both;
	border-bottom: 1px solid #ccc;
}
.archive-wrapper .archive-list h2 a {
	font: bold 18px/20px Arial, sans-serif;
	display: block;
	margin-top: 6px;
	width: 620px;
	border-bottom: none;
}
.archive-wrapper .archive-list h2 a:hover {
	color: #223;
}
.archive-wrapper .content-nav {
	width: 220px;
	float: left;
	display: block;
	clear: left;
}
.archive-list li p {
	font: 12px/15px Arial, sans-serif;
	width: 620px;
}
.archive-list li a:hover.btn-continue {
	background-color: #223;
}
#content {
	width:100%;
	overflow:hidden;
	padding:0 0 23px;
}
.intro {
	height:1%;
	overflow:hidden;
	padding:16px 79px 18px 80px;
	background:#eeeedd;
	margin:0 0 36px;
}
.lede {
	height:1%;
	overflow:hidden;
	padding:16px 79px 48px 0;
}
.index .intro {
	margin:0 0 9px;
	padding:16px 79px 34px 80px;
}
.intro-bar {
	float:left;
	width:160px;
	font-size:11px;
	line-height: 16px;
	padding:16px 0 0;
}
.index .intro-bar {
	padding:24px 0 0;
}
.intro-bar img {
	display:block;
	margin:0 0 10px;
}
.intro-bar a {
	border-bottom: 0;
}
.intro-bar a:hover {
	text-decoration: underline;
	border-bottom: 0;
}
.frame-author {
	height:1%;
	overflow:hidden;
	margin: 0 0 3px;
}
.frame-author img {
	border:1px solid #333;
}
.lede .sidebar {
	height:1%;
	overflow:hidden;
	float: left;
	width: 220px; 
	margin: 58px 20px 40px 0;
}
.lede .sidebar p {
	font: 11px/16px Arial, sans-serif;
	color: #566;
	margin-bottom: 10px;
	padding-right: 10px;
}
.lede .sidebar p strong {
	color: #000;
}
.intro-bar p {
	margin:0 0 5px;
}
.intro-bar p a {
	font-weight: bold;
}
.replies {
	float:left;
	margin:15px 0 0;
	line-height:13px;
	padding:0 0 0 23px;
	font-weight: bold;
	background:url(../images/bullet-comment.gif) no-repeat;
	border: 0;
}
a:hover.replies{
	border: 0;
	background:url(../images/bullet-comment.gif) 0 bottom no-repeat;
	color: #223;
}
.intro-content {
	float:left;
	width:621px;
	font-size:16px;
	padding:9px 0 20px;
}
.intro-content h3 {
	font: bold 12px arial, sans-serif;
	margin-top: 40px;
}
.index .intro-content {
	padding:18px 0 0;
}
.holder-heading {
	width:100%;
	position:relative;
	overflow:hidden;
	margin:1px 0 19px;
	padding:17px 0 3px;
	border-bottom:1px solid #000;
}
.index .holder-heading {
	margin:0 0 12px;
}
.holder-heading .heading {
	display:block;
	position:absolute;
	font-size:12px;
	top:0;
	left:0;
}
.intro-content p {
	margin:0 0 16px;
	color: #223;
	font: 16px/20px Helvetica, Arial, sans-serif;
}
.intro-content.focus p {
	font: bold 16px/22px Helvetica, Arial, sans-serif;
	letter-spacing: -.01em;
	margin-bottom: 10px;
	color: #211;
}
.intro-content p strong {
	color: #000;
}
.intro-content p#collateral {
	font: 12px/15px Arial, sans-serif;
}
.intro-content p#collateral a {
	background: url(../images/hide-show.gif) 0 1px no-repeat;
	padding: 0 0 0 15px;
	margin-right: 4px;
	display: inline;
	float: left;
	font-size: 12px;
}
.intro-content #collateral-list {
	float: left;
	list-style-type: none;
	margin: 0;
	padding: 20px;
	background-color: #ccc;
	display: none;
}
.intro-content a {
	font-weight:bold;
}
.intro-content h1 a, .text-box-holder h2 a {
	text-decoration: none;
	border-bottom: none;
	color: #000;
}
.intro-content h1 a:hover, .text-box-holder h2 a:hover {
	border-bottom: 1px dotted #223;
}

.intro-content #collateral-list li {
	float: left;
}
.intro-content #collateral-list li a img {
	float: left;
	margin: 0 10px;
	border: 1px solid #fff;
	padding: 0;
}
.btn-continue {
	line-height:23px;
	float:left;
	color:#fff;
	font-weight:bold;
	font-size:11px;
	padding:0 24px 0 15px;
	background:#88aa44 url(../images/arrow1.gif) no-repeat 100% 50%;
	border-bottom: 0;
}
a:hover.btn-continue {
	background-color: #223;
	border-bottom: 0;
}
/* index-post */
#content .holder-column {
	width:100%;
	overflow:hidden;
}
.two-column {
	width:620px;
	float:left;
	overflow:hidden;
	margin:0 0 -12px;
}
.three-column {
	width: 700px;
	clear: both;
	overflow: hidden;
	float: right;
	height: auto;
}
#content .two-column .holder-column {
	width:640px;
	float: left;
}
#content .holder-column .col {
	width:300px;
	float:left;
	margin:0 20px 0 0;
	display:inline;
}

.holder-column .text-box {
	width:260px;
	overflow:hidden;
	background:#eeeedd;
	padding:28px 20px 35px;
	margin: 0 20px 12px 0;
	position:relative;
	float: left;
}
.three-column .text-box {
	width: 210px;
	padding: 0 10px 10px 0;
	background-color: transparent;
	float: left;
	margin: 0 10px 20px 0;
	height: auto;
	overflow: hidden;
}
.three-column .text-box-holder {
	height: 450px;
	overflow: hidden;
	float: left;
	padding-bottom: 30px;
}
.three-column .text-box .text-box-holder h2 {
	border-top: 1px solid #000;
	padding-top: 20px;
}
* html .holder-column .text-box-holder {
	height:369px;
	overflow: visible;
}
.holder-column .text-box-holder {
	min-height:420px;
}
.holder-column.focus .text-box-holder {
	float: left;
}
#content .text-box h2 {
	margin:0 0 22px;
}

.holder-column .text-box p {
	margin:0 0 9px;
	line-height:16px;
}
.holder-column .text-box p a {
	font-weight:bold;
}
.bottom-bar {
	/*margin:0 0 0 -9px;*/
	padding:0;
	list-style:none;
	position:absolute;
	bottom:16px;
	left:11px;
}
.bottom-bar li {
	float:left;
	font-size:11px;
	line-height:12px;
	padding:0 3px 0 9px;
	background:url(../images/bullet2.gif) no-repeat 0 50%;
}
.bottom-bar li:first-child {
	background:none;
}
.bottom-bar li .replies {
	margin:0;
}
#content .holder-column .right {
	float:right;
	overflow:hidden;
	margin:0;
	font-size:11px;
}
.holder-column .right .holder-heading {
	font-size:12px;
}
.holder-column .right .box {
	background:#eeeedd;
	height:1%;
	overflow:hidden;
	padding:15px 10px;
}
.holder-column .more {
	display:block;
	text-align:right;
	font-weight:bold;
	padding:0 0 4px;
}
.holder-column .more a {
	padding:0 9px 0 0;
	background:url(../images/bullet1.gif) 100% 50% no-repeat;
}
.job-list {
	margin:0;
	padding:0 0 28px;
}
.job-list dt {
	font-weight:bold;
}
.job-list dd {
	display:block;
	margin:0 0 4px;
	color:#444;
}
.link {
	display:block;
	text-align:right;
}
.permalink .intro {
	background-color: #fff;
}
.permalink .intro-bar .comment-count {
	display: block;
	font: bold 36px/38px Helvetica, Arial sans-serif;
	clear: both;
	margin-top: 20px;
}
.permalink .intro-bar .replies {
	margin: 20px 0 0;
} 
.permalink .intro-bar a:hover {
	color: #000;
}
.permalink .intro-content p {
	font: 16px/22px Helvetica, Arial, sans-serif;
	color: #333;
}
#content.permalink .intro .intro-content h1 {
	margin: 6px 0 36px;
	font: bold 36px/38px Helvetica, Arial, sans-serif;
	letter-spacing: -.03em;
	border-bottom: 1px solid #000;
	padding-bottom: 18px;
}
.read-list {
	margin:0;
	padding:0;
	list-style:none;
	width:322px;
	overflow:hidden;
}
.read-list li {
	float:left;
	width:138px;
	line-height:17px;
	padding:0 22px 0 0;
}
.read-list li a {
	color:#444;
	border-bottom: 0;
}
.read-list li a:hover {
	text-decoration: underline;
}
/* info-box */
.info-box {
	width:620px;
	overflow:hidden;
	padding:0 0 55px 240px;
}
.info-box .frame-ico {
	float:left;
	width:80px;
}
.info-box .frame-ico a {
	border: 0;
}
.info-box .text {
	float:right;
	width:540px;
}
.info-box .holder-heading {
	margin:0 0 11px;
}
#content h1 {
	margin:0 0 6px;
	font-size:28px;
}
#content .archive-wrapper h1.archive-title {
	width: 700px;
	padding-bottom: 8px;
	border-bottom: 1px solid #000;
	margin: 36px 0 36px 240px;
	letter-spacing: -.03em;
	font: bold 36px/38px Helvetica, Arial, sans-serif;
}
.index #content h1 {
	margin:0 0 18px;
}
.from {
	display:block;
	position:absolute;
	top:0;
	left:0;
	font-size:11px;
	font-weight: normal;
}
.from a { font-weight: bold; }
#content h2 {
	margin:0 0 5px;
	font-size:20px;
	line-height:22px;
}
.blog-list {
	margin:-13px 0 0;
	padding:0;
	list-style:none;
	width:100%;
	overflow:hidden;
}
.blog-list li {
	height:1%;
	overflow:hidden;
	padding:10px 0 5px;
	border-bottom:1px solid #dadada;
}
.blog-list .title {
	display:block;
	font-size:16px;
	margin-bottom: 6px;
}
#content .date {
	display:block;
	font-style:normal;
	font-size:11px;
	color:#444;
}
/* twitter-list */
.sub-head {
	display:block;
	line-height:19px;
	margin-bottom: 4px;
}
/* flick-list */
.flick-list {
	margin:0;
	padding:0;
	list-style:none;
	width:100%;
	overflow:hidden;
}
.flick-list li {
	float:left;
	width:150px;
	height:150px;
	margin:0 10px 0 0;
	display:table;
}
.flick-list li a {
	width:100%;
	height:100%;
	display:table-cell;
	vertical-align:middle;
	border-bottom: 0;
	background:#ccccdd;
}
.flick-list li a:hover {
	border-bottom: 0;
	background:#223;
}
.flick-list li img {
	display:block;
	margin:0 auto;
	border: 1px solid #fff;
}
.show {
	float:right;
	font-weight:bold;
	padding:7px 0 0;
	font-size:11px;
}
.blog-list .frame {
	float:left;
	padding:5px;
	margin:0 9px 0 0;
	background:#d1d1d1;
}
/* investments */
.investment-box {
	height:1%;
	overflow:hidden;
	/*padding:0 0 0 79px;*/
	padding:0;
}

.investment-box h1 {
	padding: 20px 0 0 240px;
}

.investment-box .holder {
	width:100%;
	overflow:hidden;
	border-top:1px solid #000;
	padding:10px 0 20px;
}
.investment-box .item-list li {
	border-bottom: 1px solid #000;
}
.item-heading {
	font:bold 16px Helvetica, Arial, sans-serif;
}

.side-nav {
	margin: 0;
	padding: 0;
	overflow: hidden;
	list-style:none;
	width: 220px;
	float: left;	
}

.side-nav li a {
	padding: 4px 0 4px 15px;
	border-bottom: 1px solid #ddd;
	display: block;
	font-size: 11px;
	color: #555;
	background:url(../images/bullet1.gif) no-repeat 0 50%;
}
.side-nav li a:hover {
	color: #000;
	border-bottom-color: #000;
}
.item-list {
	margin: 0;
	padding:4px 0 0;
	list-style:none;
	float: right;
	width:720px;
	display: block;
}
.item-list.investments {
	margin:-28px -20px 40px 0;
}
.item-list li {
	float:left;
	width:160px;
	margin: 0 20px 20px 0;
	/*padding:0 20px 40px 0;*/
	height: 320px;
	display: block;
}


.item-list.investments li {
	float:left;
	width:220px;
	margin: 0 20px 20px 0;
	/*padding:0 20px 40px 0;*/
	height: 320px;
	display: block;
}

.item-list.investments li {
	height: 360px;
}
.item-list li .frame {
	width:100%;
	overflow:hidden;
}
.item-list li .frame img {
	display:block;
	height: 160p;
	width: 160px;
}
.item-list li .holder-heading {
	margin:0 0 15px;
}
.item-list li a p {
	margin: 0;
}
.item-list li p {
	margin:0 0 5px;
	/*font-weight:bold;*/
	line-height: 16px;
}
.item-list li .more {
	color:#444;
	font-size:11px;
	padding:0 9px 0 0;
	background:url(../images/bullet1.gif) no-repeat 100% 50%;
}
/* usv-rev-whoweare2 */
.item-list.our-team {
	float: left;
	margin: -20px 0 0 240px;
}
.item-list.our-team li {
	padding:0 0 5px;
	height: 400px; 
	border-bottom: none;
	
}
.item-list.our-team .holder-heading {
	margin-top: -20px;
}
.item-list.our-team li p {
	padding: 0 10px 20px 0;
}

/* footer */
#footer {
	width:940px;
	overflow:hidden;
	background:#ffe;
	font-size:11px;
	padding:0 0 40px;
	margin-top: 40px;
}
#footer .column {
	width:942px;
	overflow:hidden;
}
#footer .col {
	width:313px;
	float:left;
	display:inline;
	margin:0 1px 0 0;
}
#footer .col .holder {
	padding:0 0 0 9px;
	height:1%;
	overflow:hidden;
}
#footer .heading {
	display:block;
	margin:0 0 14px;
	color:#fff;
	background:#222233;
	line-height:23px;
	padding:0 11px;
}
#footer p {
	padding-right: 20px;
}
.post-list {
	margin:0;
	padding:0 0 0 9px;
	list-style:none;
	height:1%;
	overflow:hidden;
}
.post-list li {
	line-height:14px;
	padding:0 30px 0 11px;
	background:url(../images/bullet1.gif) no-repeat 0 4px;
	margin-bottom: 6px;
}
.post-list li a {
	color:#333;
	border: 0;
}
.post-list li a:hover {
	text-decoration: underline;
}
.archive-list {
	padding:0 0 41px 4px;
	margin:0;
	height:1%;
	overflow:hidden;
	font-size:10px;
	line-height:22px;
}
.archive-list dt, .archive-list .year {
	float:left;
	padding:0 4px 0 0;
	font-weight:bold;
}
.archive-list dd {
	color:#444;
	margin:0;
	float: left;
	width: 275px;
}
.archive-list dd a, .archive-list a.month {
	color:#444;
	width: 10px;
	height: 15px;
	padding: 0 0 0 2px;
}
.archive-list a.month {
	float: left;
}
.subscribe fieldset {
	height:1%;
	overflow:hidden;
	padding:0 0 0 7px;
	margin:-9px 0 0;
	font-size:11px;
}
.subscribe ul {
	margin:0;
	padding:0;
	list-style:none;
	width:100%;
	overflow:hidden;
}
.subscribe ul li {
	margin:-1px 0 1px;
	height:1%;
	overflow:hidden;
	padding:11px 0 9px;
	border-top:1px solid #000;
}
.subscribe label {
	float:left;
	font-size:10px;
	width:50px;
	padding:6px 0 0;
	font-weight:bold;
}
.btn-rss {
	float:left;
	width:90px;
	height:20px;
	font-size:0;
	line-height:0;
	text-indent:-9999px;
	overflow:hidden;
	border:0;
	cursor:pointer;
	background:url(../images/btn-rss.gif) no-repeat;
}
.subscribe .text {
	float:left;
	width:154px;
	padding:2px 7px;
	border:1px solid #999;
	color:#999;
	font-size:11px;
	margin:0 2px 0 0;
}
.btn-subscribe {
	float:left;
	width:78px;
	height:20px;
	font-size:0;
	line-height:0;
	padding:0;
	cursor:pointer;
	text-indent:-9999px;
	overflow:hidden;
	background:url(../images/btn-subscribe.gif) no-repeat;
	border:0;
}
#footer p {
	margin:0 0 10px;
	line-height: 15px;
}
#footer p a {
	font-weight:bold;
}
.contact-info {
	height:1%;
	overflow:hidden;
	padding:0 0 0 82px;
}
.address-list {
	width:100%;
	overflow:hidden;
	padding:0 0 10px;
	font-style:normal;
}
.address-list span {
	display:block;
}
.phone-list {
	margin:0;
	width:100%;
}
.phone-list dt {
	float:left;
	width:25px;
	font-weight:bold;
}
.phone-list dd {
	margin:0;
}
/* web-access */
.web-access {
	display:none !important;
}
/* google search */
#cse-search-box {
	width: 230px;
	float: right;
}
#cse-search-results iframe {
	min-height: 1200px;
	overflow: auto;
	padding-bottom: 120px;
}
#res .ts .s {
	font: 1em/1.35em Arial, sans-serif;
}
#res .ts .std {
	font: 1em/1.35em Arial, sans-serif;
	color: #555;
}
/* Indeed Job Module */
.holder-column .right .box {
	margin-bottom: 15px;
}
.holder-column .right .box td {
	width: 260px;
	text-align: left;
	border-bottom: 1px solid #fff;
	margin-left: 10px;
	padding-left: 10px;
}
.holder-column .right .box td a {
 	font-weight: bold;
 	border-bottom: none;
	background:url(../images/bullet1.gif) no-repeat 0 50%;
	margin-left: -11px;
	padding-left: 11px;
}
/* disqus comments */
#comments-content {
	margin-top: 100px;
}
#dsq-comments .dsq-comment-message p {
	font: 1em/1.35em Arial, sans-serif;
	margin: 0 0 0 50px;
	padding: 0;
}
#dsq-comments .dsq-comment-message br {
	line-height: .4em;
}
#dsq-content .dsq-footer-left a {
	padding: 2px 6px;
	background-color: #8a4;
	border-radius: 3px;
	-moz-border-radius: 3px;
	color: #333;
	font: normal 11px Arial, sans-serif;
}
/* widget module */
#content .holder-column .right .widget {
	margin-bottom: 20px;
	clear: both;
}
#content .holder-column .right .widget .holder-heading {
	margin-bottom: 0;
}
.widget.ourfocus ul {
	margin: 0 0 15px;
	padding:0;
	list-style:none;
	height:1%;
	overflow:hidden;
	float: left;
}
.widget.ourfocus li {
	width: 300px;
	padding: 6px 0;
	margin: 0;
	float: left;
	border-bottom: 1px solid #ccc;
}
.widget.ourfocus li p {
	width: 260px;
	padding: 0;
	margin: 0;
	line-height: 14px;
}
.widget.ourfocus li a {
	background:url(../images/bullet1.gif) 0 4px no-repeat;
	padding: 0 0 0 11px;
	margin: 0;
	text-decoration: none;
	border: none;
	float: left;
}
.widget.ourfocus li a:hover {
	color: #000;
}

/* V2 */



#jobsearch {
margin-left: 240px;
margin-top: -30px;
padding-top: 20px;
padding-bottom: 20px;
float: left;

}

#jobsearch input {
font-size: 18px;
}

#browsejobs {
margin-left: 240px;
margin-top: -30px;
float: left;
}

 
div#tweet-badge {
float: left;
margin-top: 7px;
padding-left: 50px;
}

div#tweet-feed {
float: left; 
margin-left: 5px;
}
 
div#tweet-button {
float: right;

}

.twtr-hd, .twtr-ft {display: none;}
.twtr-bd, .twtr-widget .twtr-tweet-wrap, .twtr-widget  {margin:0; padding:0;}
.twtr-widget .twtr-tweet-wrap { margin: 0; padding: 0 0 10px 0 !important; }
.twtr-tweet-text p { font-size: 13px; }
/*.twtr-bd .twtr-timeline {height: 44px !important;}*/



ul.tabs {
    margin: 0;
    padding: 0;
    float: left;
    list-style: none;
    height: 32px;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    width: 100%;
}
ul.tabs li {
    float: left;
    margin: 0;
    padding: 0;
    height: 31px; /*--Subtract 1px from the height of the unordered list--*/
    line-height: 31px; /*--Vertically aligns the text within the tab--*/
    border: 1px solid #ccc;
    border-left: none;
    margin-bottom: -1px; /*--Pull the list item down 1px--*/
    overflow: hidden;
    position: relative;

    background: #f0f0f0;
}
ul.tabs li a {
    text-decoration: none;
    color: #777;

    display: block;
    font-size: 1.2em;
    padding: 0 15px;
    border: 1px solid #fff; /*--Gives the bevel look with a 1px white border inside the list item--*/
    outline: none;
}

ul.tabs li.active a  {
    color: #000;
    color: #222233;
    font-weight: bold;
}

ul.tabs li a:hover {

    background: #ddd;
    color: #444;
}
html ul.tabs li.active, html ul.tabs li.active a:hover  { /*--Makes sure that the active tab does not listen to the hover properties--*/
    background: #fff;
    border-bottom: 1px solid #fff; /*--Makes the active tab look like it's connected with its content--*/
}


.tab_container {
    border: 1px solid #ccc;
    border-top: none;
 /*
   overflow: hidden;
*/
    clear: both;
    float: left; 
    width: 698px;
    background: #fff;
}
.tab_content {
    padding: 2px;
    font-size: 1.2em;

}



	#floating-box{
		width:200px;
		height:600px;
		border:1px solid red;
/*		background-color:#BBBBBB;
	*/	float:left;
		position:absolute;
		z-index:1;
		margin-left: 0px;
		margin-top: 60px;
	}

html { overflow-y: scroll; }

.tab_content table.tab td.secondary { color: #333; width: 150px;}
.tab_content table.tab td { color: #666; line-height: 1.3em; padding-left: 15px;}
.tab_content table.tab td a:hover {color: #222233; border-bottom: 1px solid #222233;}
.tab_content h3 {margin-top: 30px; }

#container div.tab_content {padding: 0px 10px 20px;}


.jobsmenu { margin-left: -250px; margin-top: -20px;  z-index: 3; }
.tab_spacer {
    width: 1px;
    height: 25px;
}

.section { padding-left: 10px; }

.count { color: #999; font-weight: normal; font-size: 0.8em;}