<script type="text/javascript">
    // TODO ADD ELLIPSIS jquery call here, once javascript is abstracted from templates
    // see [#view_note]
</script>
<style type="text/css">
.tweet .body {
    min-height: 225px;
    display: block;
    text-decoration: none;
    font-weight: lighter;
    font-size: 15px;
    overflow: hidden;
}
</style>
<div class="post tweet">
    <div class="contents">
        <a href="/tweets/{{ object.id }}" class="body">
            {{ object.body_raw }}
        </a>
        <br/>
        <div class="details">
            <ul class="vote {{ "voted" if user['username'] in [u['username'] for u in object.voted_users] else "voting" }}">
                <li>
                    <span class="green">
                        <div class="icon-arrow-up">&nbsp;</div>
                    </span>
                    <a href="/tweets/{{ object.id }}/upvote">
                        {{ object.votes }}
                    </a>
                </li>
            </ul>

            <p class="post_info">
                {% if object.user.auth_type == 'twitter' %}
                    <span class="icon-user"></span> 
                    <a href="http://twitter.com/{{ object.user.username }}">
                        @{{ object.user.username }}
                    </a>
                {% end %}
                <br/>
                <span class="icon-calendar"></span>
                <a href="#">{{ object.date_created.strftime("%b %d, %Y") }}</a>
                <br/>
                <span class="icon-comment"></span>
                &nbsp;
                <a href="/tweets/{{ object.id }}#disqus_thread"></a>
            </p>
        </div>
    </div>
</div>

