{% extends '../base.html' %}

{% block title %}
	About | 
{% end %}

{% block body_class %}about{% end %}


{% block javascript %}
	<script>
		var USV_person_names = [
			'brad-burnham',
			'fred-wilson',
			'albert-wenger',
			'john-buttrick',
			'andy-weissman',
			'nick-grossman',
			'kerri-rachlin',
			'veronica-keaveney',
			'gillian-campbell',
			'brittany-laughlin',
			'alexander-pease',
			'brian-watson'
		];
		
		$(window).load(function() {
			rp_max_height = 0;
			$('.featured-post').each(function() {
				if ($(this).height() > rp_max_height) {
					rp_max_height = $(this).height();
				}
			})
			$('.featured-post').height(rp_max_height);
			
		});
		
		$(window).load(function() {
			  
			 var people_heights = {};
			 $('.person-container').each(function(){
			 	people_heights[$(this).attr('usv-person')] = $(this).height();
			 });  
			
			var reset_person_heights = function() {
				$('.person-container').each(function() {
					$(this).height(people_heights[$(this).attr('usv-person')]);
				})
			}

			/* ABOUT PAGE */
			$(".open-bio").click(function(e) {
			   e.preventDefault();
				if ( $(this).hasClass('is-open') ) {
					collapse_bios();
					$(this).removeClass('is-open');
					return;
				}
			   var person = $(this).attr("usv:person");
			   show_bio(person);
			});
			
			var collapse_bios = function() {
				//$('.person-container').height(person_heights);
				reset_person_heights();
				$('.person-container').removeClass('is-open');
				$('.open-bio').removeClass('is-open');
				$("#full-bio").hide();
				$('.full-bio-shim').hide();
				$('.person-container').css('opacity', '1');
			}
			
			$("#close-bio").click(function(e) {
			   e.preventDefault();
			   window.location.hash = "#_";
			   collapse_bios(); 
			   /*$('#team-heading').ScrollTo();*/
			});
			
			var show_bio = function(person, xtra_height) {
				xtra_height = typeof xtra_height !== 'undefined' ? xtra_height : 10;
				
				var $card = $("div[usv-person='" + person + "']");
				var bio_html = $card.find('.full-bio').html();
				var $full_bio_container = $("#full-bio");
				if ($full_bio_container.is(':visible')) {
					collapse_bios();
				}
				$card.addClass('is-open');
				$card.find('a').addClass('is-open');
				window.location.hash = person;
				//$card.ScrollTo();
				var $full_bio_content = $("#full-bio-content");
				var $shim = $card.find('.full-bio-shim');
				
				//$full_bio.width($container.width());
				$full_bio_content.html(bio_html)
				$full_bio_container.show();
				//$shim.show();
				
				// set widths & heights
				$full_bio_container.offset({ 'top' : $card.offset().top + $card.height() - xtra_height });                     
				
				// find which cards are in the same row
				$('.person-container').css('opacity', '0.4');
				$('.person-container').each(function() {
					if ($(this).offset().top == $card.offset().top) {
						$(this).height($(this).height() + $full_bio_container.height() + 36);
					}
				});
				$card.css('opacity', '1');
			}
			
			if (window.location.hash) {
				var name = window.location.hash.split("#")[1];
				var $card = $( "[usv-person='" + name + "']" );
				if($card.length > 0) {
					 collapse_bios();
					 show_bio(name, 10);  
					 /* FIXME */
					 /* passing in the second parameter is a real hack. */                 
				}
			}
		});
		
	</script>

{% end %}

{% block content %}
<div id="main" role="main">
		<h1 class="mobile-page-headline">About</h1>
		<article class="page">

			<div class="row">
				<div class="col-sm-12">
					<div class="deck" style="padding: 0">
						<p>Union Square Ventures is a venture capital firm based in New York City. We are a small collegial partnership that manages $650,000,000 across four funds. Our portfolio companies create services that have the potential to fundamentally transform important markets.</p>
					</div>


					<h2 class="section-heading" id="team-heading">Partners</h2>

					<!-- Divs for bio information when clicking on each person -->
					<div id="full-bio" style="display:none">
						<div id="full-bio-content"></div>
						<div id="full-bio-links"></div>
						<div id="close-bio"><a href=""><span class="glyphicon glyphicon-remove"></span></a></div>
					</div>

					<div class="row">
						<!--<div class="col-sm-2">
							<h2 class="subsection">Partners</h2>
						</div>-->
						<div class="col-lg-12 clearfix">
							<div class="row" id="people">

												<div id="" class="col-sm-3 col-xs-6 person-container" usv-person="brad-burnham">
													<div class="person">
														<a class="open-bio" usv:person="brad-burnham" href="http://beta.usv.com/team/brad-burnham/">
															<img src="/static/img/staff/Brad.jpg" alt="thumbnail" height="160" width="160">
														</a>
														<p class="bio">
															<a class="open-bio" usv:person="brad-burnham" href="http://beta.usv.com/team/brad-burnham/">Brad Burnham</a><!-- <br /><a href="http://beta.usv.com/team/brad-burnham/" class="more-button">MORE</a>-->
														</p>
																												<div class="full-bio-shim" style="display:none"></div>
														<div class="full-bio" style="display:none">
															<p><strong>Brad Burnham</strong> is a managing partner at Union Square Ventures. He started working in information technology with AT&amp;T in 1979. Brad spun Echo Logic out of Bell Laboratories in 1989 and joined AT&amp;T Ventures in 1993. Brad co-founded TACODA in 2001 before joining Fred to create Union Square Ventures in 2003. Brad majored in political science at Wesleyan University. &nbsp;He is married with two kids and lives in New York City.</p>
															<div class="bio-links">
																																	<a class="blog" href="http://bradburnham.tumblr.com">http://bradburnham.tumblr.com</a>                                                  
																																																	<a class="twitter twitter-follow-button" href="http://twitter.com/bradUSV">@bradUSV</a>
																															</div>
														</div>
													</div>
												</div>


												<div id="" class="col-sm-3 col-xs-6 person-container" usv-person="fred-wilson">
													<div class="person">
														<a class="open-bio" usv:person="fred-wilson" href="http://beta.usv.com/team/fred-wilson/">
															<img src="/static/img/staff/Fred.jpg" alt="thumbnail" height="160" width="160">
														</a>
														<p class="bio">
															<a class="open-bio" usv:person="fred-wilson" href="http://beta.usv.com/team/fred-wilson/">Fred Wilson</a> <!-- <br /><a href="http://beta.usv.com/team/fred-wilson/" class="more-button">MORE</a>-->
														</p>
																												<div class="full-bio-shim" style="display:none"></div>
														<div class="full-bio" style="display:none">
															<p><strong>Fred Wilson</strong> has been a venture capitalist since 1987. He currently is a managing partner at Union Square Ventures and also founded Flatiron Partners.&nbsp; Fred has a Bachelors degree in Mechanical Engineering from MIT and an MBA from The Wharton School of Business at the University of Pennsylvania. Fred is married with three kids and lives in New York City.</p>
															<div class="bio-links">
																																	<a class="blog" href="http://avc.com">http://avc.com</a>                                                  
																																																	<a class="twitter twitter-follow-button" href="http://twitter.com/fredwilson" target="_blank">@fredwilson</a>
																															</div>
														</div>
													</div>
												</div>


												<div id="" class="col-sm-3 col-xs-6 person-container" usv-person="albert-wenger">
													<div class="person">
														<a class="open-bio" usv:person="albert-wenger" href="http://beta.usv.com/team/albert-wenger/">
															<img src="/static/img/staff/Albert.jpg" alt="thumbnail" height="160" width="160">
														</a>
														<p class="bio">
															<a class="open-bio" usv:person="albert-wenger" href="http://beta.usv.com/team/albert-wenger/">Albert Wenger</a><!-- <br /><a href="http://beta.usv.com/team/albert-wenger/" class="more-button">MORE</a>-->
														</p>
																												<div class="full-bio-shim" style="display:none"></div>
														<div class="full-bio" style="display:none">
															<p><strong>Albert Wenger</strong> is a partner at Union Square Ventures. &nbsp;Before joining USV, Albert was the president of del.icio.us through the company’s sale to Yahoo and an angel investor (Etsy, Tumblr).&nbsp; He previously founded or co-founded several companies, including a management consulting firm and an early hosted data analytics company. Albert graduated from Harvard College in economics and computer science and holds a Ph.D. in Information Technology from MIT.</p>
															<div class="bio-links">
																																	<a class="blog" href="http://continuations.com">http://continuations.com</a>                                                  
																																																	<a class="twitter twitter-follow-button" href="http://twitter.com/albertwenger">@albertwenger</a>
																															</div>
														</div>
													</div>
												</div>


												<div id="" class="col-sm-3 col-xs-6 person-container" usv-person="john-buttrick">
													<div class="person">
														<a class="open-bio" usv:person="john-buttrick" href="http://beta.usv.com/team/john-buttrick/">
															<img src="/static/img/staff/John.jpg" alt="thumbnail" height="160" width="160">
														</a>
														<p class="bio">
															<a class="open-bio" usv:person="john-buttrick" href="http://beta.usv.com/team/john-buttrick/">John Buttrick</a><!-- <br /><a href="http://beta.usv.com/team/john-buttrick/" class="more-button">MORE</a>-->
														</p>
																												<div class="full-bio-shim" style="display:none"></div>
														<div class="full-bio" style="display:none">
															<p><strong>John Buttrick</strong> is a partner at Union Square Ventures, joining the firm in 2010. He began his career in 1985 as a corporate lawyer at Davis Polk &amp; Wardwell in New York and Paris. He was a partner in the firm’s mergers and acquisitions group from 1994-2000. From 2000-2004, John was a partner at LiveWire, a private equity group that acquired and managed back-office software companies. Between 2004 and 2010, he was involved in a number of start-up ventures in the US and Europe as an investor, director and consultant. He currently serves as Board Chair of Environmental Advocates of New York and Hirondelle USA. John majored in American Studies at Northwestern University and has a JD degree from Villanova University School of Law. John has lived in New York City most of his life.</p>
															<div class="bio-links">
																																															</div>
														</div>
													</div>
												</div>


												<div id="" class="col-sm-3 col-xs-6 person-container" usv-person="andy-weissman">
													<div class="person">
														<a class="open-bio" usv:person="andy-weissman" href="http://beta.usv.com/team/andy-weissman/">
															<img src="/static/img/staff/andy_5.jpg" alt="thumbnail" height="160" width="160">
														</a>
														<p class="bio">
															<a class="open-bio" usv:person="andy-weissman" href="http://beta.usv.com/team/andy-weissman/">Andy Weissman</a><!-- <br /><a href="http://beta.usv.com/team/andy-weissman/" class="more-button">MORE</a>-->
														</p>
																												<div class="full-bio-shim" style="display:none"></div>
														<div class="full-bio" style="display:none">
															<p><strong>Andy Weissman</strong> is a partner at Union Square Ventures. Andy began his career in the Internet at AOL in the mid-90s, then managed a series of venture funds with Dawntreader Ventures. Prior to joining USV, in 2007 he co-founded betaworks, which both created and invested in social, real-time applications and services. Andy was born in New York City and has a BA from Wesleyan University and a JD from Georgetown.</p>
															<div class="bio-links">
																																	<a class="blog" href="http://blog.aweissman.com">http://blog.aweissman.com</a>                                                  
																																																	<a class="twitter twitter-follow-button" href="http://twitter.com/aweissman">@aweissman</a>
																															</div>
														</div>
													</div>
												</div>
												
											</div><!-- /row -->
											<h2 class="section-heading" id="team-heading">Investment Staff</h2>
											<div class="row">
												
												
												<div id="" class="col-sm-3 col-xs-6 person-container" usv-person="nick-grossman">
													<div class="person">
														<a class="open-bio" usv:person="nick-grossman" href="http://beta.usv.com/team/nick-grossman/">
															<img src="/static/img/staff/Nick.jpg" alt="thumbnail" height="160" width="160">
														</a>
														<p class="bio">
															<a class="open-bio" usv:person="nick-grossman" href="http://beta.usv.com/team/nick-grossman/">Nick Grossman</a> <!-- <br /><a href="http://beta.usv.com/team/nick-grossman/" class="more-button">MORE</a>-->
														</p>
																												<div class="full-bio-shim" style="display:none"></div>
														<div class="full-bio" style="display:none">
															<p dir="ltr">Nick works on public policy and regulatory issues that impact open innovation the health of the web. &nbsp;Previously, he led an incubator for technology &amp; media businesses at&nbsp;<a href="http://openplans.org/" target="_blank">OpenPlans</a>, which, among other things, pioneered the&nbsp;<a href="http://open311.org">open311 web standard</a>, founded the <a href="http://open311.org">largest open source project</a> in the public transit space, and built <a href="http://bustime.mta.info">NYC’s real-time bus data platform</a>.</p>
<p>Nick is also a visiting scholar at the <a href="http://civic.mit.edu/" target="_blank">Center for Civic Media</a> at the <a href="http://media.mit.edu/" target="_blank">MIT Media Lab</a>&nbsp;and an affiliate at the <a href="http://cyber.law.harvard.edu">Berkman Center for Internet &amp; Society</a> at Harvard Law School.&nbsp;He has a degree in Urban Studies from Stanford University and learned everything he knows about technology from people on the internet and by using view:source. &nbsp;He grew up in Brooklyn and now lives outside of Boston with his wife and two kids.</p>
															<div class="bio-links">
																																	<a class="blog" href="http://nickgrossman.is">http://nickgrossman.is</a>                                                  
																																																	<a class="twitter twitter-follow-button" href="http://twitter.com/nickgrossman">@nickgrossman</a>
																															</div>
														</div>
													</div>
												</div>


												<div id="" class="col-sm-3 col-xs-6 person-container" usv-person="brittany-laughlin">
													<div class="person">
														<a class="open-bio" usv:person="brittany-laughlin" href="http://beta.usv.com/team/brittany-laughlin/">
															<img src="/static/img/staff/BrittanyLaughlinUSV_0.jpg" alt="thumbnail" height="160" width="160">
														</a>
														<p class="bio">
															<a class="open-bio" usv:person="brittany-laughlin" href="http://beta.usv.com/team/brittany-laughlin/">Brittany Laughlin</a> <!-- <br /><a href="http://beta.usv.com/team/brittany-laughlin/" class="more-button">MORE</a>-->
														</p>
																												<div class="full-bio-shim" style="display:none"></div>
														<div class="full-bio" style="display:none">
															<p><strong>Brittany Laughlin</strong> is the General Manager of the Union Square Ventures Network. Prior to Union Square Ventures, Brittany founded&nbsp;<a href="http://www.inclinehq.com/" target="_blank">Incline</a>, transitioning military veterans into technology jobs,&nbsp;and co-founded gtrot, a social travel recommendation engine. Previously, she worked at&nbsp;<a href="http://www.americanexpress.com/" target="_blank">American Express</a>.&nbsp;Brittany has a Bachelors degree in Marketing and International Business from New York University.</p>
															<div class="bio-links">
																																	<a class="blog" href="http://www.brittanymlaughlin.com">http://www.brittanymlaughlin.com</a>                                                  
																																																	<a class="twitter twitter-follow-button" href="http://twitter.com/br_ttany">@br_ttany</a>
																															</div>
														</div>
													</div>
												</div>
												
												<div id="" class="col-sm-3 col-xs-6 person-container" usv-person="brian-watson">
																									<div class="person">
																										<a class="open-bio" usv:person="brian-watson" href="http://beta.usv.com/team/brian-watson/">
																											<img src="/static/img/staff/brian_0.png" alt="thumbnail" height="160" width="160">
																										</a>
																										<p class="bio">
																											<a class="open-bio" usv:person="brian-watson" href="http://beta.usv.com/team/brian-watson/">Brian Watson</a> <!-- <br /><a href="http://beta.usv.com/team/brian-watson/" class="more-button">MORE</a>-->
																										</p>
																																								<div class="full-bio-shim" style="display:none"></div>
																										<div class="full-bio" style="display:none">
																											<p>Brian Watson has been a member of the investment team at Union Square Ventures since June 2012. Prior to Union Square Ventures, Brian worked at <a href="http://gilt.com/">Gilt Groupe</a>,&nbsp;<a href="http://jpmorganchase.com/">JPMorgan Chase &amp; Co.</a>,&nbsp;<a href="http://trendrr.com/">Trendrr</a>, and&nbsp;<a href="https://my.barackobama.com/page/content/obama-organizing-fellowship">Organizing for America</a>.</p>
												<p>Brian graduated from Columbia in 2012 with a B.S. in&nbsp;<a href="http://www.ieor.columbia.edu/pages/undergraduate/management_sys/index.html">Engineering Management Systems</a>, a degree that remixes traditional industrial engineering with economics and computer science.</p>
																											<div class="bio-links">
																																													<a class="blog" href="http://brianwatson.me">http://brianwatson.me</a>                                                  
																																																													<a class="twitter twitter-follow-button" href="http://twitter.com/bwats">@bwats</a>
																																											</div>
																										</div>
																									</div>
																								</div>
												
												
																								<div id="" class="col-sm-3 col-xs-6 person-container" usv-person="alexander-pease">
																									<div class="person">
																										<a class="open-bio" usv:person="alexander-pease" href="http://beta.usv.com/team/alexander-pease/">
																											<img src="/static/img/staff/Alexander.png" alt="thumbnail" height="160" width="160">
																										</a>
																										<p class="bio">
																											<a class="open-bio" usv:person="alexander-pease" href="http://beta.usv.com/team/alexander-pease/">Alexander Pease</a> <!-- <br /><a href="http://beta.usv.com/team/alexander-pease/" class="more-button">MORE</a>-->
																										</p>
																																								<div class="full-bio-shim" style="display:none"></div>
																										<div class="full-bio" style="display:none">
																											<p>Alexander Pease joined the investment team at Union Square Ventures in early 2012. He graduated from Princeton with a degree in physics but spent his summers as a developer. As a&nbsp;<a title="hackNY" href="http://hackny.org/a/students/">hackNY fellow</a>&nbsp;he worked for&nbsp;<a title="Vostu" href="http://vostu.com/">Vostu</a>&nbsp;and&nbsp;<a title="Todays Kicks" href="http://todayskicks.com/">Today’s Kicks</a>. Previously, he worked on&nbsp;<a title="NETRA" href="http://eyenetra.com/">NETRA</a>&nbsp;at the MIT Media Labs. Alexander loves hacking on side projects (such as <a href="https://github.com/AlexanderPease/twittercongress">FollowTheVote.org</a> and <a href="https://github.com/AlexanderPease/pyMetroGnome">MetroGnome</a>) and blogs at <a href="http://fermi.vc">fermi.vc</a>.</p>
																											<div class="bio-links">
																																													<a class="blog" href="http://fermi.vc">http://fermi.vc</a>                                                  
																																																													<a class="twitter twitter-follow-button" href="http://twitter.com/alexandermpease">@alexandermpease</a>
																																											</div>
																										</div>
																									</div>
																								</div>
</div><!-- /row -->
<h2 class="section-heading" id="team-heading">Operations Staff</h2>
<div class="row">
	<div id="" class="col-sm-3 col-xs-6 person-container" usv-person="kerri-rachlin">
		<div class="person">
			<a class="open-bio" usv:person="kerri-rachlin" href="http://beta.usv.com/team/kerri-rachlin/">
				<img src="/static/img/staff/Kerri.jpg" alt="thumbnail" height="160" width="160">
			</a>
			<p class="bio">
				<a class="open-bio" usv:person="kerri-rachlin" href="http://beta.usv.com/team/kerri-rachlin/">Kerri Rachlin</a> <!-- <br /><a href="http://beta.usv.com/team/kerri-rachlin/" class="more-button">MORE</a>-->
			</p>
																	<div class="full-bio-shim" style="display:none"></div>
			<div class="full-bio" style="display:none">
				<p>Kerri has been with Union Square Ventures since its inception in 2003. &nbsp;She graduated with a degree in Studio Art from Queens College. Kerri handles bookkeeping, HR and LP relations for the firm.</p>
				<div class="bio-links">
																																				</div>
			</div>
		</div>
	</div>

												<div id="" class="col-sm-3 col-xs-6 person-container" usv-person="gillian-campbell">
													<div class="person">
														<a class="open-bio" usv:person="gillian-campbell" href="http://beta.usv.com/team/gillian-campbell/">
															<img src="/static/img/staff/Gillian.jpg" alt="thumbnail" height="160" width="160">
														</a>
														<p class="bio">
															<a class="open-bio" usv:person="gillian-campbell" href="http://beta.usv.com/team/gillian-campbell/">Gillian Campbell</a><!-- <br /><a href="http://beta.usv.com/team/gillian-campbell/" class="more-button">MORE</a>-->
														</p>
																												<div class="full-bio-shim" style="display:none"></div>
														<div class="full-bio" style="display:none">
															<p>Gillian&nbsp;joined Union Square Ventures in July of 2012. She holds a&nbsp;degree in Psychology from Michigan State University as well as a dual&nbsp;Master’s in Business and Public Administration from the Stuart School&nbsp;of Business in Chicago. After college&nbsp;Gillian&nbsp;moved to south India&nbsp;where she taught at a residential school for children. Prior to coming&nbsp;to USV&nbsp;Gillian&nbsp;lived in Chicago where she was involved in the tech&nbsp;start-up community and held various administrative and finance&nbsp;positions.</p>
															<div class="bio-links">
																																															</div>
														</div>
													</div>
												</div>


												<div id="" class="col-sm-3 col-xs-6 person-container" usv-person="veronica-keaveney">
													<div class="person">
														<a class="open-bio" usv:person="veronica-keaveney" href="http://beta.usv.com/team/veronica-keaveney/">
															<img src="/static/img/staff/Veronica.jpg" alt="thumbnail" height="160" width="160">
														</a>
														<p class="bio">
															<a class="open-bio" usv:person="veronica-keaveney" href="http://beta.usv.com/team/veronica-keaveney/">Veronica Keaveney</a><!-- <br /><a href="http://beta.usv.com/team/veronica-keaveney/" class="more-button">MORE</a>-->
														</p>
																												<div class="full-bio-shim" style="display:none"></div>
														<div class="full-bio" style="display:none">
															<p>Veronica&nbsp;joined the Union Square Ventures team in February 2012. She&nbsp;attended Saint Anselm College where she earned a degree in Business&nbsp;and spent a semester studying abroad in Europe. Since graduation,&nbsp;Veronica&nbsp;has held positions at John Hancock Life Insurance as an&nbsp;Analyst as well as at Spark Capital.</p>
															<div class="bio-links">
																																															</div>
														</div>
													</div>
												</div>
												
												
												

																																			</div><!-- /row -->
						</div><!-- /col-10 -->
					</div><!--end of team-->
				</div><!-- /.col-lg-5 -->
			</div><!-- /.row -->
			
			<h2 class="section-heading" id="team-heading" style="text-transform:uppercase; font-weight: 300">Our Focus</h2>            
			<div class="row">
				{% for post in related_posts %}
				<div class="col-sm-6 col-md-4 related-post">
					{% module featured_post(post=post, urlparse=urlparse, show_votes=False, show_source=False) %}
				</div>
				{% end %}
			</div>
			<!-- /row -->
			<hr />
			<div style="text-align:center">
				<a class="btn" href="/tagged/thesis?author=usv">More on our approach</a>
			</div>
	

		</article>
	</div>
{% end %}