{% extends '../base.html' %}

{% block title %}
	Network | 
{% end %}

{% block body_class %}network{% end %}

{% block javascript %}
	<script>
		$(document).ready(function() {
			rp_max_height = 0;
			$('.featured-post').each(function() {
				if ($(this).height() > rp_max_height) {
					rp_max_height = $(this).height();
				}
			})
			$('.featured-post').height(rp_max_height);

			$('.carousel').carousel({
			  interval: 5000
			})
		
		});
	</script>

{% end %}

{% block content %}

<div id="main" role="main">
		<h1 class="mobile-page-headline">Network</h1>

		<article class="page">
		

			<!--<div id="photo-wall">
				<img src="http://wpstatic.usv.com/network-image2.jpg" alt="photo wall">
			</div>-->
			
			<div class="row">
				<div class="col-xs-12">	
			
			
			<div id="carousel-example-generic" class="carousel slide">
				  <!-- Indicators -->
				  <ol class="carousel-indicators">
					<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
					<li data-target="#carousel-example-generic" data-slide-to="1"></li>
					<li data-target="#carousel-example-generic" data-slide-to="2"></li>
					<li data-target="#carousel-example-generic" data-slide-to="3"></li>
					<li data-target="#carousel-example-generic" data-slide-to="4"></li>
					<li data-target="#carousel-example-generic" data-slide-to="5"></li>
					<li data-target="#carousel-example-generic" data-slide-to="6"></li>
				  </ol>
			
				  <!-- Wrapper for slides -->
				  <div class="carousel-inner">
					<div class="item active">
					  <img src="/static/img/network/usvnetwork-1.jpg" alt="...">
					</div>
					<div class="item">
					  <img src="/static/img/network/usvnetwork-2.jpg" alt="...">
					</div>
					<div class="item">
					  <img src="/static/img/network/usvnetwork-3.jpg" alt="...">
					</div>
					<div class="item">
					  <img src="/static/img/network/usvnetwork-4.jpg" alt="...">
					</div>
					<div class="item">
					  <img src="/static/img/network/usvnetwork-5.jpg" alt="...">
					</div>
					<div class="item">
					  <img src="/static/img/network/usvnetwork-6.jpg" alt="...">
					</div>
				  </div>
				
				  <!-- Controls -->
				  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
					<span class="icon-prev"></span>
				  </a>
				  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
					<span class="icon-next"></span>
				  </a>
			
			</div>
			
			
			<div class="deck" style="margin-bottom: 25px">
								<p>The USV Network connects portfolio companies to each other, to educational content, and to external resources. We believe that creating a community for portfolio companies to share experiences helps propel companies forward, faster.</p>
			</div>
			
		</div>
	</div>
			
			<div class="row">
				<div class="col-sm-6">
					<p>We connect portfolio peers through the online USV Network as well as multiple in-person events. Our in-person summits provide open conversations to share best practices and lessons learned. Our current summit groups include: CEOs, Engineering Leadership, Product, Design, Mobile, People, Data, Community, and Business Development. Each group meets twice a year. We also provide workshops on different topics including Growth, Legal, Finance, Taxes, Sales, and Policy.</p>
				</div>
				<div class="col-sm-6">
<p>To help create deeper relationships, all USV portfolio company team members are encouraged to apply for our Peer Mentoring program. The digital USV Network provides a place for on-going conversations and recommended resources.</p>
<p>Sign in to the <a href="http://yammer.com/usvnetwork">USV Network on Yammer</a><a href="#"><br>
</a></p>
				</div><!-- /.col-sm-6 -->
			</div><!-- /.row -->
				
			{% if len(related_posts) > 0 %}
			<h2 class="section-heading" id="team-heading" style="text-transform:uppercase; font-weight: 300">Network Updates</h2>            
			<div class="row">
				{% for post in related_posts %}
				<div class="col-sm-4 related-post">
					{% module featured_post(post=post, urlparse=urlparse, show_votes=False, show_source=False) %}
				</div>
				{% end %}				
			</div>
			<!-- /row -->
			{% end %}
				
		</article>
	</div>
{% end %}