{% extends '../base.html' %}

{% block title %}
	Portfolio | 
{% end %}

{% block javascript %}
	<script>
		var get_height = function() {
			var max_height = 0;
			$('.company').each(function(){
				if ($(this).height() > max_height) {
					max_height = $(this).height();
				}
			});
			$('.company').height(max_height);
			console.log(max_height)
		}
		$(document).ready(function() {
			/* this is a hack. wait after page loads, then adjust heights (to
			make sure at least some images have loaded */
			setTimeout('get_height()', 300);
		})
	</script>
{% end %}

{% block content %}

	<!--<h1 class="mobile-page-headline">Portfolio</h1>-->

		<!--<article class="page">
		<div class="deck" style="padding: 30px 40px !important">
			USV portfolio companies span sectors and geographies but have one thing in common: they can redefine markets using the power of information, collaboration and the web.
		</div>
	</article>-->

		<div class="row">
			<div class="col-sm-3 hidden-xs">


				<div id="portfolio-filter">
				<p class="" style="white-space:nowrap; margin-top: 0;">By initial investment:</p>
				<ul class="filter-tabs" id="series">
					<li class="all active"><a href="#" usv-filter="all">All</a></li>
				</ul>
				<p class="" style="white-space:nowrap">By year:</p>
				<ul class="filter-tabs" id="years">
					<li class="all active"><a href="#" usv-filter="all">All</a></li>
				</ul>
				<p class="" style="white-space:nowrap">By category:</p>
				<ul class="filter-tabs" id="categories">
					<li class="all active"><a href="#" usv-filter="all">All</a></li>
				</ul>
				<p class="">By location:</p>
				<ul class="filter-tabs" id="locations">
					<li class="all active"><a href="#" usv-filter="all">All</a></li>
				</ul>
				</div>

			</div><!-- /col-lg-2 -->



			<div class="col-sm-9 col-xs-12">
				<!-- NOT IN USE. Div for bio information when clicking on each person -->
				<div id="full-investment" style="display:none">
					<div id="full-investment-content"></div>
					<div id="close-investment"><a href="" class="btn btn-small">Close</a></div>
				</div>

				<h2 class="subsection section-heading" id="current-portfolio">Current Portfolio<span class="filter-label" style="display:none"></span>
					</h2>
				<div class="row investments-list">

				{% for c in current %}
					<div class="col-sm-4 col-xs-6 company-container current" usv-investment="{{ c.name }}" usv:investment_series="{{ c.investment_series }}" usv:investment_series_slug="{{ slugify(c.investment_series) }}" usv:city_slug="{{ slugify(c.locations) }}" usv:city="{{ c.locations }}" usv:investment_date_slug="{{ c.investment_year }}" usv:investment_date="{{ c.investment_year }}" usv:investment_categories_slug="{{ slugify(c.categories) }}" usv:investment_categories="{{ c.categories }}">
						<div class="company">
							<a class="open-investment" usv-investment="{{ c.name }}" href="{{ c.url }}">
								<!--<img alt="{{ c.name }}" src="/static/img/logos/{{ c.logo_filename }}" class="logo mt-image-none extra-padding" style="" width="220" height="150">-->
								<img alt="{{ c.name }}" src="https://googledrive.com/host/0B1YBPhiOt-6ieldiQ1VpcVJJOFE/{{ slugify(c.name) }}.png" class="logo mt-image-none extra-padding" style="" width="220" height="150">
							</a>
							<p class="summary">
								{% raw c.description %}
							</p>
							<span class="since-date">
								{{ c.investment_year }}, {{ c.investment_series }}
							</span>
							{% if is_staff(username) %}
							<span class="editlink"><a href="{{ c.editlink() }}" target="_blank">edit</a></span>
							{% end %}
						</div><!-- /company -->
					</div><!-- /col-lg-4 -->
				{% end %}
				</div><!-- /row -->


				<h2 class="subsection section-heading" id="past-portfolio" style="clear:both">Exited Investments<span class="filter-label" style="display:none"></span>
					</h2>	

				<div class="row investments-list">

					{% for c in exited %}
						<div class="col-sm-4 col-xs-6 company-container past" usv-investment="{{ c.name }}" usv:investment_series="{{ c.investment_series }}" usv:investment_series_slug="{{ slugify(c.investment_series) }}" usv:city_slug="{{ slugify(c.locations) }}" usv:city="{{ c.locations }}" usv:investment_date_slug="{{ c.investment_year }}" usv:investment_date="{{ c.investment_year }}" usv:investment_categories_slug="{{ slugify(c.categories) }}" usv:investment_categories="{{ c.categories }}">
							<div class="company">
								<a class="open-investment" usv-investment="{{ c.name }}" href="{{ c.url }}">
									<!--<img alt="{{ c.name }}" src="/static/img/logos/{{ c.logo_filename }}" class="logo mt-image-none extra-padding" style="" width="220" height="150">-->
									<img alt="{{ c.name }}" src="https://googledrive.com/host/0B1YBPhiOt-6ieldiQ1VpcVJJOFE/{{ slugify(c.name) }}.png" class="logo mt-image-none extra-padding" style="" width="220" height="150">
								</a>
								<p class="summary">
									{% raw c.description %}
								</p>
								<span class="since-date">
									{{ c.investment_year }}, {{ c.investment_series }}
								</span>
								{% if is_staff(username) %}
								<span class="editlink"><a href="{{ c.editlink() }}" target="_blank">edit</a></span>
								{% end %}
							</div><!-- /company -->
						</div><!-- /col-lg-4 -->
					{% end %}

				</div><!-- /row -->
			</div><!-- /col-lg-10 -->


		</div><!-- /row -->

{% end %}
