{% extends '../base.html' %}

{% block title %}
	Tools | 
{% end %}

{% block javascript %}
{% end %}

{% block content %}

<div id="main" role="main">
	<h1>Posting Tools</h1>
	<p>Use these tools to make it easier to share links to USV.com:</p>
	<ul>
		<li><b><a href="https://chrome.google.com/webstore/detail/usvcom/ikpfoekojmeibidkolkbbocepjfdmgol">Chrome Extension</a></b><br /> Quickly post whatever page you're viewing to USV.com</li>
		<li><b>Bookmarklet:</b> <a id="bookmarklet" href="javascript:var d%3Ddocument,w%3Dwindow,e%3Dw.getSelection,k%3Dd.getSelection,x%3Dd.selection,s%3D(e%3Fe():(k)%3Fk():(x%3Fx.createRange().text:0)),f%3D%27http://beta.usv.com/posts/new%27,l%3Dd.location,e%3DencodeURIComponent,p%3D%27%3Fv%3D3%26url%3D%27%2Be(l.href) %2B%27%26title%3D%27%2Be(d.title) %2B%27%26s%3D%27%2Be(s),u%3Df%2Bp%3Btry%7Bif(!/%5E(.*%5C.)%3Ftumblr%5B%5E.%5D*%24/.test(l.host))throw(0)%3Btstbklt()%3B%7Dcatch(z)%7Ba %3Dfunction()%7Bif(!w.open(u,%27t%27,%27toolbar%3D0,resizable%3D0,status%3D1,width%3D450,height%3D430%27))l.href%3Du%3B%7D%3Bif(/Firefox/.test(navigator.userAgent))setTimeout(a,0)%3Belse a()%3B%7Dvoid(0)">Post to USV.com</a> (&larr; drag to your bookmarks bar)<br />Works on any browser.</li>
		<li><b><a href="https://play.google.com/store/apps/details?id=com.connectedio.usvmobile">Android App</a></b><br /> Quickly post a link to USV.com, from your Android device.</li>
		
	</ul>
	
</div>

{% end %}