{% extends "../base.html" %}

{% block content %}
  {% if status == 'enter_email' %}
    <form id="submit-form" class="" action="/auth/email/" method="POST">
      {% module xsrf_form_html() %}
      <input type="hidden" name="next" value="{{ next }}" />
      <input type="hidden" name="subscribe_to" value="{{ subscribe_to }}" />
      <span class="form-title">Enter your email address</span>
      <p>You email address will be used to verify your identity. It will also be used to notify you regarding:</p>
      <ul>
        <li>Comments on submissions you create.</li>
        <li>Replies to your comments.</li>
      </ul>
      <fieldset>
        <ol>
          <li>
            <label for="email">Email</label>
            <div class="field-errors">{{ error }}</div>
            <input id="email" name="email" type="text" placeholder="john@gmail.com" value="{{ email }}">
            <p>This email address will not be shared or displayed.</p>
          </li>
          <li class="for-submit">
            <button type="submit" class="submit-form-button">Submit</button>
          </li>
        </ol>
      </fieldset>
    </form>
  {% elif status == 'verification_email' %}
    <p>An email verification link has been sent to <b>{{ email }}</b>. Please check your inbox.</p>
  {% elif status == 'email_verified' %}
    <p>Your email address (<b>{{ email }}</b>) has been verified. Please <a href="{{ next or '/' }}">click here</a> to proceed.</p>
  {% elif status == 'close_popup' %}
    <p><a href="javascript:window.close();">Click here</a> if you are not redirected.</p>
  {% end %}
{% end %}

{% block javascript %}
  {% if status == 'close_popup' %}
    <script type="text/javascript">
      window.close();
    </script>
  {% end %}
  <script type="text/javascript">
    $(function() {
      USV_setup_tinymce();
      $('.header-submit-button').hide();
      $('#submit-trigger').hide();
      $('.header-search-container').css({right: '0px'});
    });
  </script>
{% end %}
