{% extends '../base.html' %}

{% block body_class %}conversation{% end %}

{% block content %}
  <div id="main" role="main">
    <section class="featured-feed clearfix mobile-hidden">

      <div class="well" style="text-align:center">
        <img src="{{ user['user'].get('profile_image_url') }}" />  
        <h2 style="margin-bottom: 0;"><a href="http://twitter.com/{{screen_name}}" target="_blank">@{{screen_name}}</a> on Twitter</h2>
        {% if current_user in settings.get('staff') %}
          <p><a href="https://partners.mongohq.com/app18119720-heroku-com/mongo/app18119720/collections/user_info/documents/o:{{ user['_id'] }}" target="_blank">mongohq</a></p>
        {% end %}
      </div>

      {% if tags %}
      <h3>Tags by {{screen_name}}</h3>
      {% if len(tags['result']) == 0 %}
        <p>{{screen_name}} has not tagged any shares yet.</p>
      {% else %}
        {% for t in tags['result'] %}
          {% if t['_id'] == tag %}
            <strong>#{{t['_id']}} ({{t['count']}})</strong>
          {% else %}
            <a href="/user/{{screen_name}}?tag={{url_escape(t['_id'])}}">#{{t['_id']}} ({{t['count']}})</a>
          {% end %}
          &nbsp;&nbsp;&nbsp;&nbsp;
        {% end %}
      {% end %}
      {% end %}
    </section>

    <section class="hot-newest-feed">

      <ul class="nav nav-tabs" style="margin-top: 0">
        <li class="{{ 'active' if section == 'shares' else '' }}"><a class="" href="/user/{{ screen_name }}/shares">Shares</a></li>
        <li class="{{ 'active' if section == 'bumps' else '' }}"><a class="" href="/user/{{ screen_name }}/bumps">Bumps</a></li>
        <li class="{{ 'active' if section == 'mentions' else '' }}"><a class="" href="/user/{{ screen_name }}/mentions">Mentions</a></li>
        {% if screen_name == current_user %}
          <li class="{{ 'active' if section == 'settings' else '' }}"><a class="" href="/user/{{ screen_name }}/settings">Settings</a></li>
        {% end %}
      </ul>
      <br />

      {% if posts and len(posts) == 0 %}
        <p>There are currently no shares for this view available.</p>
      {% else %}

        {% if section != "settings" %}
        <h3 style="margin-top:0">
          {% if section == "shares" %}
              Posts {{ screen_name }} has shared:
          {% elif section == "bumps" %}
            Posts {{ screen_name }} has bumped:
          {% elif section == "mentions" %}
            Posts that mention {{ screen_name }}:
          {% end %}
        </h3>
        {% end %}
        
        {% if section != "settings" %}
        <ul class="feed sort-by-new">
          {% for p in posts %}
            <li class="post post-md">
              {% include ../post/post_snippet.html %}
            </li>
          {% end %}
        </ul>
      {% end %}

      <div id="pagination-next-prev"></div>
      {% end #not settings %}
      {% if section == "settings" %}
        
        {% if msg and msg == "updated" %}
          <div class="alert alert-success low-pro">
            Updated!
          </div>
        {% end %}
        
        {% if msg and msg == "twitter-thanks" %}
          <div class="alert alert-info low-pro">
            Great!  Now can update your settings and be off to the races.
          </div>
        {% end %}
        
      <h3 style="margin-top:0">Connections</h3>
        
      <table class="table">
        <tr class="complete">
          <th class="step">
            <span class="glyphicon glyphicon-ok"></span>
          </th>
          <th>
            {% if 'user' in user.keys() %}
              <img src="/static/img/connect-twitter-active.png" /> &nbsp;
            {% else %}
              <img src="/static/img/connect-twitter-inactive.png" /> &nbsp;
            {% end %}
          </th>
          <td>
            @{{ current_user }}
          </td>
          <td></td>
          <td class="text-muted">(currently this cannot be changed)</td>
        </tr>
        {% if 'disqus_user_id' in user.keys() and user['disqus_user_id'] != '' %}
        <tr class="complete">
          <th class="step"><span class="glyphicon glyphicon-ok"></span></th>
        {% else %}
        <tr class="">
          <th class="step"></th>
        {% end %}
          <th>
            {% if 'disqus_user_id' in user.keys() and user['disqus_user_id'] != '' %}
            <img src="/static/img/connect-disqus-active.png" /> &nbsp;
            {% else %}
            <img src="/static/img/connect-disqus-inactive.png" /> &nbsp;
            {% end %}
          </th>
          {% if 'disqus_user_id' in user.keys() and user['disqus_user_id'] != '' %}
          <td>
            {{ user['disqus_username'] }} &nbsp;
          </td>
          <td></td>
          <td>
            <a href="/remove/disqus" >Remove Disqus Connection</a>
          </td>
          {% else %}
          <td>
            <a href="/auth/disqus">Connect your Disqus account</a>
          </td>
          <td></td>
          <td>
            <div class="alert alert-info low-pro">
              &larr; Log in with Disqus to receive emails when people comment on your posts.
            </div>
          </td>
          {% end %}
        </tr>
        {% if current_user_can('connect_to_yammer') %}
        {% if 'yammer' in user.keys() and user['yammer']['access_token']['token'] != '' %}
        <tr class="complete">
          <th class="step"><span class="glyphicon glyphicon-ok"></span></th>
        {% else %}
        <tr class="">
          <th class="step"></th>
        {% end %}
          <th>
        {% if 'yammer' in user.keys() and user['yammer']['access_token']['token'] != '' %}
            <img src="/static/img/connect-yammer-active.png" /> &nbsp;
            {% else %}
            <img src="/static/img/connect-yammer-inactive.png" /> &nbsp;
            {% end %}
          </th>
          {% if 'yammer' in user.keys() and user['yammer']['access_token']['token'] != '' %}
          <td>
            USV Network
          </td>
          <td></td>
          <td>
            <a href="/remove/yammer" >Remove Yammer Connection</a>
          </td>
          {% else %}
          <td>
            <a href="/auth/yammer">Connect your Yammer account</a>
          </td>
          <td></td>
          <td>
            <div class="alert alert-info low-pro">
              &larr; Log in to the USV Network via Yammer.
            </div>
          </td>
          {% end %}
        </tr>
        {% end %}
      </table>
      
      <h3>Settings</h3>
      <form id="submit-form" class="" action="/auth/email/" method="POST">
      <table class="table">
      {% module xsrf_form_html() %}
      {% if 'email_address' in user and user['email_address'] %}
      <tr class="complete">
      {% else %}
      <tr class="">
      {% end %}
        <th>Email</th>
        {% if 'email_address' in user.keys()  %}
        {% set email_address = user['email_address'] %}
        {% else %}
        {% set email_address = "" %}
        {% end %}
        <td colspan="2"><input type="text" class="form-control" name="email" value="{{ email_address }}" />
          {% if 'email_address' not in user or not user['email_address'] %}
            <div class="alert alert-info low-pro">
              &uarr; Please add your email address.
            </div>
          {% end %}
        </td>
      </tr>
      <tr>
        <th>Daily Email?</th>
        <td><input type="checkbox" name="wants_daily_email" {{ "checked" if user['wants_daily_email'] else "" }}/></td>
        <td>Sent daily with the day's hottest posts</td>
      </tr> 
      <tr>
           <th style="white-space:nowrap">Email Alerts?</th>
           <td><input type="checkbox" name="wants_email_alerts" {{ "checked" if user['wants_email_alerts'] else "" }}/></td>
           <td>When people bump your posts, etc</td>
         </tr>      
      </table>
      <p><input type="submit" value="Update" class="btn btn-default" /></p>
      </form>
      
      {% end %}
  

    </section>
  </div>
{% end %}

{% block javascript %}
  <script type="text/javascript">
    $(document).ready(function() {
      {% if current_user %}
        $('#submit-modal .submit').show();
        {% if current_user in settings.get('staff') %}
          $('#submit-modal .login').hide();
          $('#submit-modal .submit-staff').show();
          $('a.mute').click(function(e) {
            e.preventDefault();
            if (confirm("are you sure?")) {
              window.location = this.href;
            }
          })
        {% else %}
          $('#submit-modal .login').hide();
        {% end %}
      {% end %}
    }); 
  </script>
{% end %}
