{% extends '../base.html' %}

{% block body_class %}conversation{% end %}

{% block content %}
  <div id="main" role="main">
    <section class="featured-feed clearfix mobile-hidden">

      <h3>Twitter profile</h3>
      <p>Check out more shared by <a href="http://twitter.com/{{screen_name}}" target="_blank">@{{screen_name}}</a> on <a href="http://twitter.com">Twitter</a>.</p>
      <br />

      <h3>Tags by {{screen_name}}</h3>
      {% if len(tags['result']) == 0 %}
        <p>{{screen_name}} has not tagged any shares yet.</p>
      {% else %}
        {% for t in tags['result'] %}
          {% if t['_id'] == tag %}
            <strong>#{{t['_id']}} ({{t['count']}})</strong>
          {% else %}
            <a href="/user/{{screen_name}}?tag={{url_escape(t['_id'])}}">#{{t['_id']}} ({{t['count']}})</a>
          {% end %}
          &nbsp;&nbsp;&nbsp;&nbsp;
        {% end %}
      {% end %}
    </section>

    <section class="hot-newest-feed">

      <ul class="tabs">
        <li class="{{ 'is-active' if section == 'shares' else '' }}"><a class="sort btn" href="?section=shares">{{screen_name}} Shares</a></li>
        <li class="{{ 'is-active' if section == 'bumps' else '' }}"><a class="sort btn" href="?section=bumps">Bumps</a></li>
        <li class="{{ 'is-active' if section == 'mentions' else '' }}"><a class="sort btn" href="?section=mentions">Mentions</a></li>
        {% if screen_name == current_user %}
          <li class=""><a class="sort btn" href="/user/settings">Settings</a></li>
        {% end %}
      </ul>

      {% if len(posts) == 0 %}
        <p>There are currently no shares for this view available.</p>
      {% else %}
        <ul class="feed sort-by-new">
          {% for p in posts %}
            <li>
              {% include ../post/post_snippet.html %}
            </li>
          {% end %}
        </ul>
      {% end %}

      <div id="pagination-next-prev"></div>

    </section>
  </div>
{% end %}

{% block javascript %}
  <script type="text/javascript">
    $(document).ready(function() {
      {% if current_user %}
        $('#submit-modal .submit').show();
        {% if current_user in settings.get('staff') %}
          $('#submit-modal .login').hide();
          $('#submit-modal .submit-staff').show();
          $('a.mute').click(function(e) {
            e.preventDefault();
            if (confirm("are you sure?")) {
              window.location = this.href;
            }
          })
        {% else %}
          $('#submit-modal .login').hide();
        {% end %}
      {% end %}
    }); 
  </script>
{% end %}
