{% extends "../base.html" %}

{% block content %}
  <div id="main" role="main">

      <!--
      <ul class="tabs">
        <li class=""><a class="sort btn" href="?section=shares">{{user['user']['screen_name']}} Shares</a></li>
        <li class=""><a class="sort btn" href="?section=mentions">Mentions</a></li>
        <li class="active"><a class="sort btn" href="/user/settings">Settings</a></li>
      </ul>
    -->
    
      {% if msg and msg == "updated" %}
        <div class="alert alert-success">
          Your settings have been updated.
        </div>
      {% end %}
    
      <h1>Settings</h1>
      <table class="table">
        <form id="submit-form" class="" action="/auth/email/" method="POST">
          {% module xsrf_form_html() %}
        <tr>
          <th>Email</th>
          <td><input type="text" class="form-control" name="email" value="{{ user['email_address'] }}" /></td>
          <td><input type="submit" value="Update" class="btn btn-default" /></td>
        </tr>
        </form>
        <tr>
          <th>Disqus</th>
          <td>
          {% if 'disqus_user_id' in user.keys() and user['disqus_user_id'] != '' %}
            <img src="/static/img/connect-disqus-active.png" /> &nbsp;
            <a href="/remove/disqus" class="btn">Remove Disqus Connection</a>
          {% else %}
            <img src="/static/img/connect-disqus-inactive.png" /> &nbsp;
            <a href="/auth/disqus">Connect your Disqus account</a>
          {% end %}
          </td>
          <td></td>
        </tr>
        <tr>
          <th>Twitter</th>
          <td>
          {% if 'user' in user.keys() %}
            <img src="/static/img/connect-twitter-active.png" /> &nbsp;
            @{{ current_user }}
          {% else %}
            <img src="/static/img/connect-twitter-inactive.png" /> &nbsp;
          {% end %}
          </td>
          <td></td>
        </tr>
      </table>

  </div>
{% end %}

