{% extends "../base.html" %}

{% block content %}
  <div id="main" role="main">

      <!--
      <ul class="tabs">
        <li class=""><a class="sort btn" href="?section=shares">{{user['user']['screen_name']}} Shares</a></li>
        <li class=""><a class="sort btn" href="?section=mentions">Mentions</a></li>
        <li class="active"><a class="sort btn" href="/user/settings">Settings</a></li>
      </ul>
    -->
    <style>
      .alert.low-pro {
        padding: 5px 15px;
      }
    </style>

     
      
      <h1 class="settings" style="margin: 0 0 10px;padding: 0;text-transform:uppercase; font-size: 18px">Settings</h1>
  
      <h2>Connections</h2>
      <table class="table">
        <tr class="complete">
          <th class="step">
            1 <span class="glyphicon glyphicon-ok"></span>
          </th>
          <th>Twitter</th>
          <td>
          {% if 'user' in user.keys() %}
            <img src="/static/img/connect-twitter-active.png" /> &nbsp;
            @{{ current_user }}
          {% else %}
            <img src="/static/img/connect-twitter-inactive.png" /> &nbsp;
          {% end %}
          </td>
          <td></td>
          <td class="text-muted">(currently this cannot be changed)</td>
        </tr>
        {% if 'disqus_user_id' in user.keys() and user['disqus_user_id'] != '' %}
        <tr class="complete">
          <th class="step">3 <span class="glyphicon glyphicon-ok"></span></th>
        {% else %}
        <tr class="">
          <th class="step">2</th>
        {% end %}
          <th>Disqus</th>
          {% if 'disqus_user_id' in user.keys() and user['disqus_user_id'] != '' %}
          <td>
            <img src="/static/img/connect-disqus-active.png" /> &nbsp;
            {{ user['disqus_username'] }} &nbsp;
            
          </td>
          <td></td>
          <td>
            <a href="/remove/disqus" >Remove Disqus Connection</a>
          </td>
          {% else %}
          <td>
            <img src="/static/img/connect-disqus-inactive.png" /> &nbsp;
            <a href="/auth/disqus">Connect your Disqus account</a>
          </td>
          <td></td>
          <td>
            <div class="alert alert-info low-pro">
              &larr; Log in with Disqus to receive emails when people comment on your posts.
            </div>
          </td>
          {% end %}
        </tr>
      </table>
      
      <h2>Settings</h2>
      <form id="submit-form" class="" action="/auth/email/" method="POST">
      <table class="table">
      {% module xsrf_form_html() %}
      {% if 'email_address' in user and user['email_address'] %}
      <tr class="complete">
        <th class="step"><span class="glyphicon glyphicon-ok"></span></th>
      {% else %}
      <tr class="">
        <th class="step"></th>
      {% end %}
        <th>Email</th>
        <td><input type="text" class="form-control" name="email" value="{{ user['email_address'] }}" /></td>
        <td><input type="submit" value="Update" class="btn btn-default" /></td>
        <td>
          {% if 'email_address' not in user or not user['email_address'] %}
            <div class="alert alert-info low-pro">
              &larr; Please add your email address.
            </div>
          {% end %}
        </td>
      </tr>
      </table>
      </form>
      

  </div>
{% end %}

