{% extends "../base.html" %}

{% block content %}
  <div id="main" role="main">

      <!--
      <ul class="tabs">
        <li class=""><a class="sort btn" href="?section=shares">{{user['user']['screen_name']}} Shares</a></li>
        <li class=""><a class="sort btn" href="?section=mentions">Mentions</a></li>
        <li class="active"><a class="sort btn" href="/user/settings">Settings</a></li>
      </ul>
    -->
    <style>
      .alert.low-pro {
        padding: 5px 15px;
      }
    </style>

      {% if msg and msg == "updated" %}
        <div class="alert alert-success low-pro">
          Updated!
        </div>
      {% end %}
      
      <h1 class="settings" style="margin: 0 0 10px;padding: 0;text-transform:uppercase; font-size: 18px">Settings</h1>
  
      <table class="table">
        <form id="submit-form" class="" action="/auth/email/" method="POST">
          {% module xsrf_form_html() %}
        <tr>
          <th>Email</th>
          <td><input type="text" class="form-control" name="email" value="{{ user['email_address'] }}" /></td>
          <td><input type="submit" value="Update" class="btn btn-default" /></td>
          <td>
            {% if not user['email_address'] %}
              <div class="alert alert-info low-pro">
                &larr; Please add your email address.
              </div>
            {% end %}
          </td>
        </tr>
        </form>
        <tr>
          <th>Disqus</th>
          
          {% if 'disqus_user_id' in user.keys() and user['disqus_user_id'] != '' %}
          <td>
            <img src="/static/img/connect-disqus-active.png" /> &nbsp;
            <a href="http://disqus.com/{{ user['disqus_username'] }}">{{ user['disqus_username'] }}</a> &nbsp;
            <a href="/remove/disqus" >Remove Disqus Connection</a>
          </td>
          <td></td>
          <td></td>
          {% else %}
          <td>
            <img src="/static/img/connect-disqus-inactive.png" /> &nbsp;
            <a href="/auth/disqus">Connect your Disqus account</a>
          </td>
          <td></td>
          <td>
            <div class="alert alert-info low-pro">
              &larr; Log in with Disqus to receive emails when people comment on your posts.
            </div>
          </td>
          {% end %}
        </tr>
        <tr>
          <th>Twitter</th>
          <td>
          {% if 'user' in user.keys() %}
            <img src="/static/img/connect-twitter-active.png" /> &nbsp;
            @{{ current_user }}
          {% else %}
            <img src="/static/img/connect-twitter-inactive.png" /> &nbsp;
          {% end %}
          </td>
          <td></td>
          <td class="text-muted">(currently this cannot be changed)</td>
        </tr>
      </table>

  </div>
{% end %}

