{% extends '../base.html' %}

{% block body_class %}conversation{% end %}

{% block content %}
  {% from urlparse import urlparse %}
  {% from lib import template_helpers %}
  <div id="main" role="main">
    <section class="hot-newest-feed">

      <ul class="feed sort-by-{{ sort_by }}">
        {% for post in posts %}
          <li class="repeat">
            <div class="avatar">
              <a href="http://www.twitter.com/{{ post['user']['username'] }}" target="_blank">
                <img title="{{ post['user']['username'] }}" src="{{ post['user']['profile_image_url_https'] }}" alt="thumbnail">
              </a>
            </div>
            <div class="content">
              {% if 'url' in post and post['url'] %}
                <a class="title" href="{{ post['url'] }}" rel="nofollow" target="_blank">{{ post['title'] }}</a>
                <a href="{{ post['url'] }}" rel="nofollow" class="source" target="_blank">{{ urlparse(post['url']).netloc }}</a>
              {% else %}
                <a class="title" href="/posts/{{ post['slug'] }}" target="_blank">{{ post['title'] }}</a>
                <a href="/posts/{{ post['slug'] }}" class="source" target="_blank">usv.com</a>
              {% end %}
              <div class="meta">
                <a class="username-link" href="http://www.twitter.com/{{ post['user']['username'] }}" target="_blank" style="color: #999">@{{ post['user']['username'] }}</a>
                <span class="username" style="">@{{ post['user']['username'] }}</span>
                <span class="time"><a href="/posts/{{ post['slug'] }}" ><span class="glyphicon glyphicon-link" style="margin: 0;font-size: 90%"></span> {{ template_helpers.pretty_date(post['date_created']) }}</a></span>
                <a href="/posts/{{ post['slug'] }}/upvote" class="votes-count ajax_upvote_link upvote-button">
                  <i class="icon-arrow-up icon"></i>
                  <span class="value">{{ post['votes'] }} vote{{ 's' if post['votes'] != 1 else '' }}</span>
                </a>
                <a href="/posts/{{ post['slug'] }}" ><span class="glyphicon glyphicon-comment" style="margin: 0;"></span></a> <a class="dsq-comment-count" data-disqus-identifier="{{ str(post['_id']) }}" href="/posts/{{ post['slug'] }}">{{ post['comment_count'] }} comment{{ 's' if post['comment_count'] != 1 else '' }}</a>
              </div>
            </div>
          </li>      
        {% end %}
      </ul>

      <div id="pagination-next-prev"></div>

    </section>
  </div>
{% end %}
